
<!-- <p>permissions: {{ permissions | json }}</p> --> 
<!-- <p>permission values: {{ permissionValues | json }}</p> -->
<!-- <p>comp permissions: {{ compPermissions | json }}</p> -->
<!-- <p>menu permissions: {{ menuPermissions | json }}</p> -->
<!-- <ul class="nav nav-pills nav-fill pb-3">
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['user-access-view']" routerLinkActive="active">Page Permissions</a>
    </li>
  
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['app-access-view']" routerLinkActive="active">Permissions</a>
    </li>
  </ul> -->
  <h5>My Permissions:</h5>
  <p><button class="btn btn-primary btn-sm" (click)="refreshPage();" >
    Reload permissions   </button></p>
  <router-outlet></router-outlet>
