<div class="ml auto">
  <ul class="nav nav-pills nav-fill pb-3">
    <li role="button"
        class="nav-item"
        style="background-color: #94D60A; color: white; padding: 10px 15px; border-radius: 5px; font-weight: bolder; text-decoration: none;"
        [routerLink]="'imi-ra-dev-req-group'"
        routerLinkActive="active"
        appMenuAccessLink
        [rootPath]="rootPath"
        >IMI R&A Development Request
    </li>
    <li role="button"
        class="nav-item"
        style="background-color: #632B86; color: white; padding: 10px 15px; border-radius: 5px; font-weight: bolder; text-decoration: none;"
        [routerLink]="'imi-ra-output-req-group'"
        routerLinkActive="active"
        appMenuAccessLink
        [rootPath]="rootPath"
        >IMI R&A Output Request
    </li>
  </ul>
</div>

<router-outlet></router-outlet>
