<h2>My Login Log</h2>
<app-loader [isLoading]="isLoading"></app-loader>
<app-user-login-details-filter [selectedFilters]="selectedFilters" (filterChange)="onFilterChange($event)"></app-user-login-details-filter>
<div class="row " style="min-height: 200px;">
  <div class="col-md-12">
    <div class="table-responsive">
			<table class="table table-sm table-hover small table-striped">
				<thead style="background-color: var(--green) !important;">
					<tr>
						<th align="right">Login Attempted On</th>
						<th align="right">Url</th>
					</tr>
				</thead>
				<tbody>
					<tr
						*ngFor="let record of records; let i = index"
					>
						<td>{{ record.createdOn | date: 'dd-MMM-yyyy HH:mm:ss' }}</td>
						<td>{{ record.url }}</td>
					</tr>
				</tbody>
			</table>
			<pagination-control
				[page]="pageNumber"
				[pageSize]="pageSize"
				[collectionSize]="totalItems"
				(onPageChange)="onPageChange($event)"
			></pagination-control>
		</div>
	</div>
</div>