<ul class="nav nav-pills nav-fill pb-3">
  <li role="button"
      style="padding: 5px 5px 5px 10px; border-radius: 5px; background-color: #94D60A !important; color: white !important; background-image: linear-gradient(to bottom, #94D60A 0px, #94D60A 100%) !important"
      class="nav-item nav-link" 
      [routerLink]="'imi-ra-devp-request'"
      routerLinkActive="active"
      appStudyMenuAccessLink
      [rootPath]="rootPath"
      >IMI R&A Development Request
  </li>
  <li role="button"
      style="padding: 5px 5px 5px 10px; border-radius: 5px; background-color: #94D60A !important; color: white !important; background-image: linear-gradient(to bottom, #94D60A 0px, #94D60A 100%) !important"
      class="nav-item nav-link" 
      [routerLink]="'imi-ra-devp-request-view'"
      routerLinkActive="active"
      appStudyMenuAccessLink
      [rootPath]="rootPath"
      >IMI R&A Development Request - View
  </li>
  <li role="button"
      style="padding: 5px 5px 5px 10px; border-radius: 5px; background-color:#632B86 !important; color: white !important; background-image:linear-gradient(to bottom, #632B86 0px, #632B86 100%) !important"
      class="nav-item nav-link" 
      [routerLink]="'imi-ra-output-request'"
      routerLinkActive="active"
      appStudyMenuAccessLink
      [rootPath]="rootPath"
  
      >IMI R&A Output Request
  </li>
  <li role="button"
      style="padding: 5px 5px 5px 10px; border-radius: 5px; background-color:#632B86 !important; color: white !important; background-image:linear-gradient(to bottom, #632B86 0px, #632B86 100%) !important"
      class="nav-item nav-link" 
      [routerLink]="'imi-ra-output-request-view'"
      routerLinkActive="active"
      appStudyMenuAccessLink
      [rootPath]="rootPath"
      >IMI R&A Output Request - View
  </li>
</ul>
<hr />
<router-outlet></router-outlet>
