<app-loader [isLoading]="true" *ngIf="loading"></app-loader>
<table class="table table-sm small table-striped">
    <thead>
		<tr class="bg-green align-text-top">
			<th scope="col">Form Name</th>
			<th scope="col">Logic</th>
            <th scope="col">Message</th>
			<th scope="col">Is Action Required</th>
			<th scope="col">Comments</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let record of records">
			<td> {{ record. formName }} </td>
			<td> {{ record.logic }} </td>
            <td> {{ record.message }} </td>
            <td> {{ getOfflineIgnoreStatus(record.offlineIgnore) }} </td>
            <td> {{ record.comments }} </td>
		</tr>
    </tbody>
</table>
<!-- <span class="alert alert-info">Last Updated on: {{ records?.updatedOn | date: 'd-MMM-y, h:mm a' }}</span> -->

