<ul class="list-group small ms-n4 mt-n3 list-group-flush border-right mb-n4 study-tab-list">
  <li
    role="button"
    class="list-group-item"
    [routerLink]="'crm-tabs/crm-study-award-management'"
    routerLinkActive="active"
  >
    CRM Study Award
  </li>
  <li role="button" class="list-group-item" [routerLink]="'crm-tabs/crm-study-details'" routerLinkActive="active">
    CRM Description
  </li>
  <li role="button" class="list-group-item" [routerLink]="'crm-tabs/crm-study-timelines'" routerLinkActive="active">
    CRM Timelines
  </li>
  <li role="button" class="list-group-item" [routerLink]="'crm-tabs/crm-study-resources'" routerLinkActive="active">
    CRM Resources
  </li>
  <li role="button" class="list-group-item" [routerLink]="'crm-tabs/crm-budget'" routerLinkActive="active">
    CRM Budget
  </li>
  <li
    role="button"
    class="list-group-item"
    [routerLink]="'crm-tabs/crm-study-analysis-planning'"
    routerLinkActive="active"
  >
    CRM Analysis Planning
  </li>

  <!-- <li
    role="button"
    class="list-group-item"
    [routerLink]="'crm-tabs/crm-project-governance'"
    routerLinkActive="active"
  >
    CRM Project Governance
  </li> -->
  <!-- <li role="button" class="list-group-item" [routerLink]="'crm-tabs/crm-tracker-three'" routerLinkActive="active">
    CRM Tracker 3
  </li>
  <li role="button" class="list-group-item" [routerLink]="'crm-tabs/crm-tracker-four'" routerLinkActive="active">
    CRM Tracker 4
  </li> -->

  <br />
</ul>
<!-- <p>studyProperties: {{studyProperties | json }}</p> -->
