<div 
  title="{{ menuStat[crmreport1Stat] }}"
  appMenuAccess="reports/crm/crm-report1"
>
  <button
    class="dropdown-item"
    routerLink="/reports/crm-report1"
    routerLinkActive="active"
    translate
  >
    Report-1
  </button>
</div>

<div 
  title="{{ menuStat[crmreport1Stat] }}"
  appMenuAccess="reports/crm/crm-report2"
>
  <button
    class="dropdown-item"
    routerLink="/reports/crm-report2"
    routerLinkActive="active"
    translate
  >
    Report-2
  </button>
</div>

<div 
  title="{{ menuStat[crmreport1Stat] }}"
  appMenuAccess="reports/crm/crm-export"
>
  <button
    class="dropdown-item"
    routerLink="/reports/crm-export"
    routerLinkActive="active"
    translate
  >
    CRM Export
  </button>
</div>
