<table class="table table-striped">
	<thead>
		<tr class="bg-green align-text-top">
			<th scope="col">Project Status Categories</th>
			<th scope="col">N/A</th>
            <th scope="col">Project Category Score</th>
			<th scope="col">Comment</th>
			<th scope="col">Action</th>
		</tr>
	</thead>
	<tbody>
        <tr>
            <th> Image Data and Read Forecasting </th>
            <td></td>
            <td class="text-center">
                <div [style]="getStyle(record.imageDataandReadForecasting)">
                    {{ record.imageDataandReadForecasting }}
                </div>
            </td>
            <td>{{ record.imageDataandReadForecastingComments }}</td>
            <td>{{ record.imageDataandReadForecastingAction }}</td>
        </tr>
        <tr>
            <th> Read strategy document and project level recruitment plans </th>
            <td>{{ getNotApplicableStatus(record.projectlevelrecruitmentplansFlag) }}</td>
            <td class="text-center">
                <div [style]="getStyle(record.projectlevelrecruitmentplans)">
                    {{ record.projectlevelrecruitmentplans }}
                </div>
            </td>
            <td>{{ record.projectlevelrecruitmentplansComments }}</td>
            <td>{{ record.projectlevelrecruitmentplansAction }}</td>
        </tr>
        <tr>
            <th> Subject Read (status, curves and strategies) </th>
            <td>{{ getNotApplicableStatus(record.subjectReadFlag) }}</td>
            <td class="text-center">
                <div [style]="getStyle(record.subjectRead)">
                    {{ record.subjectRead }}
                </div>
            </td>
            <td>{{ record.subjectReadComments }}</td>
            <td>{{ record.subjectReadAction }}</td>
        </tr>
    </tbody>
</table>
