<div>
	<div class="card" *ngFor="let record of records; let g1 = index">
		<div class="card-body">
			<h5 class="card-title">{{ record.groupname }}</h5>
			<div style="overflow-x:auto;">
				<table class="table table-sm small table-striped">
					<thead>
						<tr class="bg-green align-text-top">
							<th scope="col">Category</th>
							<th scope="col">KPI Name</th>
							<th scope="col">KPI Description</th>
							<th scope="col">Criteria for Pass</th>
							<th scope="col">Label1</th>
							<th scope="col">Field1</th>
							<th scope="col">Label2</th>
							<th scope="col">Field2</th>
							<th scope="col">Label3</th>
							<th scope="col">Field3</th>
							<th scope="col">Label4</th>
							<th scope="col">Field4</th>
							<th scope="col">Label5</th>
							<th scope="col">KPI Outcome</th>
							<th scope="col">KPI Comment</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let item of record.items; let itemIndex = index">
							<td>{{ item.kpiCategory }}</td>
							<td>{{ item.kpiName }}</td>
							<td>
								<app-cell [record]="item" [column]="columnKpiDescription"></app-cell>
							</td>
							<td>
								<app-cell [record]="item" [column]="columncriteriaForPass"></app-cell>
							</td>
							<td>{{ item.label1 }}</td>
							<td>{{ item.field1 }}</td>
							<td>{{ item.label2 }}</td>
							<td>{{ item.field2 }}</td>
							<td>{{ item.label3 }}</td>
							<td>{{ item.field3 }}</td>
							<td>{{ item.label4 }}</td>
							<td>{{ item.field4 }}</td>
							<td>{{ item.label5 }}</td>
							<td [style]="getKpiOutcomeStyle(item.kpiOutcome)">{{ item.kpiOutcome }}</td>
							<td>
								{{ item.kpiComments }}
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>