<div class="alert alert-dark" role="alert">
  CDS Ouput Tasks Due Dashboard
</div>
<app-cds-output-due-dashboard (itemClicked)="onOutputDashboardClicked($event)"></app-cds-output-due-dashboard>

<div class="alert alert-dark" role="alert">
  CDS Delivery Tasks Due Dashboard
</div>
<app-cds-dely-due-dashboard (itemClicked)="onDelyDashboardClicked($event)"></app-cds-dely-due-dashboard>
<div class="alert alert-dark" role="alert">
  CDS Development Status
</div>
<app-cds-dev-req-dashboard (itemClicked)="onItemClicked($event)"></app-cds-dev-req-dashboard>
<br />
<div class="alert alert-dark" role="alert">
  Studies
</div>
<app-study-list></app-study-list>
