<table class="table table-striped">
	<thead>
		<tr class="bg-green align-text-top">
			<th scope="col">Project Status Categories</th>
			<th scope="col">N/A</th>
            <th scope="col">Project Category Score</th>
			<th scope="col">Comment</th>
			<th scope="col">Action</th>
		</tr>
	</thead>
	<tbody>
        <tr>
            <th> Risk Management </th>
            <td></td>
            <td class="text-center">
                <div [style]="getStyle(record.riskManagement)">
                    {{ record.riskManagement }}
                </div>
            </td>
            <td>{{ record.riskManagementComments }}</td>
            <td>{{ record.riskManagementAction }}</td>
        </tr>
        <tr>
            <th> Risk Management Plan/Log in place (ORIM) </th>
            <td>{{ getNotApplicableStatus(record.riskManagementPlanOremflag) }}</td>
            <td class="text-center">
                <div [style]="getStyle(record.riskManagementPlanOrem)">
                    {{ record.riskManagementPlanOrem }}
                </div>
            </td>
            <td>{{ record.riskManagementPlanOremcomments }}</td>
            <td>{{ record.riskManagementPlanOremaction }}</td>
        </tr>
        <tr>
            <th> Review of Key Project Risks (per risk plan) </th>
            <td>{{ getNotApplicableStatus(record.reviewofKeyProjectRisksFlag) }}</td>
            <td class="text-center">
                <div [style]="getStyle(record.reviewofKeyProjectRisks)">
                    {{ record.reviewofKeyProjectRisks }}
                </div>
            </td>
            <td>{{ record.reviewofKeyProjectRisksComments }}</td>
            <td>{{ record.reviewofKeyProjectRisksAction }}</td>
        </tr>
    </tbody>
</table>
