<div class="row">
  <div class="col-3">
    <div class="form-group">
      <label> Name </label>
      <input
        class="form-control"
        placeholder="Name"
        type="text"
        [(formControl)]="filterForm"
        [(ngModel)]="selectedFilters.iconNumberOrName"
      />
    </div>
  </div>
  <div class="col-3">
    <div class="form-group">
      <label>Can Login</label>
      <ng-select
        id="canLoginId"
        [multiple]="true"
        placeholder="All"
        [clearable]="true"
        [(ngModel)]="selectedFilters.canLoginId"
        (ngModelChange)="onFiltersChange()"
      >
        <ng-option [value]="true"> Yes</ng-option>
        <ng-option [value]="false"> No</ng-option>
      </ng-select>
    </div>
  </div>
  <div class="col-3">
    <div class="form-group">
      <label>Active</label>
      <ng-select
        id="activeId"
        [multiple]="true"
        placeholder="All"
        [clearable]="true"
        [(ngModel)]="selectedFilters.activeId"
        (ngModelChange)="onFiltersChange()"
      >
        <ng-option [value]="true"> Yes</ng-option>
        <ng-option [value]="false"> No</ng-option>
      </ng-select>
    </div>
  </div>
  <!-- <div class="col-3">
    <div class="form-group">
      <label>Role</label>
      <ng-select
        #ngStatus
        id="ngStatus"
        [multiple]="true"
        placeholder="All"
        [(ngModel)]="selectedFilters.roleId"
        [clearable]="true"
        (ngModelChange)="onFiltersChange()"
      >
        <ng-option [value]="1801"> Admin</ng-option>
        <ng-option [value]="1820"> DM Oversight</ng-option>
        <ng-option [value]="1803"> DM Director</ng-option>
        <ng-option [value]="201"> DMPM</ng-option>
        <ng-option [value]="1804"> CDMS Manager</ng-option>
        <ng-option [value]="202"> CDL</ng-option>
        <ng-option [value]="203"> CDMS Lead</ng-option>
        <ng-option [value]="1819"> CDMS Programmer</ng-option>
        <ng-option [value]="1807"> CDS Manager</ng-option>
        <ng-option [value]="204"> CDPL</ng-option>
        <ng-option [value]="210"> CDPL - Clinical Programming</ng-option>
        <ng-option [value]="211"> CDPL - SDTM Programming</ng-option>
        <ng-option [value]="208"> CDS Programmer</ng-option>
        <ng-option [value]="1817"> CDS Validation</ng-option>
        <ng-option [value]="1806"> LL</ng-option>
        <ng-option [value]="206"> CDC</ng-option>
        <ng-option [value]="1810"> Coding Specialist</ng-option>
        <ng-option [value]="207"> Viewer</ng-option>
        <ng-option [value]="1813"> IMI TPM</ng-option>
        <ng-option [value]="1829"> Report Request</ng-option>
        <ng-option [value]="1814"> IMI PM</ng-option>
        <ng-option [value]="1815"> IMI CDPL</ng-option>
        <ng-option [value]="1816"> IMI CDP</ng-option>
        <ng-option [value]="1821"> IMI PD</ng-option>
        <ng-option [value]="1822"> IMI R&A Programmer</ng-option>
        <ng-option [value]="1812"> Clarity Team</ng-option>
        <ng-option [value]="1818"> Coding Manager</ng-option>
        <ng-option [value]="1823"> Analytics Development Lead</ng-option>
        <ng-option [value]="1824"> Set Up CDL</ng-option>
      </ng-select>
    </div>
  </div> -->
</div>
<!-- <p>filters: {{ selectedFilters | json }}</p> -->
