<ul class="nav nav-pills  pb-3">
  <li role="button"
    class="nav-item nav-link" 
    [routerLink]="'time-line'" 
    routerLinkActive="active"
    appStudyMenuAccessLink
    >Timelines
  </li>
  <li role="button"
    class="nav-item nav-link" 
    [routerLink]="'time-line-view'" 
    routerLinkActive="active"
    appStudyMenuAccessLink
    debugMode="true"
    >Timelines - View
  </li>

  <li role="button"
    class="nav-item nav-link" 
    *ngIf="!studyProperties?.isCelgene" 
    [routerLink]="'deliverables'" 
    routerLinkActive="active"
    appStudyMenuAccessLink
      >Deliverables
  </li>
  <li role="button"
    class="nav-item nav-link" 
    *ngIf="!studyProperties?.isCelgene" 
    [routerLink]="'deliverables-view'" 
    routerLinkActive="active"
    appStudyMenuAccessLink
      >Deliverables - View
  </li>

  <!-- Surekha removed below ngIf from following li tag -->
  <!-- *ngIf="!studyProperties?.isCelgene" -->
  <li role="button"
      class="nav-item nav-link"
      [routerLink]="'celgene-deliverables'"
      routerLinkActive="active"
      appStudyMenuAccessLink
      >Celgene Deliverables
  </li>
  <li role="button"
      class="nav-item nav-link"
      [routerLink]="'celgene-deliverables-view'"
      routerLinkActive="active"
      appStudyMenuAccessLink
      >Celgene Deliverables - View
  </li>
  <!-- *ngIf="studyProperties?.isCelgene" -->
  <li role="button"
    class="nav-item nav-link" 
    [routerLink]="'interim-locks-view'" 
    routerLinkActive="active"
    appStudyMenuAccessLink
    >Interim Locks
  </li>
  <li role="button"
    class="nav-item nav-link" 
    [routerLink]="'interim-locks'" 
    routerLinkActive="active"
    appStudyMenuAccessLink
    >Interim Locks
  </li>
  <!-- <li class="nav-item">
    <a class="nav-link" [routerLink]="'interim-analysis'" routerLinkActive="active">Interim Analysis
  </li> -->
</ul>
<hr />
<router-outlet></router-outlet>
