  .drop-zone {
    border: 2px dashed #ccc;
    border-radius: 3px;
    padding: 50px;
    text-align: center;
  }
  
  .drop-zone.drag-over {
    background-color: #f2f2f2;
    border-color: #00c853;
  }