<table class="table table-striped">
	<thead>
		<tr class="bg-green align-text-top">
			<th scope="col">Project Status Categories</th>
			<th scope="col">N/A</th>
            <th scope="col">Project Category Score</th>
			<th scope="col">Comment</th>
			<th scope="col">Action</th>
		</tr>
	</thead>
	<tbody>
        <tr>
            <th> Finance </th>
            <td></td>
            <td class="text-center">
                <div [style]="getStyle(record.finance)">
                    {{ record.finance }}
                </div>
            </td>
            <td>{{ record.financeComments }}</td>
            <td>{{ record.financeAction }}</td>
        </tr>
        <tr>
            <th> Contract/CO Status</th>
            <td>{{ getNotApplicableStatus(record.contractCostatusFlag) }}</td>
            <td class="text-center">
                <div [style]="getStyle(record.contractCostatus)">
                    {{ record.contractCostatus }}
                </div>
            </td>
            <td>{{ record.contractCostatusComments }}</td>
            <td>{{ record.contractCostatusAction }}</td>
        </tr>
        <tr>
            <th> Out of Scope Activities </th>
            <td>{{ getNotApplicableStatus(record.outofScopeActivitiesFlag) }}</td>
            <td class="text-center">
                <div [style]="getStyle(record.outofScopeActivities)">
                    {{ record.outofScopeActivities }}
                </div>
            </td>
            <td>{{ record.outofScopeActivitiesComments }}</td>
            <td>{{ record.outofScopeActivitiesAction }}</td>
        </tr>
        <tr>
            <th> Retrospective Pickup </th>
            <td>{{ getNotApplicableStatus(record.retrospectivePickUpFlag) }}</td>
            <td class="text-center">
                <div [style]="getStyle(record.retrospectivePickUp)">
                    {{ record.retrospectivePickUp }}
                </div>
            </td>
            <td>{{ record.retrospectivePickUpComments }}</td>
            <td>{{ record.retrospectivePickUpActions }}</td>
        </tr>
        <tr>
            <th> GM and Profitability Review and Trending </th>
            <td>{{ getNotApplicableStatus(record.gmProfitabilityreviewTrendingFlag) }}</td>
            <td class="text-center">
                <div [style]="getStyle(record.gmProfitabilityreviewTrending)">
                    {{ record.gmProfitabilityreviewTrending }}
                </div>
            </td>
            <td>{{ record.gmProfitabilityreviewTrendingComments }}</td>
            <td>{{ record.gmProfitabilityreviewTrendingAction }}</td>
        </tr>
        <tr>
            <th> Revenue Forecasting / Finance Sheet </th>
            <td>{{ getNotApplicableStatus(record.revenueforecastingFinancesheetsFlag) }}</td>
            <td class="text-center">
                <div [style]="getStyle(record.revenueforecastingFinancesheets)">
                    {{ record.revenueforecastingFinancesheets }}
                </div>
            </td>
            <td>{{ record.revenueforecastingFinancesheetsComments }}</td>
            <td>{{ record.revenueforecastingFinancesheetsAction }}</td>
        </tr>
        <tr>
            <th> Revenue Recognition (Invoicing) </th>
            <td>{{ getNotApplicableStatus(record.revenuerecognitionFlag) }}</td>
            <td class="text-center">
                <div [style]="getStyle(record.revenuerecognition)">
                    {{ record.revenuerecognition }}
                </div>
            </td>
            <td>{{ record.revenuerecognitionComments }}</td>
            <td>{{ record.revenuerecognitionAction }}</td>
        </tr>
        <tr>
            <th> Pass Through Cost Billing and Burn Rate </th>
            <td>{{ getNotApplicableStatus(record.passthroughcostbillingBurnrateFlag) }}</td>
            <td class="text-center">
                <div [style]="getStyle(record.passthroughcostbillingBurnrate)">
                    {{ record.passthroughcostbillingBurnrate }}
                </div>
            </td>
            <td>{{ record.passthroughcostbillingBurnrateComments }}</td>
            <td>{{ record.passthroughcostbillingBurnrateAction }}</td>
        </tr>
        <tr>
            <th> Reader Contract Fees </th>
            <td>{{ getNotApplicableStatus(record.readerContractFeesFlag) }}</td>
            <td class="text-center">
                <div [style]="getStyle(record.readerContractFees)">
                    {{ record.readerContractFees }}
                </div>
            </td>
            <td>{{ record.readerContractFeesComments }}</td>
            <td>{{ record.readerContractFeesAction }}</td>
        </tr>
    </tbody>
</table>
