<app-loader [isLoading]="loading"></app-loader>
<h5>{{ title }}</h5>
<hr />

<app-param-view
  [childItemId]="pid"
  [canSelectChildItem]="canSelectChildItem"
  (childItemSelected)="onChildItemChange($event)"
  [parentSelectDropDownDisabled]="paramDropDownDisabled"
></app-param-view>
<div class="alert alert-danger" role="alert" *ngIf="this.record?.pid === 0">
  Please select an item to deactivate.
</div>
<hr />

<form [formGroup]="form">
  <formly-form [model]="record" [fields]="fields" [options]="options" [form]="form"></formly-form>
  <div class="alert alert-warning" role="alert" *ngIf="showOtherUserAlert()">
    Last actioned by: {{ record?.updatedByDisplayName }}. Action buttons not available for other users.
  </div>
  <button type="button" class="btn btn-default me-1" (click)="back()">Back</button>
  <button *ngIf="saveButton" (click)="submit()" class="btn btn-primary submit-button me-1" [disabled]="!savelButtonEnabled">
    Save
  </button>
  <button *ngIf="saveButton" type="button" class="btn btn-default" (click)="options.resetModel()">Undo</button>
  <app-confirmation-shell
    *ngIf="removeButton"
    [message]="'Remove Request: ' + recId + ' ?'"
    [labelText]="'Remove'"
    [responseValue]="recId"
    (response)="deleteRecord($event)"
  >
  </app-confirmation-shell>
  <app-confirmation-shell
    *ngIf="submitForApprovalButton"
    [message]="'Submit For Approval: ' + recId + ' ?'"
    [labelText]="'Submit for Approval'"
    [responseValue]="recId"
    (response)="submitForApproval()"
    [disabled]="!submitForApprovalButtonEnabled"
  >
  </app-confirmation-shell>

  <app-confirmation-shell
    *ngIf="withdrawRequestButton"
    [message]="'Withdraw request:' + recId + ' ?'"
    [labelText]="'Withdraw submitted request'"
    [responseValue]="recId"
    (response)="withdrawRequest()"
  >
  </app-confirmation-shell>
</form>

<!-- <p>record: {{ record | json }}</p> -->
