<h4>Page Upload</h4>

<ul ngbNav #nav="ngbNav" class="nav-pills">
	<li ngbNavItem>
		<a ngbNavLink>Upload a File</a>
		<ng-template ngbNavContent>

			<!-- <a [href]="download.url" [download]="download.filename">Sample File</a> -->
			<div>
				<form [formGroup]="fileUploadForm">
					<app-ngx-file-upload [control]="files" (controlChange)="onControlChange($event)"></app-ngx-file-upload>
				</form>
				<button class="btn btn-primary" (click)="upload()" [disabled]="fileUploadForm.invalid"><i
						class="bi bi-cloud-upload"></i> Upload</button>
				<span *ngIf="uploadInProgress">Uploading...</span>
			</div>

			<br />
			<app-alert [alerts]="alerts"></app-alert>

			<table class="table table-bordered table-sm table-hover small table-striped" style="border-color:lightgray;">
				<thead style="background-color: #b6effb;">
					<tr>
						<th align="left">Uploaded On</th>
						<th align="left">Uploaded By</th>
						<th align="left">File Name</th>
						<th align="left">No. Of Records</th>
						<th align="left">Download</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let uploadDetail of uploadDetails;">
						<td>{{ uploadDetail.uploadedOn | date: 'dd-MMM-yyyy, hh:mm:ss'}}</td>
						<td>{{ uploadDetail.uploadedByUsrDisplayName }}</td>
						<td>{{ uploadDetail.fileName }}</td>
						<td>{{ uploadDetail.totalRecords }}</td>
						<td>{{ uploadDetail.downloadLink }}</td>
					</tr>
				</tbody>
			</table>
		</ng-template>
	</li>

	<li ngbNavItem>
		<a ngbNavLink>Instructions</a>
		<ng-template ngbNavContent>
			<table class="table table-bordered table-sm table-hover small table-striped" style="border-color:lightgray;">
				<thead style="background-color: #b6effb;">
					<tr>
						<th colspan="3">
							File Format
						</th>
					</tr>
					<tr>
						<th align="left">Column Position</th>
						<th align="left">Column Name</th>
						<th align="left">Description</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>ICON Number</td>
						<td>
							<p>It should be of 8 digit.</p>
							<p>Numeric must match existing ICON/Number</p>
						</td>
					</tr>
					<tr>
						<td>2</td>
						<td>YYYY-MM</td>
						<td>
							<p>Format: 2014-08</p>
							<p>First 4 digits represent a year and last 2 digits represent month</p>
						</td>
					</tr>
					<tr>
						<td>3</td>
						<td>Page Count</td>
						<td>
							<p>Positive Number</p>
						</td>
					</tr>
				</tbody>
			</table>

			<button *ngIf="!downloadInProgress" class="btn btn-primary" (click)="downloadSampleTemplate()">Download
				Template</button>
			<button *ngIf="downloadInProgress" class="btn btn-primary" type="button" disabled>
				<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
				Downloading...
			</button>
		</ng-template>
	</li>
</ul>
<div [ngbNavOutlet]="nav" class="mt-2"></div>