<app-loader [isLoading]="true" *ngIf="loading"></app-loader>
<table class="table table-sm small table-striped">
    <tbody>
        <tr>
            <td>ICON Number</td>
            <td>{{ studyDetails.studyIconNumber }}</td>
        </tr>
        <tr>
            <td>Region</td>
            <td>{{ studyDetails.regionPDescription }}</td>
        </tr>
        <tr>
            <td>Portfolio</td>
            <td>{{ studyDetails.portfolioPDescription }}</td>
        </tr>
        <tr>
            <td>Sponsor</td>
            <td>{{ studyDetails.sponsorPDescription }}</td>
        </tr>
        <tr>
            <td>Protocol Name</td>
            <td>{{ studyDetails.studyName }}</td>
        </tr>
        <tr>
            <td>IMI CDMS</td>
            <td>{{ studyDetails.imiCdmsDescription }}</td>
        </tr>
        <tr>
            <td>Other Icon Dept : IMI</td>
            <td>{{ studyDetails.otherIconDeptImiPDescription }}</td>
        </tr>
        <tr>
            <td>Requires Rave Medical Imaging(RMI) EDC?</td>
            <td>{{ studyDetails.medidataMedicalImagingDescription }}</td>
        </tr>
        <tr>
            <td>Total DM Study Duration</td>
            <td>{{ studyDetails.dTotalDmStudyDurationMonths }}</td>
        </tr>
        <tr>
            <td>Avg Pages Per Month</td>
            <td>{{ studyDetails.dAvgPagesPerMonth }}</td>
        </tr>
        <tr>
            <td>Special Project</td>
            <td>{{ studyDetails.specialProjectDescription }}</td>
        </tr>
        <tr>
            <td>DMPM Required</td>
            <td>{{ studyDetails.dmpmrequiredDescription }}</td>
        </tr>
    </tbody>
</table>

<!-- <span class="alert alert-info">Last Updated on: {{ studyDetails?.updatedOn | date: 'd-MMM-y, h:mm a' }}</span> -->
<app-last-saved [auditFields]="studyDetails"></app-last-saved>
