<table class="table table-striped">
	<thead>
		<tr class="bg-green align-text-top">
			<th scope="col">Project Status Categories</th>
			<th scope="col">N/A</th>
            <th scope="col">Project Category Score</th>
			<th scope="col">Comment</th>
			<th scope="col">Action</th>
		</tr>
	</thead>
	<tbody>
        <tr>
            <th> Milestones and Timelines </th>
            <td></td>
            <td class="text-center">
                <div [style]="getStyle(record.milestonesandTimelines)">
                    {{ record.milestonesandTimelines }}
                </div>
            </td>
            <td>{{ record.milestonesandTimelinesComments }}</td>
            <td>{{ record.milestonesandTimelinesAction }}</td>
        </tr>
        <tr>
            <th> Review of upcoming milestones (across all functions) </th>
            <td>{{ getNotApplicableStatus(record.reviewofupcomingmilestonesFlag) }}</td>
            <td class="text-center">
                <div [style]="getStyle(record.reviewofupcomingmilestones)">
                    {{ record.reviewofupcomingmilestones }}
                </div>
            </td>
            <td>{{ record.reviewofupcomingmilestonesComments }}</td>
            <td>{{ record.reviewofupcomingmilestonesAction }}</td>
        </tr>
        <tr>
            <th> Project Management Plan </th>
            <td>{{ getNotApplicableStatus(record.projectManagementPlanFlag) }}</td>
            <td class="text-center">
                <div [style]="getStyle(record.projectManagementPlan)">
                    {{ record.projectManagementPlan }}
                </div>
            </td>
            <td>{{ record.projectManagementPlanComments }}</td>
            <td>{{ record.projectManagementPlanAction }}</td>
        </tr>
    </tbody>
</table>
