<table class="table table-striped">
	<thead>
		<tr class="bg-green align-text-top">
			<th scope="col">Project Status Categories</th>
			<th scope="col">N/A</th>
            <th scope="col">Project Category Score</th>
			<th scope="col">Comment</th>
			<th scope="col">Action</th>
		</tr>
	</thead>
	<tbody>
        <tr>
            <th> EDC Documentation/Development </th>
            <td></td>
            <td class="text-center">
                <div [style]="getStyle(record.edcdocumentationDevelopment)">
                    {{ record.edcdocumentationDevelopment }}
                </div>
            </td>
            <td>{{ record.edcdocumentationDevelopmentComments }}</td>
            <td>{{ record.edcdocumentationDevelopmentAction }}</td>
        </tr>
        <tr>
            <th> Independent Read Charter</th>
            <td>{{ getNotApplicableStatus(record.independentReadCharterFlag) }}</td>
            <td class="text-center">
                <div [style]="getStyle(record.independentReadCharter)">
                    {{ record.independentReadCharter }}
                </div>
            </td>
            <td>{{ record.independentReadCharterComments }}</td>
            <td>{{ record.independentReadCharterAction }}</td>
        </tr>
        <tr>
            <th> System Requirement Specifications (SRS) / Configuration Specifications </th>
            <td>{{ getNotApplicableStatus(record.systemsRequirementSpecificationsSrsflag) }}</td>
            <td class="text-center">
                <div [style]="getStyle(record.systemsRequirementSpecificationsSrs)">
                    {{ record.systemsRequirementSpecificationsSrs }}
                </div>
            </td>
            <td>{{ record.systemsRequirementSpecificationsSrscomments }}</td>
            <td>{{ record.systemsRequirementSpecificationsSrsaction }}</td>
        </tr>
        <tr>
            <th> Independent Review Training Manual (IRTM) </th>
            <td>{{ getNotApplicableStatus(record.independentReviewTrainingManualFlag) }}</td>
            <td class="text-center">
                <div [style]="getStyle(record.independentReviewTrainingManual)">
                    {{ record.independentReviewTrainingManual }}
                </div>
            </td>
            <td>{{ record.independentReviewTrainingManualComments }}</td>
            <td>{{ record.independentReviewTrainingManualAction }}</td>
        </tr>
        <tr>
            <th> Data Delivery Specification (DDS) Inbound </th>
            <td>{{ getNotApplicableStatus(record.dataDeliverySpecificationInboundFlag) }}</td>
            <td class="text-center">
                <div [style]="getStyle(record.dataDeliverySpecificationInbound)">
                    {{ record.dataDeliverySpecificationInbound }}
                </div>
            </td>
            <td>{{ record.dataDeliverySpecificationInboundComments }}</td>
            <td>{{ record.dataDeliverySpecificationInboundAction }}</td>
        </tr>
        <tr>
            <th> Data Delivery Specification (DDS) Outbound </th>
            <td>{{ getNotApplicableStatus(record.dataDeliverySpecificationOutboundFlag) }}</td>
            <td class="text-center">
                <div [style]="getStyle(record.dataDeliverySpecificationOutbound)">
                    {{ record.dataDeliverySpecificationOutbound }}
                </div>
            </td>
            <td>{{ record.dataDeliverySpecificationOutboundComments }}</td>
            <td>{{ record.dataDeliverySpecificationOutboundAction }}</td>
        </tr>
        <tr>
            <th> Programming/Configuration </th>
            <td>{{ getNotApplicableStatus(record.programmingConfigurationFlag) }}</td>
            <td class="text-center">
                <div [style]="getStyle(record.programmingConfiguration)">
                    {{ record.programmingConfiguration }}
                </div>
            </td>
            <td>{{ record.programmingConfigurationComments }}</td>
            <td>{{ record.programmingConfigurationAction }}</td>
        </tr>
        <tr>
            <th> User Acceptance Testing (UAT) </th>
            <td>{{ getNotApplicableStatus(record.userAcceptanceTestingFlag) }}</td>
            <td class="text-center">
                <div [style]="getStyle(record.userAcceptanceTesting)">
                    {{ record.userAcceptanceTesting }}
                </div>
            </td>
            <td>{{ record.userAcceptanceTestingComments }}</td>
            <td>{{ record.userAcceptanceTestingAction }}</td>
        </tr>
        <tr>
            <th> Sponsor Demo & Validation </th>
            <td>{{ getNotApplicableStatus(record.sponsorDemoValidationFlag) }}</td>
            <td class="text-center">
                <div [style]="getStyle(record.sponsorDemoValidation)">
                    {{ record.sponsorDemoValidation }}
                </div>
            </td>
            <td>{{ record.sponsorDemoValidationComments }}</td>
            <td>{{ record.sponsorDemoValidationAction }}</td>
        </tr>
        <tr>
            <th> EDC Installation/Go Live </th>
            <td>{{ getNotApplicableStatus(record.edcinstallationGoLiveFlag) }}</td>
            <td class="text-center">
                <div [style]="getStyle(record.edcinstallationGoLive)">
                    {{ record.edcinstallationGoLive }}
                </div>
            </td>
            <td>{{ record.edcinstallationGoLiveComments }}</td>
            <td>{{ record.edcinstallationGoLiveAction }}</td>
        </tr>
        <tr>
            <th> EDC/PIER Data Uploading (as required) </th>
            <td>{{ getNotApplicableStatus(record.edcPierdataFlag) }}</td>
            <td class="text-center">
                <div [style]="getStyle(record.edcPierdata)">
                    {{ record.edcPierdata }}
                </div>
            </td>
            <td>{{ record.edcPierdataComments }}</td>
            <td>{{ record.edcPierdataAction }}</td>
        </tr>
        <tr>
            <th> Post Release System Support </th>
            <td>{{ getNotApplicableStatus(record.postreleasesystemFlag) }}</td>
            <td class="text-center">
                <div [style]="getStyle(record.postreleasesystem)">
                    {{ record.postreleasesystem }}
                </div>
            </td>
            <td>{{ record.postreleasesystemComments }}</td>
            <td>{{ record.postreleasesystemAction }}</td>
        </tr>
    </tbody>
</table>
