<h5
  style="padding: 5px 5px 5px 10px; border-radius: 5px; background-color:#00B04F !important; color: white !important; background-image:linear-gradient(to bottom, #00B04F 0px, #00B04F 100%) !important"
>
  CDS Archived Data
</h5>

<ul class="nav nav-pills pb-3">
	<li role="button"
    class="nav-item nav-link" 
    [routerLink]="'output'" 
    routerLinkActive="active"
    >CDS Output Request
  </li>
  <li role="button"
    class="nav-item nav-link" 
    [routerLink]="'delivery'" 
    routerLinkActive="active"
    >CDS Delivery Request
  </li>
</ul>
<router-outlet></router-outlet>