<app-loader [isLoading]="true" *ngIf="loading"></app-loader>

<table class="table table-sm  small table-striped">
  <tbody>
    <tr>
      <td>Category</td>
      <td>{{ record?.deliveryTaskCategoryPDescription }}</td>
    </tr>
    <tr>
      <td>Delivery Detail</td>
      <td>{{ record?.deliveryTaskDetail }}</td>
    </tr>

    <tr>
      <td>Due Date</td>
      <td>{{ record?.dueDate | date: 'dd-MMM-yyyy' }}</td>
    </tr>
    <tr>
      <td>Recurring Frequency</td>
      <td>{{ record?.recurringFrequencySummary }}</td>
    </tr>
    <tr>
      <td>Completed Date</td>
      <td>{{ record?.completedDate | date: 'dd-MMM-yyyy' }}</td>
    </tr>
    <tr>
      <td>Completed By</td>
      <td>{{ record?.completedByDisplayname }}</td>
    </tr>
    <tr>
      <td>Programmer Assigned</td>
      <td>{{ record?.cdsassignedToDisplayname }}</td>
    </tr>

    <tr>
      <td>Programming Lead</td>
      <td>{{ record?.clinicalDataDeliveryLeadDisplayname }}</td>
    </tr>

    <tr>
      <td>Delivery Type</td>
      <td>{{ record?.deliveryTypeDescription }}</td>
    </tr>

    <tr>
      <td>Recipients Name(s)</td>
      <td>{{ record?.recipientsNames }}</td>
    </tr>

    <tr>
      <td>Blinded or Unblinded Data Delivery or N/A</td>
      <td>{{ record?.blindedUnblindedNaDescription }}</td>
    </tr>

    <tr>
      <td>Data Restricted</td>
      <td>{{ record?.dataRestrictedId }}</td>
    </tr>

    <tr>
      <td>Data Restricted Comment</td>
      <td>{{ record?.dataRestrictedComment }}</td>
    </tr>

    <tr>
      <td>Data Cut Off</td>
      <td>{{ record?.dataCutOffDescription }}</td>
    </tr>
    <tr>
      <td>Data Cut Off Date</td>
      <td>{{ record?.dateCutOffDate | date: 'dd-MMM-yyyy' }}</td>
    </tr>
    <tr>
      <td>Data Cut Off Comment</td>
      <td>{{ record?.dateCutOffComment }}</td>
    </tr>

    <tr>
      <td>Exclude any dataset(s)</td>
      <td>{{ record?.excludeAnyDatasetId }}</td>
    </tr>
    <tr>
      <td>Exclude any dataset(s) Comment</td>
      <td>{{ record?.excludeAnyDatasetComment }}</td>
    </tr>

    <tr>
      <td>Retransfer</td>
      <td>{{ record?.retransferPid }}</td>
    </tr>
    <tr>
      <td>Retransfer Comment</td>
      <td>{{ record?.retransferComment }}</td>
    </tr>
    <tr>
      <td>On SCheduler</td>
      <td>{{ record?.onSchedulerPid }}</td>
    </tr>
    <tr>
      <td>Globalscape</td>
      <td>{{ record?.globalscapePid }}</td>
    </tr>

    <tr>
      <td>Comments</td>
      <td>{{ record?.comments }}</td>
    </tr>

    <tr>
      <td>Link To Task Instruction</td>
      <td>{{ record?.linkToDocumentation }}</td>
    </tr>

    <tr>
      <td>CDS Instruction Task</td>
      <td>{{ record?.instructionIdProgramName }}</td>
    </tr>

    <tr *ngIf="record?.cdsinstructionTaskId > 0">
      <td>Instruction Details</td>
      <td>
        <a class="link-primary" role="button"
          (click)="onShowInstructionTaskClicked(record?.cdsinstructionTaskId)"
          >
          Instruction Details</a
        >
      </td>
    </tr>

    <tr>
      <td>Overdue Comments</td>
      <td>{{ record?.overDueComment }}</td>
    </tr>
  </tbody>
</table>
<app-last-saved [auditFields]="record"></app-last-saved>

<!-- <p>{{ record | json }}</p> -->
