<app-loader [isLoading]="true" *ngIf="loading"></app-loader>

<app-data-table-shell
  [records]="records"
  [columns]="columns"
  [showColumnManager]="true"
  [showFooterActions]="showFooterActions"
  (raiseEvent)="onRaiseEvent($event)"
  [viewMode]="isViewMode"
>
  <div header>
    <h4>
      {{ title }}
    </h4>
    <app-study-quality-review-required-edit *ngIf="!isViewMode"></app-study-quality-review-required-edit>
    <app-study-quality-review-required-view *ngIf="isViewMode"></app-study-quality-review-required-view>
  </div>
  <div footer-actions>
    <button type="button" class="btn btn-primary" (click)="add()">
      Add
    </button>
  </div>
</app-data-table-shell>
<!-- <p>records: {{ records | json }}</p> -->

<!-- <app-component-access [compCode]="'study-quality-review-edit'" [redirect-to]="'/study/dm-imi/quality-group/quality-review-view'">
</app-component-access> -->