
<div class="form-group">
  <label class="form-label">User :</label>
  <ng-select
   
    [multiple]="false"
    placeholder="User"
    [(ngModel)]="selectedUser"
    [clearable]="true"
    (ngModelChange)="onFiltersChange()"
  >
    <ng-option *ngFor="let user of users" [value]="user.id">{{ user.value }}</ng-option>
  </ng-select>
</div>

<ul ngbNav #nav="ngbNav" class="nav-pills">
  <li ngbNavItem>
    <a ngbNavLink>Roles</a>
    <ng-template ngbNavContent>
        <app-user-roles [userId]="selectedUser"></app-user-roles>
       
    </ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink>Study Resources</a>
    <ng-template ngbNavContent>

        <app-study-resources
        [userId]="selectedUser"
        ></app-study-resources>
    </ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink>Page Permissions</a>
    <ng-template ngbNavContent>
      <app-comp-permissions
      [userId]="selectedUser"
      ></app-comp-permissions>
      
    </ng-template>
  </li>
  
</ul>
<div [ngbNavOutlet]="nav" class="mt-2"></div>

<!-- <p>users: {{users | json}}</p> -->