<!-- <app-cds-dev-req-dashboard (itemClicked)="onItemClicked($event)"></app-cds-dev-req-dashboard> -->
<br />

<div class="alert alert-secondary" role="alert" *ngIf="currentUserRoleIsAdminOrCdsManager">
  <h5>All Development Request Dashboard</h5>
  <app-cds-dev-req-dashboard (itemClicked)="onItemClicked($event)"></app-cds-dev-req-dashboard>
</div>
<div class="alert alert-secondary" role="alert" *ngIf="!currentUserRoleIsAdminOrCdsManager">
  <h5>My Development Request Dashboard</h5>
  <app-cds-dev-req-dashboard
    [userId]="currentUserId"
    (itemClicked)="onItemClicked($event)"
    *ngIf="!currentUserRoleIsAdminOrCdsManager"
  ></app-cds-dev-req-dashboard>
</div>

<h5>Development Status: {{ title }}</h5>
<!-- <app-cds-dev-req-base-list [filters]="filters"></app-cds-dev-req-base-list> -->
<app-cds-dev-req-base-list></app-cds-dev-req-base-list>
