<div class="row">
  <div class="col-3">
    <div class="form-group">
      <label>Select Code list:</label>
      <ng-select
        id="parId"
        [multiple]="false"
        placeholder="All"
        [clearable]="false"
        [(ngModel)]="selectedFilters.parId"
        (ngModelChange)="onFiltersChange()"
        class="custom"
      >
        <ng-option *ngFor="let rec of filters" [value]="rec.recId">{{ rec.description }}</ng-option>
        <!-- <ng-option [value]="true"> Yes</ng-option>
          <ng-option [value]="false"> No</ng-option> -->
      </ng-select>
    </div>
  </div>
</div>
<!-- <p>filters: {{ selectedFilters | json }}</p> -->
