<div class="position-relative">
  <div class="row">
    <div [ngClass]="menuClass()">
      <span role="button" class="collapse-icon" (click)="toggleMenuWidth()">
        <i [ngClass]="collapse()"></i>
      </span>
      <!-- <br /> -->
      <h6 class="ps-3">CRM Study</h6>
      <ul class="list-group small ms-n4 mt-n3 list-group-flush border-right mb-n4 study-tab-list">
        <!-- <li
        class="list-group-item"
        >
          CRM Study
        </li> -->
        <!-- appMenuAccessLink="study/crm/crm-study-award-management" -->

        <li
          role="button"
          class="list-group-item"
          [routerLink]="'crm-study-award-management'"
          routerLinkActive="active"
          
          appStudyMenuAccessLink
          
          >
          CRM Study Award
        </li>

        <li
          role="button"
          class="list-group-item"
          [routerLink]="'crm-study-award-management-view'"
          routerLinkActive="active"
          appStudyMenuAccessLink
          
        >
          CRM Study Award - View
        </li>

        <li
          role="button"
          class="list-group-item"
          [routerLink]="'crm-study-details'"
          routerLinkActive="active"
          
          appStudyMenuAccessLink
        >
          CRM Description
        </li>
        <li
          role="button"
          class="list-group-item"
          [routerLink]="'crm-study-details-view'"
          routerLinkActive="active"
          appStudyMenuAccessLink
        >
          CRM Description - View
        </li>
        
        <li
          role="button"
          class="list-group-item"
          [routerLink]="'crm-study-timelines'"
          routerLinkActive="active"
          
          appStudyMenuAccessLink
        
          >
          CRM Timelines
        </li>

        <!-- appStudyMenuAccessLink
          [altText]="'CRM Timelines-View-abc'"
          [altRoute]="'crm-study-timelines-view'" -->
        
        <li
          role="button"
          class="list-group-item"
          [routerLink]="'crm-study-timelines-view'"
          routerLinkActive="active"
          appStudyMenuAccessLink
        >
          CRM Timelines - View
        </li>
        
        <!-- appMenuAccessLink="study/crm/crm-study-resources/list" -->

        <li
          role="button"
          class="list-group-item"
          [routerLink]="'crm-study-resources'"
          routerLinkActive="active"
          
          appStudyMenuAccessLink

        >
          CRM Resources
        </li>

        <!-- appStudyMenuAccessLink
          [altText]="'CRM Resources - Alt'"
          [altRoute]="'crm-study-resources'" -->
        <li
          role="button"
          class="list-group-item"
          [routerLink]="'crm-study-resources-view'"
          routerLinkActive="active"
          
          appStudyMenuAccessLink
          
        >
          CRM Resources - View
        </li>
        
        <!-- appMenuAccessLink="study/crm/crm-budget/crm-budget-list" -->

        <li
          role="button"
          class="list-group-item"
          [routerLink]="'crm-budget'"
          routerLinkActive="active"
          
          appStudyMenuAccessLink
        >
          CRM Budget
        </li>
        <!-- appStudyMenuAccessLink
        [altText]="'CRM Resources - Alt'"
        [altRoute]="'crm-study-resources-view'" -->

        <li
          role="button"
          class="list-group-item"
          [routerLink]="'crm-budget-view'"
          routerLinkActive="active"
          
          appStudyMenuAccessLink
        >
          CRM Budget - View
        </li>

        <li
          role="button"
          class="list-group-item"
          [routerLink]="'crm-study-analysis-planning'"
          routerLinkActive="active"

          appStudyMenuAccessLink
        >
          CRM Analysis Planning
        </li>
        <!-- appStudyMenuAccessLink
          [altText]="'CRM Resources - Alt'"
          [altRoute]="'crm-study-resources-view'" -->
        
        <li
          role="button"
          class="list-group-item"
          [routerLink]="'crm-study-analysis-planning-view'"
          routerLinkActive="active"
          
          appStudyMenuAccessLink
          
        >
          CRM Analysis Planning - View
        </li>

        <!-- appMenuAccessLink="study/crm/crm-project-governance/crm-project-governance-setup" -->

        <li
          role="button"
          class="list-group-item"
          [routerLink]="'crm-project-governance'"
          routerLinkActive="active"

          
        >
          CRM Project Governance
        </li>

        
      </ul>
    </div>
    <div class="col overflow-hidden">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>