<!-- *ngIf="studyProperties?.studyType == 'DM' || studyProperties?.studyType == 'DM+IMI'" -->
<ul class="list-group small ms-n4 mt-n3 list-group-flush border-right mb-n4 study-tab-list">
  <li role="button" class="list-group-item" [routerLink]="'dm-study-edit'" routerLinkActive="active">
    Study Edit
  </li>
  <li role="button" class="list-group-item" [routerLink]="'dm-review'" routerLinkActive="active">
    Project Review
  </li>
  <li role="button" class="list-group-item" [routerLink]="'dm-description-assumptions'" routerLinkActive="active">
    Description
  </li>

  <li role="button" class="list-group-item" [routerLink]="'dm-resources-group'" routerLinkActive="active">
    Resources
  </li>
  <li role="button" class="list-group-item" [routerLink]="'dm-timeline'" routerLinkActive="active">
    Timelines
  </li>

  <li role="button" class="list-group-item" [routerLink]="'dm-status-pageflow'" routerLinkActive="active">
    Status / Pageflow
  </li>

  <li role="button" class="list-group-item" [routerLink]="'dm-external-data-list'" routerLinkActive="active">
    External Data
  </li>
  <li role="button" class="list-group-item" [routerLink]="'dm-dbl-main'" routerLinkActive="active">
    Database Lock Dashboard
  </li>

  <li role="button" class="list-group-item" [routerLink]="'dm-tasks'" routerLinkActive="active">
    Tasks
  </li>

  <li role="button" class="list-group-item " [routerLink]="'dm-cdms'" routerLinkActive="active">
    CDMS
  </li>
  <li role="button" class="list-group-item " [routerLink]="'dm-cds'" routerLinkActive="active">
    CDS
  </li>

  <li role="button" class="list-group-item" [routerLink]="'dm-quality-group'" routerLinkActive="active">
    Quality
  </li>

  <li
    *ngIf="studyProperties?.isGSK"
    role="button"
    [routerLink]="'fte-computations'"
    routerLinkActive="active"
    class="list-group-item"
  >
    FTEs (FTE Computations)
  </li>

  <li
    *ngIf="studyProperties?.isLocalLab"
    role="button"
    class="list-group-item"
    [routerLink]="'local-labs'"
    routerLinkActive="active"
  >
    Local Lab
  </li>

  <!-- moved to review group -->
  <!-- <li class="list-group-item" *ngIf="studyProperties?.hasArchivedReviews">Archived Review</li> -->

  <br />
</ul>
<!-- <p>studyProperties: {{ studyProperties | json }}</p> -->
|
