<app-loader [isLoading]="true" *ngIf="loading"></app-loader>

<!-- <app-view-table [records]="studyDetails"></app-view-table> -->
<table class="table table-sm  small table-striped">
	<tbody>
		<tr>
			<td>ICON Number</td>
			<td>{{ studyDetails.studyIconNumber }}</td>
		</tr>
        <tr>
			<td>Region</td>
			<td>{{ studyDetails.regionPDescription }}</td>
		</tr>
        <tr>
			<td>Portfolio</td>
			<td>{{ studyDetails.portfolioPDescription }}</td>
		</tr>
        <tr>
			<td>Sponsor</td>
			<td>{{ studyDetails.sponsorPDescription }}</td>
		</tr>
        <tr>
			<td>Study Name</td>
			<td>{{ studyDetails.studyName }}</td>
		</tr>
        <tr>
			<td>Study Name Comment</td>
			<td>{{ studyDetails.studyNameComment }}</td>
		</tr>
        <tr>
			<td>DRT</td>
			<td>{{ studyDetails.drtPDescription }}</td>
		</tr>
        <tr>
			<td>DRT Link</td>
			<td>{{ studyDetails.drtlink }}</td>
		</tr>
        <tr>
			<td>CDMS</td>
			<td>{{ studyDetails.cdmsPDescription }}</td>
		</tr>
        <tr>
			<td>Specify CDMS</td>
			<td>{{ studyDetails.specifyCdms }}</td>
		</tr>
        <tr>
			<td>Therapeutic Area</td>
			<td>{{ studyDetails.therapeuticAreaPDescription }}</td>
		</tr>
        <tr>
			<td>Sub-TA</td>
			<td>{{ studyDetails.subTaPDescription }}</td>
		</tr>
        <tr>
			<td>Indication</td>
			<td>{{ studyDetails.indication }}</td>
		</tr>
        <tr>
			<td>DM Standalone</td>
			<td>{{ studyDetails.dmstandalonePDescription }}</td>
		</tr>
        <tr>
			<td>Database Build by ICON</td>
			<td>{{ studyDetails.builddonebyIconPDescription }}</td>
		</tr>
        <tr>
            <td>SOPs</td>
            <td>{{ studyDetails.sopsPDescription }}</td>
        </tr>
        <tr>
            <td>ePRO</td>
            <td>{{ studyDetails.ePropDescription }}</td>
        </tr>
        <tr>
            <td>ePRO Vendor name</td>
            <td>{{ studyDetails.eProvendorName }}</td>
        </tr>
        <tr>
            <td>Local Labs</td>
            <td>{{ studyDetails.localLabsPDescription }}</td>
        </tr>
        <tr>
            <td>If Local Labs, IRIS</td>
            <td>{{ studyDetails.irisPDescription }}</td>
        </tr>
        <tr>
            <td>Special Population</td>
            <td>{{ studyDetails.specialPopulationPDescription }}</td>
        </tr>
        <tr>
            <td>Icon Coding</td>
            <td>{{ studyDetails.iconCodingPDescription }}</td>
        </tr>
        <tr>
            <td>Requires Rave Medical Imaging(RMI) EDC?</td>
            <td>{{ studyDetails.medidataMedicalImaging }}</td>
        </tr>
        <tr>
            <td>Total DM Study Duration</td>
            <td>{{ studyDetails.dTotalDmStudyDurationMonths }} months</td>
        </tr>
        <tr>
            <td>Avg Pages Per Month</td>
            <td>{{ studyDetails.dAvgPagesPerMonth }}</td>
        </tr>
        <tr>
            <td>Special Project</td>
            <td>{{ studyDetails.specialProject }}</td>
        </tr>
        <tr>
            <td>DMPM Required</td>
            <td>{{ studyDetails.dmpmrequired }}</td>
        </tr>
	</tbody>
</table>
<!-- <span class="alert alert-info">Last Updated on: {{ studyDetails?.updatedOn | date: 'd-MMM-y, h:mm a' }}</span> -->
<app-last-saved [auditFields]="studyDetails"></app-last-saved>
