<table class="table table-striped">
	<thead>
		<tr class="bg-green align-text-top">
			<th scope="col">Project Status Categories</th>
			<th scope="col">N/A</th>
            <th scope="col">Project Category Score</th>
			<th scope="col">Comment</th>
			<th scope="col">Action</th>
		</tr>
	</thead>
	<tbody>
        <tr>
            <th> Study Start Up </th>
            <td></td>
            <td class="text-center">
                <div [style]="getStyle(record.studyStartUp)">
                    {{ record.studyStartUp }}
                </div>
            </td>
            <td>{{ record.studyStartUpComments }}</td>
            <td>{{ record.studyStartUpAction }}</td>
        </tr>
        <tr>
            <th> Receive Site List from Sponsor / CRO, Site Imaging Manual (Sim), SIM Translation (if Required), Image Data Transfer set-up, Randomization set-up </th>
            <td>{{ getNotApplicableStatus(record.receiveSiteListfromSponsorCroflag) }}</td>
            <td class="text-center">
                <div [style]="getStyle(record.receiveSiteListfromSponsorCro)">
                    {{ record.receiveSiteListfromSponsorCro }}
                </div>
            </td>
            <td>{{ record.receiveSiteListfromSponsorCrocomments }}</td>
            <td>{{ record.receiveSiteListfromSponsorCroaction }}</td>
        </tr>
        <tr>
            <th> Data Handling Plan / Procedure Manual (Periodic Review: Yearly) </th>
            <td>{{ getNotApplicableStatus(record.dataHandlingPlanProcedureManualFlag) }}</td>
            <td class="text-center">
                <div [style]="getStyle(record.dataHandlingPlanProcedureManual)">
                    {{ record.dataHandlingPlanProcedureManual }}
                </div>
            </td>
            <td>{{ record.dataHandlingPlanProcedureManualComments }}</td>
            <td>{{ record.dataHandlingPlanProcedureManualAction }}</td>
        </tr>
        <tr>
            <th> Staffing Plan & User Access Management (Periodic Review: Bi-annually) </th>
            <td>{{ getNotApplicableStatus(record.staffingPlanFlag) }}</td>
            <td class="text-center">
                <div [style]="getStyle(record.staffingPlan)">
                    {{ record.staffingPlan }}
                </div>
            </td>
            <td>{{ record.staffingPlanComments }}</td>
            <td>{{ record.staffingPlanAction }}</td>
        </tr>
        <tr>
            <th> Reader Selection and Contracts: Vendor Selection and Contracts </th>
            <td>{{ getNotApplicableStatus(record.readercontractsvendorandcontractsFlag) }}</td>
            <td class="text-center">
                <div [style]="getStyle(record.readercontractsvendorandcontracts)">
                    {{ record.readercontractsvendorandcontracts }}
                </div>
            </td>
            <td>{{ record.readercontractsvendorandcontractsComments }}</td>
            <td>{{ record.readercontractsvendorandcontractsAction }}</td>
        </tr>
        <tr>
            <th> Reconciliation Specification </th>
            <td>{{ getNotApplicableStatus(record.reconciliationSpecificationFlag) }}</td>
            <td class="text-center">
                <div [style]="getStyle(record.reconciliationSpecification)">
                    {{ record.reconciliationSpecification }}
                </div>
            </td>
            <td>{{ record.reconciliationSpecificationComments }}</td>
            <td>{{ record.reconciliationSpecificationAction }}</td>
        </tr>
    </tbody>
</table>
