<ul class="nav nav-pills pb-3">
  <li role="button"
    class="nav-item nav-link" 
    [routerLink]="'cds'" 
    routerLinkActive="active"
    appStudyMenuAccessLink
    >CDS
  </li>
  <li role="button"
    class="nav-item nav-link" 
    [routerLink]="'cds-view'" 
    routerLinkActive="active"
    appStudyMenuAccessLink
    >CDS - View
  </li>
  <li role="button"
    class="nav-item nav-link" 
    [routerLink]="'development-request'" 
    routerLinkActive="active"
    appStudyMenuAccessLink
    >Development Request
  </li>
  <li role="button"
    class="nav-item nav-link" 
    [routerLink]="'development-request-view'" 
    routerLinkActive="active"
    appStudyMenuAccessLink
    >Development Request - View
  </li>
  <!-- hidden based on UAT Request -->
  <!-- <li class="nav-item">
    <a class="nav-link" [routerLink]="'val-request'" routerLinkActive="active">Validation Request
  </li> -->
  <li role="button"
    class="nav-item nav-link" 
    [routerLink]="'output-request'" 
    routerLinkActive="active"
    appStudyMenuAccessLink
    >Output Request
  </li>
  <li role="button"
    class="nav-item nav-link" 
    [routerLink]="'output-request-view'" 
    routerLinkActive="active"
    appStudyMenuAccessLink
    >Output Request - View
  </li>
  <li role="button"
    class="nav-item nav-link" 
    [routerLink]="'delivery-request'" 
    routerLinkActive="active"
    appStudyMenuAccessLink
    >Delivery Request
  </li>
  <li role="button"
    class="nav-item nav-link" 
    [routerLink]="'delivery-request-view'" 
    routerLinkActive="active"
    appStudyMenuAccessLink
    >Delivery Request - View
  </li>
  <li role="button"
    class="nav-item nav-link" 
    [routerLink]="'programming-instructions'" 
    routerLinkActive="active"
    appStudyMenuAccessLink
    >Programming Instructions
  </li>
  <li role="button"
    class="nav-item nav-link" 
    [routerLink]="'programming-instructions-view'" 
    routerLinkActive="active"
    appStudyMenuAccessLink
    >Programming Instructions - View
  </li>
  <li role="button"
    class="nav-item nav-link" 
    [routerLink]="'coding-request'" 
    routerLinkActive="active"
    appStudyMenuAccessLink
    >Coding Request
  </li>
  <li role="button"
    class="nav-item nav-link" 
    [routerLink]="'coding-request-view'" 
    routerLinkActive="active"
    appStudyMenuAccessLink
    >Coding Request - View
  </li>
  <li role="button"
    class="nav-item nav-link" 
    [routerLink]="'archived-data'"
    routerLinkActive="active"
    >Archived Data
  </li>
  <!-- <li role="button" ngbDropdown display="dynamic" placement="bottom-right">
    <a id="archiveddata-dropdown" class="nav-link" ngbDropdownToggle data-toggle="tooltip" title="Archived Data">
      <span translate>Archived Data</span>
    </a>
    <div ngbDropdownMenu aria-labelledby="archiveddata-dropdown">
      <button class="dropdown-item" [routerLink]="'archived-data/cds-ouput-archived-data'" routerLinkActive="active" translate>
        CDS Output Archived Data
      </button>
      <button class="dropdown-item" [routerLink]="'archived-data/cds-delivery-archived-data'" routerLinkActive="active" translate>
        CDS Delivery Archived Data
      </button>
    </div>
  </li> -->
</ul>
<hr />
<router-outlet></router-outlet>
