<div class="row bg-icon-light small  me-n4  mb-3 px-2 pt-0 border-bottom  mt-n4">
  <div class="col-12 d-flex justify-content-between text-center study-dashboard pe-0 ps-0">
    <ng-select
      [title]="lockedMessage"
      class="pe-2 align-self-center"
      #IconNumbersDropDown
      placeholder="Icon Number"
      [(ngModel)]="selectedStudy"
      [clearable]="false"
      (change)="onStudySelected()"
      [disabled]="studyEditMode"
    >
      <ng-option *ngFor="let rec of studyIconNumbers" [value]="rec.studyId">{{ rec.studyIconNumber }}</ng-option>
    </ng-select>
    <app-study-dm-dashboard *ngIf="showDMDashBoard"></app-study-dm-dashboard>
    <app-study-imi-dashboard *ngIf="showIMIDashBoard"></app-study-imi-dashboard>
    <app-study-crm-dashboard *ngIf="showCrmDashBoard"></app-study-crm-dashboard>
    <!-- <div *ngIf="showDMDashBoard">
      <table class="table mb-0 study-dashboard">
        <tr>
          <td>Study Name</td>
          <td>Region</td>
          <td>Portfolio</td>
          <td>Sponsor</td>
          <td>CDMS</td>
          <td>DMPM</td>
          <td>Status</td>
          <td>FPI</td>
          <td>mDBL</td>
          <td>fDBL</td>
          <td>Score</td>
        </tr>

        <tr>
          <td>{{ studyDashboard?.studyName }}</td>
          <td>{{ studyDashboard?.region }}</td>
          <td>{{ studyDashboard?.portfolio }}</td>
          <td>{{ studyDashboard?.sponsor }}</td>
          <td>{{ studyDashboard?.cdms }}</td>
          <td>{{ studyDashboard?.currentDmpm }}</td>
          <td>{{ studyDashboard?.studyStatusText }}</td>
          <td>{{ studyDashboard?.fpiText }}</td>
          <td>{{ studyDashboard?.mainDBLText }}</td>
          <td>{{ studyDashboard?.followUpDBLText }}</td>
          <td>
            <app-cell [record]="studyDashboard" [column]="column"></app-cell>
          </td>
        </tr>
      </table>
    </div> -->
    <!-- <div *ngIf="showIMIDashBoard">
      <table class="table mb-0 study-dashboard">
        <tr>
          <td>Project Review</td>
          <td>Protocol Name</td>
          <td>Region</td>
          <td>Portfolio</td>
          <td>Sponsor</td>
          <td>CDMS</td>
          <td>IMI PD</td>
          <td>IMI PM</td>
          <td>Status</td>
          <td>IMI Involvement Begins</td>
          <td>FPI</td>
          <td>IMI Involvement Ends</td>
          <td>Project Score</td>
        </tr>

        <tr>
          <td>{{ studyDashboard?.reviewIndex }}</td>
          <td>{{ studyDashboard?.studyName }}</td>
          <td>{{ studyDashboard?.region }}</td>
          <td>{{ studyDashboard?.portfolio }}</td>
          <td>{{ studyDashboard?.sponsor }}</td>
          <td>{{ studyDashboard?.cdms }}</td>
          <td>{{ studyDashboard?.currentDmpmManager }}</td>
          <td>{{ studyDashboard?.currentDmpm }}</td>
          <td>{{ studyDashboard?.studyStatusText }}</td>
          <td>{{ studyDashboard?.imiInvolvementBegins | date: 'dd-MMM-yyyy' }}</td>
          <td>{{ studyDashboard?.fpiText }}</td>
          <td>{{ studyDashboard?.imiInvolvementEnds | date: 'dd-MMM-yyyy' }}</td>
          <td>
            <app-cell [record]="studyDashboard" [column]="column"></app-cell>
          </td>
        </tr>
      </table>
    </div> -->
  </div>
</div>
<!-- <p>studyDashboard: {{studyDashboard | json}}</p> -->
