<app-loader [isLoading]="isLoading"></app-loader>

<div class="bg-icon-light me-n5 ms-n5 p-3 border-bottom border-top">
  <div class="row">
    <div class="col">
      <app-crm-list-filters (filterChange)="onFilterChange($event)"></app-crm-list-filters>
    </div>
  </div>
</div>

<div class="row">
  <div class="table-responsive">
    <app-data-table-base
      [columns]="columns"
      [records]="records"
      [pageNumber]="1"
      [pageSize]="selectedFilters.pageSize"
      (raiseEvent)="onRaiseEvent($event)"
    ></app-data-table-base>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <pagination-control
      [page]="selectedFilters.pageNumber"
      [pageSize]="selectedFilters.pageSize"
      [collectionSize]="recordCount"
      (onPageChange)="onPageChange($event)"
    ></pagination-control>
  </div>
</div>

<!-- <app-component-access [compCode]="'crm-study-list-view'"> </app-component-access> -->

<!-- <p>records : {{ records | json }}</p> -->
