
<form [formGroup]="form" (ngSubmit)="submit()">
  <formly-form [model]="record" [fields]="fields" [options]="options" [form]="form"></formly-form>
  <br />
  <button type="submit" class="btn btn-primary submit-button me-1" [disabled]="!(form.valid && form.dirty)">Save</button>
  <button type="button" class="btn btn-light me-1" (click)="options.resetModel()">Undo</button>
  <!-- <span class="alert alert-info">Last Updated on: {{ record?.updatedOn | date: 'd-MMM-y, h:mm a' }}</span> -->
  <app-last-saved [auditFields]="record"></app-last-saved>

</form>
<!-- <p>record: {{ record | json }}</p> -->
