<!-- <app-study-list-base
  [title]="title"
  [columns]="columns"
  [keyField]="keyField"
  [studyId]="studyId"
  [controllerName]="controllerName"
  [messageFieldForDelete]="messageFieldForDelete"
  [displayJson]="true"
></app-study-list-base> -->
<!-- <hr /> -->

<app-loader [isLoading]="true" *ngIf="loading"></app-loader>

<!-- <div class="row">
  <div class="col-md-9">
    <H6>Average FTE</H6>
    <app-study-fte-review-averages-dashboard></app-study-fte-review-averages-dashboard>
  </div>
  <div class="col-md-3">
    <app-study-fte-review-averages-list></app-study-fte-review-averages-list>
  </div>
</div> -->
<app-study-fte-review-averages-dashboard></app-study-fte-review-averages-dashboard>
<H6>FTE Review</H6>
<app-data-table-shell
  [records]="records"
  [columns]="columns"
  [showColumnManager]="false"
  [showFooterActions]="showFooterActions"
  (raiseEvent)="onRaiseEvent($event)"
  [viewMode]="isViewMode"
>
  <div footer-actions class="form-group">
    <button type="button" class="btn btn-primary" (click)="add()">
      Add
    </button>
  </div>
</app-data-table-shell>
