<app-loader [isLoading]="true" *ngIf="loading"></app-loader>

<!-- <h4>Review Sign Off</h4> -->

<div class="container ps-0">
  <div class="card">
    <div class="card-body">
      <form [formGroup]="form" >
        <formly-form [model]="review" [fields]="fields" [options]="options" [form]="form"></formly-form>
        

        <!-- <button type="button" class="btn btn-default" (click)="options.resetModel()">Undo</button> -->
      </form>
    </div>
  </div>

  <br />
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header bg-green text-bold">IMI PM Review</div>
        <div class="card-body">
          <!-- <h5 class="card-title"></h5> -->
          <p class="card-text"></p>

          <form [formGroup]="form">
            <formly-form [model]="review" [fields]="dmpmFields" [options]="options" [form]="form"></formly-form>
          </form>

          <p>{{ dmpmReviewStatus }}</p>
          <br />

          <button
            type="button"
            class="btn btn-primary"
            *ngIf="showDMPMConfirmProjectReviewButton"
            (click)="dmpmConfirmProjectReview()"
          >
            IMI PM Review Confirm
          </button>
          <button
            type="button"
            class="btn btn-light"
            *ngIf="showDMPMUndoProjectReviewButton"
            (click)="dmpmUndoProjectReview()"
          >
            Undo IMI PM Review Confirm
          </button>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header bg-green text-bold">IMI PD Review</div>
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text"></p>
          <form [formGroup]="form">
            <formly-form [model]="review" [fields]="dmpmManagerFields" [options]="options" [form]="form"></formly-form>
          </form>

          <p>{{ dmpmManagerReviewStatus }}</p>
          <br />
          <button
            type="button"
            class="btn btn-primary"
            *ngIf="showDMPMManagerConfirmProjectReviewButton"
            (click)="dmpmManagerConfirmProjectReview()"
          >
            IMI PM Review Confirm
          </button>
          <button
            type="button"
            class="btn btn-light"
            *ngIf="showDMPMManagerUndoProjectReviewButton"
            (click)="dmpmManagerUndoProjectReview()"
          >
            Undo IMI PD Review Confirm
          </button>
        </div>
      </div>
    </div>
  </div>

  <br />

  <div class="row">
    <div class="col-sm-6">
      <button type="button" class="btn btn-primary submit-button me-1" (click)="save()">Save</button>&nbsp;&nbsp;
        <button type="button" class="btn btn-light me-1" (click)="options.resetModel()">Undo</button>&nbsp;&nbsp;
        <!-- <span class="alert alert-info">Last Updated on: {{ review?.updatedOn | date: 'd-MMM-y, h:mm a' }}</span> -->
        <app-last-saved [auditFields]="review"></app-last-saved>
      </div>
      <div class="col-sm-6">
      </div>
  </div>
      
</div>
<!-- <p>userIsStudyDMPM: {{userIsStudyDMPM()}}</p> -->
<!-- <p>studyReviewStatusInEditMode: {{studyReviewStatusInEditMode()}}</p> -->
<!-- <p>review: {{ review | json }}</p> -->
