<!-- *****{{records | json}} -->
<div class="row">
  <div class="col-3">
    <div class="form-group">
      <label class="form-label">Frequency</label>
      <ng-select
        id="exampleFormControlSelect1"
        [(ngModel)]="frequencyFilters"
        [multiple]="true"
        placeholder="Frequency"
        [clearable]="true"
        (ngModelChange)="onFiltersChange()"
      >
        <ng-option *ngFor="let rec of filters?.frequency" [value]="rec.value">{{ rec.value }}</ng-option>
      </ng-select>
    </div>
  </div>
</div>
