<table class="table table-sm  small table-striped">
  <tbody>
    <tr>
      <td>Name</td>
      <td>{{ record?.displayName }}</td>
    </tr>
    <tr>
      <td>EMail Id</td>
      <td>{{ record?.emailId }}</td>
    </tr>
    <tr>
      <td>Employee Id</td>
      <td>{{ record?.employeeId }}</td>
    </tr>
    <tr>
      <td>Enterprise Id</td>
      <td>{{ record?.enterpriseId }}</td>
    </tr>
    <tr>
      <td>Joining Date</td>
      <td>{{ record?.joiningdate | date: 'dd-MMM-yyyy' }}</td>
    </tr>
    <tr>
      <td>Role</td>
      <td>{{ record?.rolePDescription }}</td>
    </tr>
    <tr>
      <td>Operating Division</td>
      <td>{{ record?.operatingDivisionPDescription }}</td>
    </tr>
    <tr>
      <td>Office Region</td>
      <td>{{ record?.officeRegionPDescription }}</td>
    </tr>
    <tr>
      <td>Office Country</td>
      <td>{{ record?.officeCountryPDescription }}</td>
    </tr>
    <tr>
      <td>Start Date in Clinical Industry</td>
      <td>{{ record?.month | date: 'MMM-yyyy' }}</td>
    </tr>
    <tr>
      <td>Time Zone</td>
      <td>{{ record?.timeZoneId }}</td>
    </tr>
  </tbody>
</table>
