<app-loader [isLoading]="true" *ngIf="loading"></app-loader>
<!-- <h4>{{ title }}</h4> -->

<hr />
<form [formGroup]="form" (ngSubmit)="submit()">
  <formly-form [model]="record" [fields]="fields" [options]="options" [form]="form"></formly-form>
  <button type="submit" class="btn btn-primary submit-button me-1" [disabled]="!(form.valid && form.dirty)">Save</button>
  <!-- <button type="button" class="btn btn-default" (click)="options.resetModel()">Undo</button> -->
  <button type="button" class="btn btn-primary" (click)="options.resetModel()" title="Undo changes">
    <i class="bi bi-arrow-counterclockwise "></i>
    Undo
  </button>
  <app-last-saved [auditFields]="record"></app-last-saved>

</form>
<!-- <app-ng-multi-select
  [fieldValue]="record?.validationTaskInvolved"
  [options]="testOptions"
  (selectionChange)="onSelectionChange($event)"
></app-ng-multi-select> -->

<!-- <p>record: {{ record | json }}</p> -->
