<table class="table table-striped">
	<thead>
		<tr class="bg-green align-text-top">
			<th scope="col">Project Status Categories</th>
			<th scope="col">N/A</th>
            <th scope="col">Project Category Score</th>
			<th scope="col">Comment</th>
			<th scope="col">Action</th>
		</tr>
	</thead>
	<tbody>
        <tr>
            <th> Quality and TMF </th>
            <td></td>
            <td class="text-center">
                <div [style]="getStyle(record.qualityTmf)">
                    {{ record.qualityTmf }}
                </div>
            </td>
            <td>{{ record.qualityTmfcomments }}</td>
            <td>{{ record.qualityTmfaction }}</td>
        </tr>
        <tr>
            <th> Audit Planning, Status and Followup </th>
            <td>{{ getNotApplicableStatus(record.auditplanningFlag) }}</td>
            <td class="text-center">
                <div [style]="getStyle(record.auditplanning)">
                    {{ record.auditplanning }}
                </div>
            </td>
            <td>{{ record.auditplanningComments }}</td>
            <td>{{ record.auditplanningAction }}</td>
        </tr>
        <tr>
            <th> CAPAs/QIs </th>
            <td>{{ getNotApplicableStatus(record.capasQqisFlag) }}</td>
            <td class="text-center">
                <div [style]="getStyle(record.capasQqis)">
                    {{ record.capasQqis }}
                </div>
            </td>
            <td>{{ record.capasQqisComments }}</td>
            <td>{{ record.capasQqisAction }}</td>
        </tr>
        <tr>
            <th> Protocol Compliance/Deviation Criteria and Review </th>
            <td>{{ getNotApplicableStatus(record.protocolcomplianceDeviationcriteriaFlag) }}</td>
            <td class="text-center">
                <div [style]="getStyle(record.protocolcomplianceDeviationcriteria)">
                    {{ record.protocolcomplianceDeviationcriteria }}
                </div>
            </td>
            <td>{{ record.protocolcomplianceDeviationcriteriaComments }}</td>
            <td>{{ record.protocolcomplianceDeviationcriteriaAction }}</td>
        </tr>
        <tr>
            <th> Inspection Readiness Activities and TMF QCs </th>
            <td>{{ getNotApplicableStatus(record.inspectionreadinessactivitiesTmfqcsFlag) }}</td>
            <td class="text-center">
                <div [style]="getStyle(record.inspectionreadinessactivitiesTmfqcs)">
                    {{ record.inspectionreadinessactivitiesTmfqcs }}
                </div>
            </td>
            <td>{{ record.inspectionreadinessactivitiesTmfqcsComments }}</td>
            <td>{{ record.inspectionreadinessactivitiesTmfqcsAction }}</td>
        </tr>
        <tr>
            <th> TMF Quality Metrics </th>
            <td>{{ getNotApplicableStatus(record.tmfqualitymetricsFlag) }}</td>
            <td class="text-center">
                <div [style]="getStyle(record.tmfqualitymetrics)">
                    {{ record.tmfqualitymetrics }}
                </div>
            </td>
            <td>{{ record.tmfqualitymetricsComments }}</td>
            <td>{{ record.tmfqualitymetricsAction }}</td>
        </tr>
        <tr>
            <th> Filing Management Plan </th>
            <td>{{ getNotApplicableStatus(record.filingManagementPlanFlag) }}</td>
            <td class="text-center">
                <div [style]="getStyle(record.filingManagementPlan)">
                    {{ record.filingManagementPlan }}
                </div>
            </td>
            <td>{{ record.filingManagementPlanComments }}</td>
            <td>{{ record.filingManagementPlanAction }}</td>
        </tr>
        <tr>
            <th> SOP Log </th>
            <td>{{ getNotApplicableStatus(record.soplogFlag) }}</td>
            <td class="text-center">
                <div [style]="getStyle(record.soplog)">
                    {{ record.soplog }}
                </div>
            </td>
            <td>{{ record.soplogComments }}</td>
            <td>{{ record.soplogActions }}</td>
        </tr>
    </tbody>
</table>
