<div class="row" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
  <div class="col-3">
    <div class="form-group">
      <label class="form-label">Search</label>
      <input class="form-control" placeholder="ICON Number or Protocol Name" type="text" [formControl]="filterForm" />
    </div>
  </div>
  <div class="col-3">
    <div class="form-group">
      <label class="form-label">Portfolio</label>
      <ng-select
        id="exampleFormControlSelect1"
        [(ngModel)]="portfolioFilters"
        [multiple]="true"
        placeholder="Portfolio"
        [clearable]="true"
        (ngModelChange)="onFiltersChange()"
      >
        <ng-option *ngFor="let rec of filters?.portfolio" [value]="rec.value">{{ rec.value }}</ng-option>
      </ng-select>
    </div>
  </div>
  <div class="col-3">
    <div class="form-group">
      <label class="form-label">Sponsor</label>
      <ng-select
        id="exampleFormControlSelect1"
        [(ngModel)]="sponsorFilters"
        [multiple]="true"
        placeholder="Sponsor"
        [clearable]="true"
        (ngModelChange)="onFiltersChange()"
      >
        <ng-option *ngFor="let rec of filters?.sponsor" [value]="rec.value">{{ rec.value }}</ng-option>
      </ng-select>
    </div>
  </div>
  <div class="col-3">
    <div class="form-group">
      <label class="form-label">Status</label>
      <ng-select
        id="exampleFormControlSelect1"
        [multiple]="true"
        placeholder="Status"
        [(ngModel)]="statusFilters"
        [clearable]="true"
        (ngModelChange)="onFiltersChange()"
      >
        <ng-option *ngFor="let rec of filters?.studyStatus" [value]="rec.value">{{ rec.value }}</ng-option>
      </ng-select>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-3">
    <div class="form-group">
      <label class="form-label">IMI PM</label>
      <ng-select
        id="exampleFormControlSelect1"
        [(ngModel)]="currentImiProjectManagersFilters"
        [multiple]="true"
        placeholder="Project Manager"
        [clearable]="true"
        (ngModelChange)="onFiltersChange()"
      >
        <ng-option *ngFor="let rec of filters?.currentImiProjectManagers" [value]="rec.value">{{
          rec.value
        }}</ng-option>
      </ng-select>
    </div>
  </div>
  <div class="col-3">
    <div class="form-group">
      <label class="form-label">IMI PD</label>
      <ng-select
        id="exampleFormControlSelect1"
        [(ngModel)]="currentImiProjectDirectorsFilters"
        [multiple]="true"
        placeholder="Project Director"
        [clearable]="true"
        (ngModelChange)="onFiltersChange()"
      >
        <ng-option *ngFor="let rec of filters?.currentImiProjectDirectors" [value]="rec.value">{{
          rec.value
        }}</ng-option>
      </ng-select>
    </div>
  </div>
</div>

<!-- <p>records : {{records | json }}</p> -->
