<app-loader [isLoading]="isLoading"></app-loader>
<app-cds-dely-due-dashboard (itemClicked)="onItemClicked($event)"></app-cds-dely-due-dashboard>
<div class="bg-icon-light me-n5 ms-n5 px-3 py-3 border-bottom border-top">
  <details>
    <summary><i class="bi bi-funnel"></i> Filters</summary>
    <app-cds-delivery-filter
      [selectedFilters]="selectedFilters"
      [showResetButton]="true"
      (filterChange)="onFilterChange($event)"
      (resetFilters)="onResetFilters()"
    >
    </app-cds-delivery-filter>
  </details>
</div>

<app-cds-del-req-base-list [filters]="selectedFilters" (filterChange)="onFilterChange($event)">
</app-cds-del-req-base-list>
<!-- <button type="button" class="btn btn-primary" (click)="add()">
  New Delivery Request
</button> -->
<!-- <div class="row">
  <div class="table-responsive">
    <app-data-table-base
      [columns]="columns"
      [records]="records"
      [pageNumber]="1"
      [pageSize]="selectedFilters.pageSize"
    ></app-data-table-base>
  </div>
</div> -->

<!-- <div class="row">
  <div class="col-md-2">
    <app-column-manager-shell [columns]="columns"></app-column-manager-shell>
  </div>
  <div class="col-md-10">
    <pagination-control
      [page]="selectedFilters.pageNumber"
      [pageSize]="selectedFilters.pageSize"
      [collectionSize]="recordCount"
      (onPageChange)="onPageChange($event)"
    ></pagination-control>
  </div>
</div> -->
<!-- <p>records:{{ records | json }}</p> -->
