<app-loader [isLoading]="true" *ngIf="loading"></app-loader>

<app-data-table-shell
  [records]="records"
  [columns]="columns"
  [showColumnManager]="false"
  [showFooterActions]="showFooterActions"
  (raiseEvent)="onRaiseEvent($event)"
>
  <div header>
    <h5
      style="background: #128474;
    color: white !important;
    border-color: #128474;padding:10px;margin-bottom: 10px;"
    >
      {{ title }}
    </h5>
  </div>
  <div footer-actions class="form-group">
    <button type="button" class="btn btn-primary" (click)="add()">
      Add
    </button>
  </div>
</app-data-table-shell>
<!-- <app-component-access [compCode]="'crm-tracker-3-edit'" [redirect-to]="'/crm/crm-tracker-3-view'">
</app-component-access> -->
<!-- <p>records: {{ records | json }}</p> -->
<!-- <p>mode: {{mode}}</p> -->
