<app-loader [isLoading]="isLoading"></app-loader>

<div class="bg-icon-light me-n5 ms-n5 px-3 py-3 border-bottom border-top">
  <div class="row">
    <div class="col">
      <details>
        <summary><i class="bi bi-funnel"></i> Filters</summary>
        <app-cds-coding-filter
          [selectedFilters]="selectedFilters"
          [showResetButton]="true"
          (filterChange)="onFilterChange($event)"
          (resetFilters)="onResetFilters()"
        ></app-cds-coding-filter>
      </details>
    </div>
  </div>
</div>
<button type="button" class="btn btn-primary my-3" (click)="add()">
  New Coding Request
</button>
<div class="row">
  <div class="col">
    <div class="table-responsive">
      <app-data-table-base
        [columns]="columns"
        [records]="records"
        [pageNumber]="1"
        [pageSize]="selectedFilters.pageSize"
      ></app-data-table-base>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <app-column-manager-shell [columns]="columns"></app-column-manager-shell>
  </div>
  <div class="col-md-8">
    <pagination-control
      [page]="selectedFilters.pageNumber"
      [pageSize]="selectedFilters.pageSize"
      [collectionSize]="recordCount"
      (onPageChange)="onPageChange($event)"
    ></pagination-control>
  </div>
</div>
<app-server-response-messages
  [serverResponseMessages]="serverResponses"
  [messageBoxHeight]="200"
></app-server-response-messages>
<!-- <p>records:{{ records | json }}</p> -->
<!-- <p>selectedFilters: {{selectedFilters | json}}</p> -->
