<div class="row">
  <div class="col-8">
    <table class="table table-sm  small table-striped">
      <tbody>
        <tr>
          <td>Review Number</td>
          <td>{{ review?.reviewIndex }}</td>
        </tr>
        <tr>
          <td>DMPM</td>
          <td>{{ review?.dmpmDisplayName }}</td>
        </tr>
        <tr>
          <td>DMPM Reviewed On</td>
          <td>{{ review?.dmpmReviewedOn | date: 'dd-MMM-yyyy' }}</td>
        </tr>

        <tr>
          <td>DMPM Manager</td>
          <td>{{ review?.dmpmManagerDisplayName }}</td>
        </tr>
        <tr>
          <td>DMPM Manager Reviewed On</td>
          <td>{{ review?.dmpmManagerReviewedOn | date: 'dd-MMM-yyyy' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- <p>review: {{review | json }}</p> -->
