Subject: PRISM CDS Development Request - {StudyIconNumber} - {TaskId} - Completed.

Hi Admin,
<br/><br/>

PRISM CDS Development Request - {StudyIconNumber} - {TaskId} - Completed.<br />
<br />

Completed By: <b> {LoginUserName} </b><br />


<br />
Yours sincerely,<br />
Project Risk Information and Solutions Management.
