<app-loader [isLoading]="true" *ngIf="loading"></app-loader>
<!-- <h4>Project History</h4> -->

<div class="row">
  <div class="table-responsive">
    <table class="table table-sm table-hover small table-striped">
      <thead class="bg-green">
        <tr>
          <th *ngFor="let column of viisbleColumns">{{ column | titlecase }}</th>
        </tr>
      </thead>
      <tbody>
        <!-- <tr *ngFor="let record of studyReviewHistory">
      <td *ngFor="let column of columns" [ngStyle]="getStyle(record, column)">
        {{ record[column] }}
      </td>
    </tr> -->

        <tr *ngFor="let record of studyReviewHistory">
          <td *ngFor="let column of viisbleColumns" [ngStyle]="getStyle(record, column)">
            <div>{{ record[column] }}</div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
