<app-loader [isLoading]="true" *ngIf="loading"></app-loader>

<h4>Archived Data CDS Output Request</h4>
<hr />

<div class="bg-icon-light me-n5 ms-n5 px-3 py-3 border-bottom border-top">
	<div class="row">
	  <div class="col">
		<details>
		  <summary><i class="bi bi-funnel"></i> Filters</summary>
		  <app-archived-data-filters
				[selectedFilters]="selectedFilters"
				[showResetButton]="true"
				(filterChange)="onFilterChange($event)"
				(resetFilters)="onResetFilters()"
		  ></app-archived-data-filters>
		</details>
	  </div>
	</div>
</div>

<div class="table-responsive">
	<table class="table table-sm table-hover small table-striped">
	  <thead style="background-color: var(--green) !important;">
<!-- <table class="table table-bordered table-sm table-hover small table-striped" style="border-color:lightgray;">
	<thead style="background-color: #b6effb;"> -->
			<tr>
				<th align="left">Created Date</th>
				<th align="left">Link</th>
				<th align="left">Download</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let fileRecord of filteredFileRecords;">
				<td>{{ fileRecord.fileCreatedOn | date: 'dd-MMM-yyyy'}}</td>
				<td>{{ fileRecord.link }}</td>
				<td class="text-end"><button class="btn btn-primary" (click)="downloadFile(fileRecord)"><i class="bi bi-download"></i></button></td>
			</tr>
		</tbody>
	</table>
	<pagination-control
		[page]="pageNumber"
		[pageSize]="pageSize"
		[collectionSize]="totalItems"
		(onPageChange)="onPageChange($event)"
	></pagination-control>
</div>