<app-loader [isLoading]="loading"></app-loader>
<h4>{{ title }}</h4>
<hr />
<form [formGroup]="form">
  <formly-form [model]="record" [fields]="fields" [options]="options" [form]="form"></formly-form>
  <button type="button" class="btn btn-default" (click)="back()">Back</button>
  <app-confirmation-shell
    *ngIf="ApprovedOrRejectedButton"
    [message]="'Approve Request: ' + recId + ' ? Caution! User Record will be updated and cannot be undone'"
    [labelText]="'Approve'"
    [responseValue]="recId"
    (response)="approve()"
  >
  </app-confirmation-shell>

  <app-confirmation-shell
    *ngIf="ApprovedOrRejectedButton"
    [message]="'Reject Request: ' + recId + ' ?'"
    [labelText]="'Reject'"
    [responseValue]="recId"
    (response)="reject()"
    [disabled]="!canReject()"
    [toolTip]="'Reject comments required'"
  >
  </app-confirmation-shell>
  <app-confirmation-shell
    *ngIf="undoRejectButton"
    [message]="'Undo Reject, Request: ' + recId + ' ?'"
    [labelText]="'Undo Reject'"
    [responseValue]="recId"
    (response)="undoReject()"
  >
  </app-confirmation-shell>
</form>

<!-- <p>record: {{record | json}}</p> -->
