Subject:  Study {StudyName} - {StudyIconNumber} is planned
 
Hello CRM Team,

<br/><br/>
A new Study {StudyName} - {StudyIconNumber} has been added in PRISM where ICONIK is selected.

<br />
<br />
Thanks,<br />
PRISM Admin Team
