<!-- {{ records | json }} -->
<h2>CDMS Tasks</h2>
<app-loader [isLoading]="isLoading"></app-loader>
<!-- <app-users-filter [selectedFilters]="selectedFilters" (filterChange)="onFilterChange($event)"></app-users-filter> -->
<!-- //[requiredPermissions]="requiredPermissions" -->
<div class="row " style="min-height: 200px;">
  <div class="col-md-12">
    <!-- {{columns | json}} -->
    <div class="table-responsive">
      <app-data-table-base
        [columns]="columns"
        [records]="records"
        [pageNumber]="selectedFilters.pageNumber"
        [pageSize]="selectedFilters.pageSize"
        (raiseEvent)="onRaiseEvent($event)"
      ></app-data-table-base>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <button type="button" class="btn btn-primary" (click)="add()">
      Create
    </button>
  </div>
  <div class="col-md-1">
    <app-column-manager-shell [columns]="columns"></app-column-manager-shell>
  </div>
  <div class="col-md-9">
    <pagination-control
      [page]="selectedFilters.pageNumber"
      [pageSize]="selectedFilters.pageSize"
      [collectionSize]="records?.length"
      (onPageChange)="onPageChange($event)"
    ></pagination-control>
  </div>
</div>
<!-- <p>records: {{ records | json }}</p> -->
