<div class="row">
  <div class="col-4">
    <div class="form-group">
      <label class="form-label">Task Id</label>
      <input class="form-control" placeholder="Task Id" type="text" [formControl]="filterForm" />
    </div>
  </div>

  <div class="col-6">
    <div class="form-group">
      <label class="form-label">Task Category (Development)</label>
      <ng-select
        id="exampleFormControlSelect1"
        [(ngModel)]="selectedFilters.developmentTaskCategory"
        [multiple]="true"
        placeholder="All"
        [clearable]="false"
        (ngModelChange)="onFiltersChange()"
      >
        <ng-option *ngFor="let rec of filters?.taskCategory" [value]="rec.value">{{ rec.value }}</ng-option>
      </ng-select>
    </div>
  </div>
  <div class="col-2">
    <br />
    <button type="button" class="btn btn-light" (click)="resetFiltersClicked()" title="Reset Filters">
      <i class="bi bi-arrow-counterclockwise " style="font-size: 20px;"></i>
    </button>
  </div>
</div>
