<!-- {{ records | json }} -->
<app-loader [isLoading]="isLoading"></app-loader>
<app-study-request-filter
  [selectedFilters]="selectedFilters"
  (filterChange)="onFilterChange($event)"
></app-study-request-filter>
<!-- //[requiredPermissions]="requiredPermissions" -->
<div class="row " style="min-height: 200px;">
  <div class="col-md-12">
    <!-- {{columns | json}} -->
    <div class="table-responsive">
      <app-data-table-base
        [columns]="columns"
        [records]="filteredRecords"
        [pageNumber]="selectedFilters.pageNumber"
        [pageSize]="selectedFilters.pageSize"
        (raiseEvent)="onRaiseEvent($event)"
      ></app-data-table-base>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <button type="button" class="btn btn-primary" (click)="add()">
      Create
    </button>
  </div>
  <div class="col-md-1">
    <!-- <button
      id="edit"
      (click)="openColumnManager()"
      class="btn btn-outline-primary"
      data-toggle="tooltip"
      data-placement="top"
      title="Hide Columns"
    >
      <i class="bi bi-ui-checks-grid"></i>
    </button> -->
    <app-column-manager-shell [columns]="columns"></app-column-manager-shell>
  </div>
  <div class="col-md-9">
    <pagination-control
      [page]="selectedFilters.pageNumber"
      [pageSize]="selectedFilters.pageSize"
      [collectionSize]="filteredRecords?.length"
      (onPageChange)="onPageChange($event)"
    ></pagination-control>
  </div>
</div>
<!-- <app-component-access
  [compCode]="'request-dm-study-request-edit'"
  [redirect-to]="'/requests/crm-study-request/crm-study-list'"
></app-component-access> -->
<!-- /requests/imi-study-request/request-list -->

<!-- <p>filteredRecords: {{ filteredRecords | json }}</p> -->
