<app-loader [isLoading]="true" *ngIf="loading"></app-loader>
<h5>IMI Timelines</h5>
<hr />
<table class="table table-sm small table-striped">
    <thead>
		<tr class="bg-green align-text-top">
			<th scope="col">Milestone Tasks</th>
            <th scope="col">Planned</th>
			<th scope="col">Actual</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Award Notification</td>
			<td>{{ studyTimelines.awardNotificationPlanned | date: 'd-MMM-y' }}</td>
            <td>{{ studyTimelines.awardNotificationActual | date: 'd-MMM-y' }}</td>
		</tr>
        <tr>
			<td>Communication Plan complete</td>
			<td>{{ studyTimelines.communicationPlanPlanned | date: 'd-MMM-y' }}</td>
            <td>{{ studyTimelines.communicationPlanActual | date: 'd-MMM-y' }}</td>
		</tr>
        <tr>
			<td>Contract execution date</td>
			<td>{{ studyTimelines.contractexecutionPlanned | date: 'd-MMM-y' }}</td>
            <td>{{ studyTimelines.contractexecutionActual | date: 'd-MMM-y' }}</td>
		</tr>
        <tr>
			<td>Data Delivery Specification (DDS)-Inbound compplete</td>
			<td>{{ studyTimelines.dataDeliverySpecificationInboundPlanned | date: 'd-MMM-y' }}</td>
            <td>{{ studyTimelines.dataDeliverySpecificationInboundActual | date: 'd-MMM-y' }}</td>
		</tr>
        <tr>
			<td>Data Delivery Specification (DDS)-Outbound compplete</td>
			<td>{{ studyTimelines.dataDeliverySpecificationOutboundPlanned | date: 'd-MMM-y' }}</td>
            <td>{{ studyTimelines.dataDeliverySpecificationOutboundActual | date: 'd-MMM-y' }}</td>
		</tr>
        <tr>
			<td>Database Lock</td>
            <td>{{ studyTimelines.databaseLockPlanned | date: 'd-MMM-y' }}</td> 
            <td>{{ studyTimelines.databaseLockActual | date: 'd-MMM-y' }}</td>
		</tr>
        <tr>
			<td>EDC Installation complete</td>
            <td>{{ studyTimelines.edcinstallationPlanned | date: 'd-MMM-y' }}</td> 
            <td>{{ studyTimelines.edcinstallationActual | date: 'd-MMM-y' }}</td>
		</tr>
        <tr>
			<td>Final Protocol with signatures</td>
			<td>{{ studyTimelines.finalProtocolsignaturesPlanned | date: 'd-MMM-y' }}</td> 
            <td>{{ studyTimelines.finalProtocolsignaturesActual | date: 'd-MMM-y' }}</td>
		</tr>
        <tr>
			<td>Final Read Delivery</td>
			<td>{{ studyTimelines.finalReadDeliveryPlanned | date: 'd-MMM-y' }}</td> 
            <td>{{ studyTimelines.finalReadDeliveryActual | date: 'd-MMM-y' }}</td>
		</tr>
        <tr>
			<td>First Patient in (Screened/Enrolled/Randomized)</td>
			<td>{{ studyTimelines.firstPatientInPlanned | date: 'd-MMM-y' }}</td> 
            <td>{{ studyTimelines.firstPatientInActual | date: 'd-MMM-y' }}</td>
		</tr>
		<tr>
			<td>Image Upload Configuration complete</td>
            <td>{{ studyTimelines.imageUploadConfigurationPlanned | date: 'd-MMM-y' }}</td> 
            <td>{{ studyTimelines.imageUploadConfigurationActual | date: 'd-MMM-y' }}</td>
		</tr>
        <tr>
			<td>Imaging Manual complete</td>
			<td>{{ studyTimelines.imagingManualcompletePlanned | date: 'd-MMM-y' }}</td> 
            <td>{{ studyTimelines.imagingManualcompleteActual | date: 'd-MMM-y' }}</td>
		</tr>
        <tr>
			<td>IMI Involvement Begins</td>
			<td>{{ studyTimelines.imiinvolvementbeginsPlanned | date: 'd-MMM-y' }}</td> 
            <td>{{ studyTimelines.imiinvolvementbeginsActual | date: 'd-MMM-y' }}</td>
		</tr>
        <tr>
			<td>IMI Involvement Ends</td>
            <td>{{ studyTimelines.imiinvolvementendsPlanned | date: 'd-MMM-y' }}</td> 
            <td>{{ studyTimelines.imiinvolvementendsActual | date: 'd-MMM-y' }}</td>
		</tr>
        <tr>
			<td>Independent Review Charter complete</td>
            <td>{{ studyTimelines.independentReviewCharterPlanned | date: 'd-MMM-y' }}</td> 
            <td>{{ studyTimelines.independentReviewCharterActual | date: 'd-MMM-y' }}</td>
		</tr>
        <tr>
			<td>Independent Review Training Manual (IRTM) complete</td>
            <td>{{ studyTimelines.independentReviewTrainingManualPlanned | date: 'd-MMM-y' }}</td> 
            <td>{{ studyTimelines.independentReviewTrainingManualActual | date: 'd-MMM-y' }}</td>
		</tr>
        <tr>
			<td>IPOP complete</td>
			<td>{{ studyTimelines.ipopcompletePlanned | date: 'd-MMM-y' }}</td> 
            <td>{{ studyTimelines.ipopcompleteActual | date: 'd-MMM-y' }}</td>
		</tr>
        <tr>
			<td>Last Patient In (Screened/Enrolled/Randomized)</td>
			<td>{{ studyTimelines.lastPatientInPlanned | date: 'd-MMM-y' }}</td> 
            <td>{{ studyTimelines.lastPatientInActual | date: 'd-MMM-y' }}</td>
		</tr>
        <tr>
			<td>Last Patient Out / Last Patient Last Visit</td>
			<td>{{ studyTimelines.lastPatientOutPlanned | date: 'd-MMM-y' }}</td> 
            <td>{{ studyTimelines.lastPatientOutActual | date: 'd-MMM-y' }}</td>
		</tr>
        <tr>
			<td>MSA Checks Specifications complete</td>
			<td>{{ studyTimelines.msachecksSpecificationsPlanned | date: 'd-MMM-y' }}</td> 
            <td>{{ studyTimelines.msachecksSpecificationsActual | date: 'd-MMM-y' }}</td>
		</tr>
        <tr>
			<td>Programming Start Date</td>
			<td>{{ studyTimelines.programmingStartPlanned | date: 'd-MMM-y' }}</td> 
            <td>{{ studyTimelines.programmingStartActual | date: 'd-MMM-y' }}</td>
		</tr>
        <tr>
			<td>QA Approval Date</td>
			<td>{{ studyTimelines.qaapprovalPlanned | date: 'd-MMM-y' }}</td> 
            <td>{{ studyTimelines.qaapprovalActual | date: 'd-MMM-y' }}</td>
		</tr>
        <tr>
			<td>Reader Performance Set-up complete</td>
			<td>{{ studyTimelines.readerPerformanceSetupPlanned | date: 'd-MMM-y' }}</td> 
            <td>{{ studyTimelines.readerPerformanceSetupActual | date: 'd-MMM-y' }}</td>
		</tr>
        <tr>
			<td>Sponsor Approval of EDC</td>
			<td>{{ studyTimelines.sponsorApprovalPlanned | date: 'd-MMM-y' }}</td> 
            <td>{{ studyTimelines.sponsorApprovalActual | date: 'd-MMM-y' }}</td>
		</tr>
        <tr>
			<td>Systems Requirement Specification (SRS) complete</td>
			<td>{{ studyTimelines.systemsRequirementSpecificationPlanned | date: 'd-MMM-y' }}</td> 
            <td>{{ studyTimelines.systemsRequirementSpecificationActual | date: 'd-MMM-y' }}</td>
		</tr>
        <tr>
			<td>UAT / Testing Handover Date</td>
			<td>{{ studyTimelines.uatTestingHandoverPlanned | date: 'd-MMM-y' }}</td> 
            <td>{{ studyTimelines.uatTestingHandoverActual | date: 'd-MMM-y' }}</td>
		</tr>
        <tr>
			<td>UAT Approval</td>
			<td>{{ studyTimelines.uatapprovalPlanned | date: 'd-MMM-y' }}</td> 
            <td>{{ studyTimelines.uatapprovalActual | date: 'd-MMM-y' }}</td>
		</tr>
        <tr>
			<td>Validation complete</td>
			<td>{{ studyTimelines.validationcompletePlanned | date: 'd-MMM-y' }}</td> 
            <td>{{ studyTimelines.validationcompleteActual | date: 'd-MMM-y' }}</td>
		</tr>
    </tbody>
</table>
<!-- <span class="alert alert-info">Last Updated on: {{ studyTimelines?.updatedOn | date: 'd-MMM-y, h:mm a' }}</span> -->
<app-last-saved [auditFields]="studyTimelines"></app-last-saved>
