<div class="border border-primary rounded">
  <div class="row">
    <div class="col" align="center">
      <b>Icon Number : {{ record?.studyIconNumber }}</b>
    </div>
    <div class="col" align="center">Task ID: {{ record?.recId }}</div>
    <div class="col" align="center">History: {{ record?.versionNumber }}</div>
  </div>
  <div class="row">
    <div class="col" align="center">Created On: {{ getDateVal(record?.createdOn) | date: 'dd-MMM-yyyy, h:mm a' }}</div>
    <div class="col" align="center">Last Saved On: {{ getDateVal(record?.updatedOn) | date: 'dd-MMM-yyyy, h:mm a' }}</div>
    <div class="col" align="center">Last Saved By: {{ record?.updatedByDisplayName }}</div>
    
  </div>
</div>

<!-- <p>record: {{record | json}}</p> -->
