<div class="login-container bg-secondary">
  <div class="login-box ">
    <div class="container">
      <div class="card col-md-6 mt-3 mx-auto">
        <div class="card-title text-center">
          <h1 translate>APP_NAME</h1>
        </div>
        <div class="card-body">
          <h4 class="card-title text-center">
            <i class="far fa-3x fa-user-circle text-muted"></i>
          </h4>
          <div class="vertical-center-flex">
            <div class="center-block">
              <div class="icon-container"><i class="fa fa-exclamation-circle"></i> No Access</div>
              <div class="text-muted error-description">{{ msg }}</div>

              <div class="text-muted error-description">Please contact PRIME Admin inbox:</div>
              <div class="text-muted error-description">ICR-CDO-DM-PRISMAdministration@iconplc.com</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
