<!-- <p>cdms-container works!</p> -->
<ul class="nav nav-pills  pb-3">
  <li role="button"
    class="nav-item nav-link" 
    [routerLink]="'cdms-tasks'" 
    routerLinkActive="active"
    appMenuAccessLink
  >CDMS Tasks</li>
  <li role="button"
    class="nav-item nav-link" 
    [routerLink]="'cdms-tasks-groups'" 
    routerLinkActive="active"
    appMenuAccessLink
  >CDMS Task Groups</li>
  <li role="button"
    class="nav-item nav-link" 
    [routerLink]="'cdms-and-cdms-type'" 
    routerLinkActive="active"
    appMenuAccessLink
    debugMode="true"
  >CDMS & CDMS Type</li>
  <li role="button"
    class="nav-item nav-link" 
    [routerLink]="'veeva-vault-version'" 
    routerLinkActive="active"
    appMenuAccessLink
  >Veeva Vault Version</li>
  <li role="button"
    class="nav-item nav-link" 
    [routerLink]="'rave-url-version'" 
    routerLinkActive="active"
    appMenuAccessLink
  >Rave URL Version
  </li>

  
</ul>
<router-outlet></router-outlet>
