<app-loader [isLoading]="true" *ngIf="isLoading"></app-loader>
<div class="">
  <div class="row">
    <div class="col-md-12">
      <div class="clearfix">
        <h4 class="mb-3 float-start me-3">{{ title }}</h4>
        <!-- <h4 class="mb-3 float-right"></h4> -->
        <!-- <button class="btn btn-primary mb-3 float-end" (click)="onClickBack()">Back</button> -->
      </div>
      <div class="bg-icon-light me-n5 ms-n5 px-3 py-3 border-bottom border-top">
        <app-report-filter-s-shell
          *ngIf="filterGroup"
          [filterGroup]="filterGroup"
          (filterChange)="onFilterChange($event)"
        ></app-report-filter-s-shell>
      </div>
    </div>
  </div>

  <div class="row ">
    <!-- <div class="col-md-12"> -->
    <div class="table-responsive">
      <app-data-table-base
        [columns]="columns"
        [records]="records"
        [pageNumber]="pageNumber"
        [pageSize]="pageSize"
      ></app-data-table-base>
      <!-- </div> -->
    </div>
  </div>

  <div class="row">
    <div class="col-md-2 pt-2">
      <app-report-download-server-side-filters
        [filters]="filters"
        [reportPath]="downloadApiPath"
        [fileName]="csvfileName"
        [appendDateToFiileName]="true"
      ></app-report-download-server-side-filters>
    </div>
    <div class="col-md-1 pt-2">
      <button
        id="edit"
        (click)="openColumnManager()"
        class="btn btn-outline-primary"
        data-toggle="tooltip"
        data-placement="top"
        title="Hide Columns"
      >
        <i class="bi bi-ui-checks-grid"></i>
      </button>
    </div>
    <div class="col-md-9">
      <pagination-control
        [page]="pageNumber"
        [pageSize]="pageSize"
        [collectionSize]="recordCount"
        (onPageChange)="onPageChange($event)"
      ></pagination-control>
    </div>
  </div>
</div>
