<ul class="nav nav-pills nav-fill pb-3">
  <li 
    role="button"
    class="nav-item nav-link"
    [routerLink]="'crm-project-governance-setup'" 
    routerLinkActive="active"
    appStudyMenuAccessLink
    >
    Project Governance Set-up
  </li>
  <li 
    role="button"
    class="nav-item nav-link"
    [routerLink]="'crm-project-governance-setup-view'" 
    routerLinkActive="active"
    appStudyMenuAccessLink
   
      >Project Governance Set-up - View
  </li>
  <li 
    role="button"
    class="nav-item nav-link"
    [routerLink]="'crm-project-governance-ongoing'" 
    routerLinkActive="active"
    appStudyMenuAccessLink
      >Project Governance Ongoing
  </li>
  <li 
    role="button"
    class="nav-item nav-link"
    [routerLink]="'crm-project-governance-ongoing-view'" 
    routerLinkActive="active"
    appStudyMenuAccessLink
    
      >Project Governance Ongoing - View
  </li>
  <li 
    role="button"
    class="nav-item nav-link"
    [routerLink]="'crm-project-governance-analysis'" 
    routerLinkActive="active"
    appStudyMenuAccessLink
      >Project Governance Analysis
  </li>
  <li 
    role="button"
    class="nav-item nav-link"
    [routerLink]="'crm-project-governance-analysis-view'" 
    routerLinkActive="active"
    appStudyMenuAccessLink
      >Project Governance Analysis - View
  </li>
  <li role="button"
    class="nav-item nav-link" 
    [routerLink]="'crm-project-governance-closure'" 
    routerLinkActive="active"
    appStudyMenuAccessLink
      >Project Governance Closure
  </li>
  <li role="button"
    class="nav-item nav-link"
    [routerLink]="'crm-project-governance-closure-view'" 
    routerLinkActive="active"
    appStudyMenuAccessLink
      >Project Governance Closure - View
  </li>
</ul>
<hr />
<router-outlet></router-outlet>
