<!-- <ul class="nav nav-pills nav-fill pb-3">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="'xxx-yyy'" routerLinkActive="active">Abcd</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="'xxx-yyy'" routerLinkActive="active">Abcd</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="'xxx-yyy'" routerLinkActive="active">Abcd</a>
    </li>
  </ul> -->
<h5
  style="padding: 5px 5px 5px 10px; border-radius: 5px; background-color:#95A5A6 !important; color: white !important; background-image:linear-gradient(to bottom, #95A5A6 0px, #95A5A6 100%) !important"
>
  CDS Validation Request
</h5>
<router-outlet></router-outlet>
