<ul class="nav nav-pills nav-fill pb-3">
  <!-- <li class="nav-item">
    <a
      style="background-color: #94D60A; color: white; padding: 10px 15px; border-radius: 5px; font-weight: bolder; text-decoration: none;"
      [routerLink]="'development-request'"
      routerLinkActive="active"
      appMenuAccessLink
      >Development Request</a
    >
  </li> -->
  <li 
    role="button"
    style="background-color: #94D60A; color: white; padding: 10px 15px; border-radius: 5px; font-weight: bolder; text-decoration: none;"
    class="nav-item"
    [routerLink]="'development-request'"
    routerLinkActive="active"
    appMenuAccessLink
    [rootPath]="rootPath"
    
  >  Development Request
  </li>

  <li role="button"
      class="nav-item"
      style="background-color: #632B86; color: white; padding: 10px 15px; border-radius: 5px; font-weight: bolder; text-decoration: none;"
      [routerLink]="'output-request'"
      routerLinkActive="active"
      appMenuAccessLink
      [rootPath]="rootPath"
      >Output Request
  </li>
  <li role="button"
      class="nav-item"
      style="background-color: #60C3D6; color: white; padding: 10px 15px; border-radius: 5px; font-weight: bolder; text-decoration: none;"
      [routerLink]="'delivery-request'"
      routerLinkActive="active"
      appMenuAccessLink
      [rootPath]="rootPath">
      Delivery Request
    
  </li>

  <li role="button"
      class="nav-item"
      style="background-color: #CEDB00; color: white; padding: 10px 15px; border-radius: 5px; font-weight: bolder; text-decoration: none;"
      [routerLink]="'instruction-request'"
      routerLinkActive="active"
      appMenuAccessLink
      [rootPath]="rootPath"
      >Instruction Request
  </li>

  <li role="button"
      class="nav-item"
      style="background-color: #1790D0; color: white; padding: 10px 15px; border-radius: 5px; font-weight: bolder; text-decoration: none;"
      [routerLink]="'coding-request'"
      routerLinkActive="active"
      
      appMenuAccessLink
      
      [rootPath]="rootPath"
      >Coding Request
  </li>

  <li role="button"
    class="nav-item"
    style="background-color: #00B04F; color: white; padding: 10px 15px; border-radius: 5px; font-weight: bolder; text-decoration: none;"
    [routerLink]="'archived-data'"
    routerLinkActive="active"
    >Archived Data
  </li>
  
  
  <!-- hidden - based on UAT Request Sep 2022 -->
  <!-- <li class="nav-item">
    <a
      style="background-color: #95A5A6; color: white; padding: 10px 15px; border-radius: 5px; font-weight: bolder; text-decoration: none;"
      [routerLink]="'validation-request'"
      routerLinkActive="active"
      >Validation Request</a
    >
  </li> -->
</ul>
<router-outlet></router-outlet>
