
<ul class="nav nav-pills nav-fill pb-3">
  <li role="button"
    class="nav-item nav-link" 
    [routerLink]="'fte-list'" 
    routerLinkActive="active"
    appMenuAccessLink
  >FTE</li>
  <li role="button"
    class="nav-item nav-link" 
    [routerLink]="'fte-resource-list'" 
    routerLinkActive="active"
    appMenuAccessLink
  >FTE Resources</li>
  <li role="button"
    class="nav-item nav-link" 
    [routerLink]="'page-list'" 
    routerLinkActive="active"
    appMenuAccessLink
  >Page</li>
</ul>
<router-outlet></router-outlet>
