<app-loader [isLoading]="true" *ngIf="loading"></app-loader>

<table class="table table-sm  small table-striped">
  <tbody>
    <tr>
      <td>Due Date</td>
      <td>{{ record?.dueDate | date: 'dd-MMM-yyyy' }}</td>
    </tr>
    <tr>
      <td>Requestor</td>
      <td>{{ record?.requestorDisplayName }}</td>
    </tr>
    <tr>
      <td>Programmer Assigned</td>
      <td>{{ record?.cdsassignedToDisplayName }}</td>
    </tr>
    <tr>
      <td>Validation Programmer</td>
      <td>{{ record?.validationProgrammerDisplayName }}</td>
    </tr>
    <tr>
      <td>Programming Lead</td>
      <td>{{ record?.clinicalDataDeliveryLeadDisplayName }}</td>
    </tr>
    <tr>
      <td>Priority</td>
      <td>{{ record?.priority }}</td>
    </tr>
    <tr>
      <td>Development Status</td>
      <td>{{ record?.developmentStatusPDescription }}</td>
    </tr>
    <tr>
      <td>Development Category</td>
      <td>{{ record?.developmentCategoryPDescription }}</td>
    </tr>
    <tr>
      <td>Development Sub Category</td>
      <td>{{ record?.developmentSubCategoryPDescription }}</td>
    </tr>
    <tr>
      <td>Development Detail</td>
      <td>{{ record?.developmentDetail }}</td>
    </tr>
    <tr>
      <td>Is this output to be uploaded to DRT</td>
      <td>{{ record?.drtusedId }}</td>
    </tr>
    <tr>
      <td>Comments</td>
      <td>{{ record?.comments }}</td>
    </tr>
    <tr>
      <td>Link To Specification</td>
      <td>{{ record?.linkToDocumentation }}</td>
    </tr>
    <tr>
      <td>Is this an update to an existing Program</td>
      <td>{{ record?.isThisaProgrammingPpcDescription }}</td>
    </tr>
    <tr>
      <td>No of Units</td>
      <td>{{ record?.noOfUnits }}</td>
    </tr>
    <tr>
      <td>Centralized Validation Team Required</td>
      <td>{{ record?.cdsvalidationRequired }}</td>
    </tr>
    <tr>
      <td>Completed Date</td>
      <td>{{ record?.completedDate | date: 'dd-MMM-yyyy' }}</td>
    </tr>
    <tr>
      <td>Completed By</td>
      <td>{{ record?.completedByDisplayName }}</td>
    </tr>
  </tbody>
</table>
<app-last-saved [auditFields]="record"></app-last-saved>

<!-- <p>{{record | json}}</p> -->
