<app-loader [isLoading]="true" *ngIf="loading"></app-loader>
<div class="modal-header ">
  <h5 class="modal-title" id="modal-basic-title">Copy Instruction Details to - Task Id : {{ taskId }}</h5>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="form-group">
    <label class="form-label">Select a Task to copy from:</label>
    <ng-select
      id="exampleFormControlSelect1"
      [(ngModel)]="selectedTaskId"
      [multiple]="false"
      placeholder="All"
      [clearable]="false"
      (ngModelChange)="onItemSelected($event)"
    >
      <ng-option *ngFor="let rec of instructionList" [value]="rec.recId"
        >{{ rec.studyIconNumberTaskIdProgramName }}
      </ng-option>
    </ng-select>
    <p><small>Type part of Icon Number, Task Id or Program Name.</small></p>
  </div>
  <app-study-cds-inst-task-view [taskId]="selectedTaskId"></app-study-cds-inst-task-view>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="confirmCopyInstructions(); activeModal.dismiss()">
    Confirm Copy
  </button>

  <button type="button" class="btn btn-primary" (click)="activeModal.dismiss()">
    Close
  </button>
</div>
