<app-loader [isLoading]="loading"></app-loader>
<h5>{{ title }}</h5>
<hr />

<app-param-view
  (parentSelected)="onParamParentChange($event)"
  [parId]="record?.pid"
  [parentSelectDropDownDisabled]="paramDropDownDisabled"
></app-param-view>

<hr />

<form [formGroup]="form">
  <formly-form [model]="record" [fields]="fields" [options]="options" [form]="form"></formly-form>
  <div class="alert alert-warning" role="alert" *ngIf="showOtherUserAlert()">
    Last actioned by: {{ record?.updatedByDisplayName }}. Action buttons not available for other users.
  </div>

  <button type="button" class="btn btn-default me-1" (click)="back()">Back</button>
  <button *ngIf="saveButton" (click)="submit()" class="btn btn-primary submit-button me-1" [disabled]="!form.dirty">
    Save
  </button>
  <button *ngIf="saveButton" type="button" class="btn btn-default" (click)="options.resetModel()">Undo</button>
  <app-confirmation-shell
    *ngIf="removeButton"
    [message]="'Remove Request: ' + recId + ' ?'"
    [labelText]="'Remove'"
    [responseValue]="recId"
    (response)="deleteRecord($event)"
  >
  </app-confirmation-shell>
  <app-confirmation-shell
    *ngIf="submitForApprovalButton"
    [message]="'Submit For Approval: ' + recId + ' ?'"
    [labelText]="'Submit for Approval'"
    [responseValue]="recId"
    (response)="submitForApproval()"
    [disabled]="!submitButtonEnabled"
  >
  </app-confirmation-shell>

  <app-confirmation-shell
    *ngIf="withdrawRequestButton"
    [message]="'Withdraw request:' + recId + ' ?'"
    [labelText]="'Withdraw submitted request'"
    [responseValue]="recId"
    (response)="withdrawRequest()"
  >
  </app-confirmation-shell>
</form>

<!-- <p>record: {{ record | json }}</p> -->

<!-- <p>currentUser: {{currentUser | json }}</p> -->

<!-- <p>showOtherUserAlert: {{showOtherUserAlert()}}</p> -->

<!-- <p>currentUserIsLastUpdatedByUser: {{currentUserIsLastUpdatedByUser()}}</p> -->
<!-- <p>saveButton: {{ saveButton }}</p> -->
