<app-imi-tracker-item-dashboard [record]="dashboardRecord"></app-imi-tracker-item-dashboard>

<ul class="nav nav-pills nav-fill pb-3">
  <li class="nav-item">
    <a class="nav-link" [routerLink]="'view'" [queryParams]="{ id: id }" routerLinkActive="active">View</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="'edit'" [queryParams]="{ id: id }" routerLinkActive="active" appStudyMenuAccessLink>Edit</a>
  </li>
</ul>
<router-outlet></router-outlet>
<hr />
<button type="button" class="btn btn-primary me-1" (click)="back()"><i class="bi bi-skip-backward-fill"></i> Back</button>

<app-copy-link></app-copy-link>

<app-confirmation-shell
  [appMenuAccess]="menuAccessLink"
  [message]="'Confirm `Clone Task` ' + id + ' ?'"
  [labelText]="'Clone'"
  [responseValue]="id"
  (response)="clone($event)"
></app-confirmation-shell>
<app-confirmation-shell
  [appMenuAccess]="menuAccessLink"
  [message]="'Remove Task ' + id + ' ?'"
  [labelText]="'Remove'"
  [responseValue]="id"
  (response)="delete($event)"
></app-confirmation-shell>
<hr />
<app-server-response-messages
  [serverResponseMessages]="serverResponses"
  [messageBoxHeight]="200"
></app-server-response-messages>
