<app-loader [isLoading]="true" *ngIf="loading"></app-loader>
<table class="table table-sm small table-striped">
    <thead>
		<tr class="bg-green align-text-top">
			<th scope="col">Fields</th>
			<th scope="col">N/A</th>
            <th scope="col">Planned</th>
			<th scope="col">Actual</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>Protocol Approval</th>
            <td></td>
			<td>{{ studyTimelines.timeProtocolApprovalPlanned | date: 'd-MMM-y' }}</td>
            <td>{{ studyTimelines.timeProtocolApprovalActual | date: 'd-MMM-y' }}</td>
		</tr>
        <tr>
			<th>EDC Screen Go-live</th>
            <td>{{ getNotApplicableStatus(studyTimelines.timeEdcscreensGoLiveFlag) }}</td>
			<td>{{ studyTimelines.timeEdcscreensGoLivePlanned | date: 'd-MMM-y' }}</td>
            <td>{{ studyTimelines.timeEdcscreensGoLiveActual | date: 'd-MMM-y' }}</td>
		</tr>
        <tr>
			<th>DMP Signed Of</th>
            <td></td>
			<td>{{ studyTimelines.timeDmpsignedOffPlanned | date: 'd-MMM-y' }}</td>
            <td>{{ studyTimelines.timeDmpsignedOffActual | date: 'd-MMM-y' }}</td>
		</tr>
        <tr>
			<th>CDMS GO-live</th>
            <td></td>
			<td>{{ studyTimelines.timeCdmsgolivePlanned | date: 'd-MMM-y' }}</td>
            <td>{{ studyTimelines.timeCdmsgoLiveActual | date: 'd-MMM-y' }}</td>
		</tr>
        <tr>
			<th>FPI</th>
            <td></td>
			<td>{{ studyTimelines.timeFpiPlanned | date: 'd-MMM-y' }}</td>
            <td>{{ studyTimelines.timeFpiActual | date: 'd-MMM-y' }}</td>
		</tr>
        <tr>
			<th>CPT in Production</th>
            <td>{{ getNotApplicableStatus(studyTimelines.timeCptinProductionFlag) }}</td>
			<td>{{ studyTimelines.timeCptinProductionPlanned | date: 'd-MMM-y' }}</td> 
            <td>{{ studyTimelines.timeCptinProductionActual | date: 'd-MMM-y' }}</td>
		</tr>
        <tr>
			<th>SDTM Go-Live</th>
            <td>{{ getNotApplicableStatus(studyTimelines.timeSdtmgoLiveFlag) }}</td>
			<td>{{ studyTimelines.timeSdtmgoLivePlanned | date: 'd-MMM-y' }}</td> 
            <td>{{ studyTimelines.timeSdtmgoLiveActual | date: 'd-MMM-y' }}</td>
		</tr>
        <tr>
			<th>LPI</th>
            <td></td>
			<td>{{ studyTimelines.timeLpiPlanned | date: 'd-MMM-y' }}</td> 
            <td>{{ studyTimelines.timeLpiActual | date: 'd-MMM-y' }}</td>
		</tr>
        <tr>
			<th>LPO</th>
            <td></td>
			<td>{{ studyTimelines.timeLpoPlanned | date: 'd-MMM-y' }}</td> 
            <td>{{ studyTimelines.timeLpoActual | date: 'd-MMM-y' }}</td>
		</tr>
        <tr>
			<th>Last Data Entered</th>
            <td></td>
			<td>{{ studyTimelines.timeLastDataEnteredPlanned | date: 'd-MMM-y' }}</td> 
            <td>{{ studyTimelines.timeLastDataEnteredActual | date: 'd-MMM-y' }}</td>
		</tr>
		<tr>
			<th>Last External Data Received</th>
            <td>{{ getNotApplicableStatus(studyTimelines.timeLastExternalDataReceivedFlag) }}</td>
			<td>{{ studyTimelines.timeLastExternalDataReceivedPlanned | date: 'd-MMM-y' }}</td> 
            <td>{{ studyTimelines.timeLastExternalDataReceivedActual | date: 'd-MMM-y' }}</td>
		</tr>
        <tr>
			<th>Main SoftLock</th>
            <td></td>
			<td>{{ studyTimelines.timeMainSoftLockPlanned | date: 'd-MMM-y' }}</td> 
            <td>{{ studyTimelines.timeMainSoftLockActual | date: 'd-MMM-y' }}</td>
		</tr>
        <tr>
			<th>Main DBL</th>
            <td></td>
			<td>{{ studyTimelines.timeMainDblPlanned | date: 'd-MMM-y' }}</td> 
            <td>{{ studyTimelines.timeMainDblActual | date: 'd-MMM-y' }}</td>
		</tr>
        <tr>
			<th>Follow UP LPO</th>
            <td>{{ getNotApplicableStatus(studyTimelines.timeFollowUpLpoFlag) }}</td>
			<td>{{ studyTimelines.timeFollowUpLpoPlanned | date: 'd-MMM-y' }}</td> 
            <td>{{ studyTimelines.timeFollowUpLpoActual | date: 'd-MMM-y' }}</td>
		</tr>
        <tr>
			<th>Follow UP SoftLock</th>
            <td>{{ getNotApplicableStatus(studyTimelines.timeFollowUpSoftLockFlag) }}</td>
			<td>{{ studyTimelines.timeFollowUpSoftLockPlanned | date: 'd-MMM-y' }}</td> 
            <td>{{ studyTimelines.timeFollowUpSoftLockActual | date: 'd-MMM-y' }}</td>
		</tr>
        <tr>
			<th>Follow UP DBL</th>
            <td>{{ getNotApplicableStatus(studyTimelines.timeFollowUpDblFlag) }}</td>
			<td>{{ studyTimelines.timeFollowUpDblPlanned | date: 'd-MMM-y' }}</td> 
            <td>{{ studyTimelines.timeFollowUpDblActual | date: 'd-MMM-y' }}</td>
		</tr>
        <tr>
			<th>Final TMF Archived</th>
            <td></td>
			<td>{{ studyTimelines.timeFinalTmfarchivedPlanned | date: 'd-MMM-y' }}</td> 
            <td>{{ studyTimelines.timeFinalTmfarchivedActual | date: 'd-MMM-y' }}</td>
		</tr>
    </tbody>
</table>
<!-- <span class="alert alert-info">Last Updated on: {{ studyTimelines?.updatedOn | date: 'd-MMM-y, h:mm a' }}</span> -->
<app-last-saved [auditFields]="studyTimelines"></app-last-saved>
