<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{ action }} User</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form class="needs-validation" [formGroup]="userForm" validate>
    <div class="form-group row">
      <div class="col-md-6">
        <label class="col-form-label">Display Name</label>
        <input type="text" class="form-control" formControlName="fullName" placeholder="Full Name" required />
        <small [hidden]="userForm.controls.fullName.valid" class="text-danger" translate>
          This field is required
        </small>
      </div>

      <div class="col-md-6">
        <label class="col-form-label">ICON Enterprise Id</label>
        <input type="text" class="form-control" formControlName="enterpriseId" placeholder="Enterprise Id" required />
        <small [hidden]="userForm.controls.enterpriseId.valid" class="text-danger" translate>
          This field is required
        </small>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-12">
        <label class="col-form-label">Email</label>
        <input type="email" class="form-control" formControlName="email" placeholder="Email" />
        <small
          [hidden]="userForm.controls.email.valid || userForm.controls.email.untouched"
          class="text-danger"
          translate
        >
          Email is required
        </small>
      </div>
    </div>

    <ul ngbNav #nav="ngbNav" class="nav-pills">
      <li ngbNavItem>
        <a ngbNavLink>Available Roles</a>
        <ng-template ngbNavContent>
          <ul class="list-group">
            <li class="list-group-item p-0" *ngFor="let role of availableRoles">
              <span class="btn btn-default text-left w-100"
                >{{ role.name }}
                <button
                  type="button"
                  class="btn btn-primary btn-sm float-right"
                  (click)="addRole(role.name)"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  title="Add this role"
                >
                  +
                </button>
              </span>
            </li>
          </ul>
        </ng-template>
      </li>
      <li ngbNavItem>
        <a ngbNavLink>SSO</a>
        <ng-template ngbNavContent>
          <ul class="list-group">
            <li class="list-group-item p-0" *ngFor="let role of roles; let i = index">
              <span class="btn btn-default text-left w-100"
                >{{ role }}
                <button
                  type="button"
                  class="btn btn-danger btn-sm float-right"
                  (click)="removeRole(i)"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  title="Remove this role"
                >
                  x
                </button>
              </span>
            </li>
          </ul>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>

    <!-- <ngb-tabset type="pills">
      <ngb-tab title="Available Roles">
        <ng-template ngbTabContent>
          <ul class="list-group">
            <li class="list-group-item p-0" *ngFor="let role of availableRoles">
              <span class="btn btn-default text-left w-100"
                >{{ role.name }}
                <button
                  type="button"
                  class="btn btn-primary btn-sm float-right"
                  (click)="addRole(role.name)"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  title="Add this role"
                >
                  +
                </button>
              </span>
            </li>
          </ul>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Assigned Roles">
        <ng-template ngbTabContent>
          <ul class="list-group">
            <li class="list-group-item p-0" *ngFor="let role of roles; let i = index">
              <span class="btn btn-default text-left w-100"
                >{{ role }}
                <button
                  type="button"
                  class="btn btn-danger btn-sm float-right"
                  (click)="removeRole(i)"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  title="Remove this role"
                >
                  x
                </button>
              </span>
            </li>
          </ul>
        </ng-template>
      </ngb-tab>
    </ngb-tabset> -->

    <!-- <div class="form-group row">
      <div class="col-md-4">
        Available Roles:
      </div>
    </div> -->

    <!-- <ul class="list-group" >
      <li class="list-group-item p-0" *ngFor="let role of availableRoles">
        <span class="btn btn-default text-left w-100"
        >{{ role.name }}
        <button
          type="button"
          class="btn btn-primary btn-sm float-right"
          (click)="addRole(role.name)"
          data-toggle="tooltip"
          data-placement="bottom"
          title="Add this role"
        >
          +
        </button>
        </span>
      </li>
    </ul> -->

    <!-- <div class="input-group  padding-top form-group row">
      <div class="col-md-12" *ngFor="let role of availableRoles">
        <span class="btn btn-default btn-lg w-100"
          >{{ role.name }}
          <button
            type="button"
            class="btn btn-default btn-lg"
            (click)="addRole(role.name)"
            data-toggle="tooltip"
            data-placement="bottom"
            title="Add this role"
          >
            +
          </button>
        </span>
      </div>
    </div> -->

    <!-- <div class="form-group row">
      <div class="col-md-4">
        Assigned Roles:
      </div>
    </div>

    <ul class="list-group" >
      <li class="list-group-item p-0" *ngFor="let role of roles; let i = index">
        <span class="btn btn-default text-left w-100"
        >{{ role }}
        <button
            type="button"
            class="btn btn-danger btn-sm float-right"
            (click)="removeRole(i)"
            data-toggle="tooltip"
            data-placement="bottom"
            title="Remove this role"
          >
            x
          </button>
        </span>
      </li>
    </ul> -->

    <!-- <div class="input-group  padding-top form-group row">
      <div class="col-md-6" *ngFor="let role of roles; let i = index">
        <span class="btn btn-default btn-lg w-100"
          >{{ role }}
          <button
            type="button"
            class="btn btn-default btn-lg"
            (click)="removeRole(i)"
            data-toggle="tooltip"
            data-placement="bottom"
            title="Remove this role"
          >
            x
          </button>
        </span>
      </div>
    </div> -->
    <div class="row">
      <div class="col-md-6">
        <small [hidden]="roles?.length > 0" class="text-danger" translate>
          At least one role is required
        </small>
      </div>
    </div>
    <!-- </form> -->

    <div class="form-group row">
      <div class="col-sm-10">
        <button
          type="submit"
          class="btn btn-primary mt-2 mb-2 my-2"
          (click)="save()"
          [disabled]="userFormWithRolesInvalid"
          translate
        >
          Save
        </button>
      </div>
    </div>
  </form>
</div>
