<app-loader [isLoading]="true" *ngIf="loading"></app-loader>
<table class="table table-sm  small table-striped">
  <tbody>
    <tr>
      <td>CPPC Number</td>
      <td>{{ record?.cppcNo }}</td>
    </tr>
    <tr>
      <td>Status</td>
      <td>{{ record?.cppcStatusNavigationDescription }}</td>
    </tr>
    <tr>
      <td>Number of Edit Checks</td>
      <td>{{ record?.numberOfEditChecks }}</td>
    </tr>
    <tr>
      <td>CPPC Reason</td>
      <td>{{ record?.cppcReasonNavigationDescription }}</td>
    </tr>

    <tr>
      <td>Comments</td>
      <td>{{ record?.comments }}</td>
    </tr>
    <tr>
      <td>Last Saved On</td>
      <td>{{ record?.updatedOn | date: 'dd-MMM-yyyy, h:mm a' }}</td>
    </tr>
  </tbody>
</table>

<table class="table table-sm  small table-striped">
  <thead>
    <tr>
      <th scope="col">Tasks</th>
      <th scope="col">Not Applicable</th>
      <th scope="col">Start Date</th>
      <th scope="col">Planned Completion Date</th>
      <th scope="col">Actual Completion Date</th>
      <th scope="col">Item Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of record?.childItems">
      <td>{{ item?.taskTaskName }}</td>
      <td>{{ item?.notApplicable }}</td>
      <td>{{ item?.startDate | date: 'dd-MMM-yyyy' }}</td>
      <td>{{ item?.completionDate | date: 'dd-MMM-yyyy' }}</td>
      <td>{{ item?.completedDate | date: 'dd-MMM-yyyy' }}</td>

      <td>{{ item?.itemStatus }}</td>
    </tr>
  </tbody>
</table>
