<div class="card col-md-12 mt-3 mx-auto">
  <div class="card-body">
    <div class="form-group">
      <form [formGroup]="pwdForm" novalidate>
        <div class="alert alert-danger" [hidden]="!errorPwdLogin || isLoading" translate>
          Unable to login. {{ errorPwdLogin }}
        </div>

        <label class="d-block">
          <input
            type="text"
            class="form-control"
            formControlName="username"
            autocomplete="username"
            [placeholder]="'Username' | translate"
          />
          <span hidden translate>Username</span>
          <small
            [hidden]="pwdForm.controls.username.valid || pwdForm.controls.username.untouched"
            class="text-danger"
            translate
          >
            username is required
          </small>
        </label>
        <label class="d-block">
          <input
            type="password"
            class="form-control"
            formControlName="password"
            autocomplete="current-password"
            [placeholder]="'Password' | translate"
            required
          />
          <span hidden translate>Password</span>
          <small
            [hidden]="pwdForm.controls.password.valid || pwdForm.controls.password.untouched"
            class="text-danger"
            translate
          >
            Password is required
          </small>
        </label>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" formControlName="remember" />
            <span translate>Remember me</span>
          </label>
        </div>
        <button class="btn btn-primary w-100" [disabled]="!pwdForm.valid" (click)="login(pwdForm)">
          <span>Login</span>
        </button>
      </form>
    </div>
  </div>
</div>
