<div>
  <div *ngIf="this.batchActionOptions?.selectedItems?.length > 0">
    <div class="alert alert-info">
      <strong>Batch Actions</strong>
    </div>

    <span *ngFor="let item of sortedList">
      <span class="badge badge-primary">
        <span> {{ item.taskId }}</span>
        <a (click)="removeClicked(item.taskId)" width="5px" style="cursor: pointer;">
          x
        </a>
      </span>
    </span>

    <p>{{ sortedList.length }} selected</p>
    <form [formGroup]="form">
      <formly-form [model]="batchActionOptions" [fields]="fields" [options]="options" [form]="form"></formly-form>
    </form>

    <app-confirmation-shell
      [message]="processMessage"
      [labelText]="'Process'"
      (response)="processClicked()"
      [disabled]="!processdButtonEnabled()"
    ></app-confirmation-shell>
    <button
      type="button"
      class="btn btn-primary"
      (click)="clearClicked()"
      [disabled]="batchActionOptions?.selectedItems?.length == 0"
    >
      Clear
    </button>
    <hr />
  </div>

  <!-- <button type="button" class="btn btn-primary" (click)="batchAction()">
    {{ getTitle() }}
  </button> -->
</div>
