<div class="card col-md-12 mt-3 mx-auto">
  <div class="card-body">
    <label class="d-block">Generate Login Token:</label>
    <form [formGroup]="emailLoginForm" novalidate>
      <div class="alert alert-danger" [hidden]="!errorEMailTokenLogin || isLoading" translate>
        {{ errorEMailTokenLogin }}
      </div>
      <div class="form-group">
        <label class="d-block">
          <input
            type="text"
            class="form-control"
            formControlName="username"
            autocomplete="email"
            [placeholder]="'EMail' | translate"
            [attr.disabled]="tokenGenerated ? '' : null"
          />
          <span hidden translate>EMail</span>
          <small
            [hidden]="emailLoginForm.controls.username.valid || emailLoginForm.controls.username.untouched"
            class="text-danger"
            translate
          >
            Email required.
          </small>
        </label>
        <div *ngIf="tokenGenerated">
          <label class="d-block small">Please enter the token sent to your email id.</label>
          <label class="d-block">
            <input type="text" class="form-control" formControlName="password" [placeholder]="'Token' | translate" />
            <span hidden translate>OTP</span>
            <small
              [hidden]="emailLoginForm.controls.password.valid || emailLoginForm.controls.password.untouched"
              class="text-danger"
              translate
            >
              Token required.
            </small>
          </label>
        </div>
        <div *ngIf="noRolesAssigned">
          <label class="d-block small">No Roles assigned to this user. Token could not be generated.</label>
        </div>

        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" formControlName="remember" />
            <span translate>Remember me</span>
          </label>
        </div>
      </div>
      <div *ngIf="!tokenGenerated">
        <button
          class="btn btn-primary w-100"
          (click)="generateEMailToken()"
          [disabled]="!emailLoginForm.controls.username.valid"
        >
          <span>Generate Token</span>
        </button>
      </div>
      <div *ngIf="tokenGenerated">
        <div *ngIf="userRoles">
          <label class="d-block small">Select a role:</label>
          <select class="form-control" formControlName="role">
            <option [ngValue]="'all'">All</option>
            <option *ngFor="let role of userRoles" [ngValue]="role">{{ role }}</option>
          </select>
        </div>
        <br />
        <button
          class="btn btn-primary w-100"
          (click)="login(emailLoginForm)"
          [disabled]="!emailLoginForm.controls.password.valid"
        >
          <span>Submit Token</span>
        </button>
        <button type="button" class="btn btn-default btn-xs" (click)="reLogin()">
          <i class="fas fa-step-backward"></i>Back
        </button>
        <button type="button" class="btn btn-default btn-xs " (click)="generateEMailToken()">Resend Email</button>
      </div>
    </form>
  </div>
</div>
