
<ul ngbNav #nav="ngbNav" class="nav-pills">
  
  <li ngbNavItem>
    <a ngbNavLink>Roles</a>
    <ng-template ngbNavContent>
        
      <app-user-roles [userId]="userId"></app-user-roles>  
    </ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink>Study Resources</a>
    <ng-template ngbNavContent>
        
        <app-study-resources [userId]="userId"></app-study-resources>
    </ng-template>
  </li>
  <li ngbNavItem>
      <a ngbNavLink>Page Permissions</a>
      <ng-template ngbNavContent>
        

        <app-comp-permissions
        [userId]="userId"
        ></app-comp-permissions>
        
      </ng-template>
    </li>
    
  </ul>
  <div [ngbNavOutlet]="nav" class="mt-2"></div>