<table class="table table-striped">
	<thead>
		<tr class="bg-green align-text-top">
			<th scope="col">Project Status Categories</th>
			<th scope="col">N/A</th>
            <th scope="col">Project Category Score</th>
			<th scope="col">Comment</th>
			<th scope="col">Action</th>
		</tr>
	</thead>
	<tbody>
        <tr>
            <th> Communication and Meetings </th>
            <td></td>
            <td class="text-center">
                <div [style]="getStyle(record.communicationMeetings)">
                    {{ record.communicationMeetings }}
                </div>
            </td>
            <td>{{ record.communicationMeetingsComments }}</td>
            <td>{{ record.communicationMeetingsAction }}</td>
        </tr>
        <tr>
            <th>Imaging Project Oversight Plan (IPOP) (Periodic Review: Yearly)</th>
            <td>{{ getNotApplicableStatus(record.imagingProjectOversightPlanIpopflag) }}</td>
            <td class="text-center">
                <div [style]="getStyle(record.imagingProjectOversightPlanIpop)">
                    {{ record.imagingProjectOversightPlanIpop }}
                </div>
            </td>
            <td>{{ record.imagingProjectOversightPlanIpopcomments }}</td>
            <td>{{ record.imagingProjectOversightPlanIpopaction }}</td>
        </tr>
        <tr>
            <th> Upcoming External Meetings (IMs, KOMs, Commitment Meeting etc.) </th>
            <td>{{ getNotApplicableStatus(record.upcomingExternalMeetingsFlag) }}</td>
            <td class="text-center">
                <div [style]="getStyle(record.upcomingExternalMeetings)">
                    {{ record.upcomingExternalMeetings }}
                </div>
            </td>
            <td>{{ record.upcomingExternalMeetingsComments }}</td>
            <td>{{ record.upcomingExternalMeetingsActions }}</td>
        </tr>
        <tr>
            <th> Cross-Functional Meetings Occurring and Documented </th>
            <td>{{ getNotApplicableStatus(record.crossfunctionalmeetingsoccurringDocumentedFlag) }}</td>
            <td class="text-center">
                <div [style]="getStyle(record.crossfunctionalmeetingsoccurringDocumented)">
                    {{ record.crossfunctionalmeetingsoccurringDocumented }}
                </div>
            </td>
            <td>{{ record.crossfunctionalmeetingsoccurringDocumentedComments }}</td>
            <td>{{ record.crossfunctionalmeetingsoccurringDocumentedActions }}</td>
        </tr>
        <tr>
            <th> Lessons Learned Meetings </th>
            <td>{{ getNotApplicableStatus(record.lessonslearnedmeetingsFlag) }}</td>
            <td class="text-center">
                <div [style]="getStyle(record.lessonslearnedmeetings)">
                    {{ record.lessonslearnedmeetings }}
                </div>
            </td>
            <td>{{ record.lessonslearnedmeetingsComments }}</td>
            <td>{{ record.lessonslearnedmeetingsAction }}</td>
        </tr>
        <tr>
            <th> Governance Meeting Attendance </th>
            <td>{{ getNotApplicableStatus(record.governanceMeetingAttendanceFlag) }}</td>
            <td class="text-center">
                <div [style]="getStyle(record.governanceMeetingAttendance)">
                    {{ record.governanceMeetingAttendance }}
                </div>
            </td>
            <td>{{ record.governanceMeetingAttendanceComments }}</td>
            <td>{{ record.governanceMeetingAttendanceAction }}</td>
        </tr>
        <tr>
            <th> Other Topics and Concerns </th>
            <td>{{ getNotApplicableStatus(record.othertopicsConcernsFlag) }}</td>
            <td class="text-center">
                <div [style]="getStyle(record.othertopicsConcerns)">
                    {{ record.othertopicsConcerns }}
                </div>
            </td>
            <td>{{ record.othertopicsConcernsComments }}</td>
            <td>{{ record.othertopicsConcernsAction }}</td>
        </tr>
    </tbody>
</table>
