<h2>Error Log</h2>
<app-loader [isLoading]="isLoading"></app-loader>
<div class="row " style="min-height: 200px;">
  <div class="col-md-12">
    <div class="table-responsive">
      <div class="table-responsive">
        <table class="table table-sm table-hover small table-striped">
          <thead style="background-color: var(--green) !important;">
            <tr>
              <th class="text-start">Date</th>
              <th class="text-end">Number Of Errors</th>
              <th class="text-end">Download</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let record of filteredRecords; let i = index;"
            >
              <td>{{ record.date | date: 'dd-MMM-yyyy' }}</td>
              <td class="text-end"><span>{{ record.numberOfLogs }}</span></td>
              <!-- <td class="text-end"><i class="bi bi-download" (click)="downloadLogFile(record.fileName)"></i></td> -->
              <td class="text-end"><button class="btn btn-primary" (click)="downloadLogFile(record.fileName)"><i class="bi bi-download"></i></button></td>
            </tr>
          </tbody>
        </table>
        <pagination-control
          [page]="pageNumber"
          [pageSize]="pageSize"
          [collectionSize]="totalItems"
          (onPageChange)="onPageChange($event)"
        ></pagination-control>
      </div>
    </div>
  </div>
</div>