<ul class="nav nav-pills nav-fill pb-3">
  <li 
    role="button"
    class="nav-item nav-link"
    [routerLink]="'crm-tracker-3'"
    routerLinkActive="active"
    appMenuAccessLink
    [rootPath]="rootPath"
      >Tracker - 3
  </li>
  <li 
    role="button"
    class="nav-item nav-link" 
    [routerLink]="'crm-tracker-3-view'"
    routerLinkActive="active"
    appMenuAccessLink
    [rootPath]="rootPath"
      >Tracker - 3 (View)
  </li>
  <li role="button"
    class="nav-item nav-link"
    [routerLink]="'crm-tracker-4'"
    routerLinkActive="active"
    appMenuAccessLink
    [rootPath]="rootPath"
    >Tracker - 4
  </li>
  <li 
    role="button"
    class="nav-item nav-link"
    [routerLink]="'crm-tracker-4-view'"
    routerLinkActive="active"
    appMenuAccessLink
    [rootPath]="rootPath"
    >Tracker - 4 (View)
  </li>
</ul>
<router-outlet></router-outlet>
