<div class="d-flex justify-content-between p-2">
  <div>
    <label class="me-3">Items Per Page: </label>
    <select
      class="custom-select"
      style="width: auto"
      name="pageSize"
      [(ngModel)]="pageSize"
      (ngModelChange)="onChangePageOptions()"
    >
      <option [ngValue]="3">3</option>
      <option [ngValue]="5">5</option>
      <option [ngValue]="10">10</option>
      <option [ngValue]="20">20</option>
      <option [ngValue]="50">50</option>
      <option [ngValue]="100">100</option>
      <option [ngValue]="1000">1000</option>
      <option [ngValue]="3000">3000</option>
      <!-- <option [ngValue]="10000">10000</option>
      <option [ngValue]="99999999">All</option> -->
    </select>
  </div>
  <div>
    <b> Records: {{ collectionSize }} </b>
  </div>
  <ngb-pagination
    [collectionSize]="collectionSize"
    [(page)]="page"
    [maxSize]="4"
    [pageSize]="pageSize"
    [rotate]="true"
    [ellipses]="false"
    [boundaryLinks]="true"
    (pageChange)="onChangePageOptions()"
  ></ngb-pagination>
</div>
