<table class="table table-sm  small table-striped">
  <thead>
    <tr>
      <th>Role</th>
      <th align="center">Amount of Resource</th>
      <th>FTE Total</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let rec of summary">
      <!-- ummary: [ { "roleName": "CDC", "resourceCount": 2, "fteTotal": 1.05 }, { "roleName": "CDL", "resourceCount": 1, "fteTotal": 0.7 }, { "roleName": "DMPM", "resourceCount": 1, "fteTotal": 0.8 } ]        <td>{{}}</td> -->
      <td>{{ rec.roleName }}</td>
      <td align="center">{{ rec.resourceCount }}</td>
      <td align="center">{{ rec.fteTotal }}</td>
    </tr>
    <!-- <tr>
      <td colspan="3">
        CDL includes Setup CDL
      </td>
    </tr> -->
  </tbody>
</table>
