<app-cds-req-item-dashboard [record]="dashboardRecord"></app-cds-req-item-dashboard>

<ul class="nav nav-pills " style=" padding-top: 10px; ">
  <li class="nav-item">
    <a class="nav-link py-1" [routerLink]="'view'" [queryParams]="{ id: id }" routerLinkActive="active">View</a>
  </li>
  <!-- /study/cds/devp-request/item-group/ -->
  <li class="nav-item">
    <a class="nav-link py-1" [routerLink]="'history'" [queryParams]="{ id: id }" routerLinkActive="active">History</a>
  </li>
  <li class="nav-item">
    <a class="nav-link  py-1" [routerLink]="'edit'" [queryParams]="{ id: id }" routerLinkActive="active"
    appStudyMenuAccessLink
    >Edit</a>
  </li>
</ul>
<hr />
<router-outlet></router-outlet>
<hr />
<button type="button" class="btn btn-primary me-1" (click)="back()"><i class="bi bi-skip-backward-fill"></i> Back</button>
<!-- <button type="button" class="btn btn-danger" (click)="back()">Back</button> -->
<app-copy-link></app-copy-link>
<app-confirmation-shell
  [appMenuAccess]="menuAccessLink"
  [message]="'Confirm `Mark as Completed` for Task' + id + ' ?'"
  [labelText]="'Mark as Completed'"
  [responseValue]="id"
  (response)="markAsCompleted($event)"
></app-confirmation-shell>
<!-- <button type="button" class="btn btn-primary me-2" (click)="back()">Clone this Task</button> -->
<app-confirmation-shell
  [appMenuAccess]="menuAccessLink"
  [message]="'Confirm `Clone Task` ' + id + ' ?'"
  [labelText]="'Clone'"
  [responseValue]="id"
  (response)="clone($event)"
></app-confirmation-shell>
<app-confirmation-shell
  [appMenuAccess]="menuAccessLink"
  [message]="'Remove Task ' + id + ' ?'"
  [labelText]="'Remove'"
  [responseValue]="id"
  (response)="delete($event)"
></app-confirmation-shell>
<hr/>
<app-server-response-messages
  [serverResponseMessages]="serverResponses"
  [messageBoxHeight]="200"
></app-server-response-messages>
