<div class="row">
  <div class="col-3">
    <div class="form-group">
      <label class="form-label">Study Number / Name </label>
      <input class="form-control" placeholder="Number / Name" type="text" [formControl]="filterForm" />
    </div>
  </div>
  <div class="col-3">
    <div class="form-group">
      <label class="form-label">Region</label>
      <ng-select
        id="exampleFormControlSelect1"
        [multiple]="true"
        placeholder="All"
        [(ngModel)]="selectedFilters.region"
        [clearable]="true"
        (ngModelChange)="onFiltersChange()"
      >
        <ng-option *ngFor="let rec of filters?.region" [value]="rec.value">{{ rec.value }}</ng-option>
      </ng-select>
    </div>
  </div>
  <div class="col-3">
    <div class="form-group">
      <label class="form-label">Portfolio</label>
      <ng-select
        id="exampleFormControlSelect1"
        [(ngModel)]="selectedFilters.portfolio"
        [multiple]="true"
        placeholder="All"
        [clearable]="true"
        (ngModelChange)="onFiltersChange()"
      >
        <ng-option *ngFor="let rec of filters?.portfolio" [value]="rec.value">{{ rec.value }}</ng-option>
      </ng-select>
    </div>
  </div>
  <div class="col-3">
    <div class="form-group">
      <label class="form-label">Special Projects</label>
      <ng-select
        id="exampleFormControlSelect1"
        [multiple]="true"
        placeholder="Special Projects"
        [(ngModel)]="selectedFilters.specialProject"
        [clearable]="true"
        (ngModelChange)="onFiltersChange()"
      >
        <ng-option [value]="'yes'"> Yes</ng-option>
        <ng-option [value]="'no'"> No</ng-option>

        <!-- <ng-option *ngFor="let rec of filters?.specialProject" [value]="rec.value">{{ -->
        <!-- rec.value -->
        <!-- }}</ng-option> -->
      </ng-select>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-3">
    <div class="form-group">
      <label class="form-label">Requested by</label>
      <ng-select
        #ngStatus
        id="ngStatus"
        [multiple]="true"
        placeholder="Study Resources"
        [(ngModel)]="selectedFilters.requestedBy"
        [clearable]="true"
        (ngModelChange)="onFiltersChange()"
        [disabled]="resourceDisabled"
      >
        <ng-option *ngFor="let rec of filters?.dmResources" [value]="rec.id">{{ rec.value }}</ng-option>
      </ng-select>
    </div>
  </div>

  <div class="col-3">
    <div class="form-group">
      <label class="form-label">Request Date From</label>
      <div class="input-group">
        <input
          class="form-control "
          placeholder="From Start"
          [(ngModel)]="selectedFilters.requestDateFrom"
          ngbDatepicker
          #d="ngbDatepicker"
          (ngModelChange)="onFiltersChange()"
        />
        <div class="input-group-append">
          <button class="p-2" style="border: 0;" (click)="d.toggle()" type="button">
            <i class="bi bi-calendar3"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-3">
    <div class="form-group">
      <label class="form-label">Request Date To</label>
      <div class="input-group">
        <input
          class="form-control "
          placeholder="Till End"
          [(ngModel)]="selectedFilters.requestDateTo"
          ngbDatepicker
          #d1="ngbDatepicker"
          (ngModelChange)="onFiltersChange()"
        />
        <div class="input-group-append">
          <button class="p-2" style="border: 0;" (click)="d1.toggle()" type="button">
            <i class="bi bi-calendar3"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="form-group">
      <label class="form-label">Status</label>
      <ng-select
        id="exampleFormControlSelect1"
        [multiple]="true"
        placeholder="All"
        [clearable]="true"
        [(ngModel)]="selectedFilters.isActioned"
        (ngModelChange)="onFiltersChange()"
      >
        <ng-option [value]="0"> Not Submitted</ng-option>
        <ng-option [value]="1"> Submitted for Approval</ng-option>
        <ng-option [value]="2"> Approved</ng-option>
        <ng-option [value]="3"> Rejected</ng-option>
      </ng-select>
    </div>
  </div>
</div>

<!-- <p>filters: {{ selectedFilters | json }}</p> -->
