
<app-loader [isLoading]="isLoading"></app-loader>
<div class="row " style="min-height: 200px;">
  <div class="col-md-12">
    <!-- {{columns | json}} -->
    <div class="table-responsive">
      <app-data-table-base
        [columns]="columns"
        [records]="records"
        [pageNumber]="pageNumber"
        [pageSize]="pageSize"
        
      ></app-data-table-base>
    </div>
  </div>
  <pagination-control
      [page]="pageNumber"
      [pageSize]="pageSize"
      [collectionSize]="records?.length"
      (onPageChange)="onPageChange($event)"
    ></pagination-control>
</div>
<!-- <p>records: {{records | json }}</p> -->
