<table class="table table-striped">
	<thead>
		<tr class="bg-green align-text-top">
			<th scope="col">Project Status Categories</th>
			<th scope="col">N/A</th>
            <th scope="col">Project Category Score</th>
			<th scope="col">Comment</th>
			<th scope="col">Action</th>
		</tr>
	</thead>
	<tbody>
        <tr>
            <th> Client Satisfaction </th>
            <td></td>
            <td class="text-center">
                <div [style]="getStyle(record.clientSatisfaction)">
                    {{ record.clientSatisfaction }}
                </div>
            </td>
            <td>{{ record.clientSatisfactionComments }}</td>
            <td>{{ record.clientSatisfactionAction }}</td>
        </tr>
        <tr>
            <th>Engage Survey Submitted Within 6 Month</th>
            <td>{{ getNotApplicableStatus(record.engagesurveyFlag) }}</td>
            <td class="text-center">
                <div [style]="getStyle(record.engagesurvey)">
                    {{ record.engagesurvey }}
                </div>
            </td>
            <td>{{ record.engagesurveyComments }}</td>
            <td>{{ record.engagesurveyAction }}</td>
        </tr>
        <tr>
            <th> Concerns/Engage Surveys </th>
            <td>{{ getNotApplicableStatus(record.concernsEngageSurveysFlag) }}</td>
            <td class="text-center">
                <div [style]="getStyle(record.concernsEngageSurveys)">
                    {{ record.concernsEngageSurveys }}
                </div>
            </td>
            <td>{{ record.concernsEngageSurveysComments }}</td>
            <td>{{ record.concernsEngageSurveysAction }}</td>
        </tr>
        <tr>
            <th> Status of Ongoing Escalations </th>
            <td>{{ getNotApplicableStatus(record.statusOngoingEscalationsFlag) }}</td>
            <td class="text-center">
                <div [style]="getStyle(record.statusOngoingEscalations)">
                    {{ record.statusOngoingEscalations }}
                </div>
            </td>
            <td>{{ record.statusOngoingEscalationsComments }}</td>
            <td>{{ record.statusOngoingEscalationsAction }}</td>
        </tr>
    </tbody>
</table>
