<div class="bg-icon-light me-n5 ms-n5 px-3 py-3 border-bottom border-top">
	<div class="row">
		<div class="col-6">
			<div class="form-group">
				<label>From</label>
				<div class="input-group">
					<input
						class="form-control "
						placeholder="From Start"
						[(ngModel)]="selectedFilters.fromDate"
						ngbDatepicker
						#d="ngbDatepicker"
						(ngModelChange)="onFiltersChange()"
					/>
					<div class="input-group-append">
						<button class="px-2" style="border: 0;" (click)="d.toggle()" type="button">
							<i class="bi bi-calendar3"></i>
						</button>
					</div>
				</div>
			</div>
		</div>

		<div class="col-6">
			<div class="form-group">
				<label>To</label>
				<div class="input-group">
					<input
						class="form-control "
						placeholder="Till End"
						[(ngModel)]="selectedFilters.toDate"
						ngbDatepicker
						#d1="ngbDatepicker"
						(ngModelChange)="onFiltersChange()"
					/>
					<div class="input-group-append">
						<button class="px-2" style="border: 0;" (click)="d1.toggle()" type="button">
							<i class="bi bi-calendar3"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
          
        <!-- </details> -->
        <!-- <p>filters: {{ selectedFilters | json }}</p> -->
	</div>
</div>