<h5
  style="background: #128474;
color: white !important;
border-color: #128474;padding:10px;margin-bottom: 10px;"
>
  CRM Resource List
</h5>
<app-data-table-shell
  [records]="filterRecords"
  [columns]="columns"
  [showColumnManager]="false"
  [showFooterActions]="!viewMode"
  (raiseEvent)="onRaiseEvent($event)"
  [viewMode]="viewMode"
>
  <div header>
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label class="form-label">Role</label>
          <ng-select [multiple]="true" [clearable]="true" [(ngModel)]="roleFilters" (ngModelChange)="onFilterChange()">
            <ng-option *ngFor="let res of resourcesList()" [value]="res.recId">{{ res.description }}</ng-option>
          </ng-select>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label class="form-label">Active</label>
          <ng-select
            [multiple]="true"
            [clearable]="true"
            [(ngModel)]="activeFilters"
            [clearable]="true"
            (ngModelChange)="onFilterChange()"
          >
            <ng-option [value]="true">Yes</ng-option>
            <ng-option [value]="false">No</ng-option>
          </ng-select>
        </div>
      </div>
    </div>
  </div>
  <div footer-actions>
    <button type="button" class="btn btn-primary" (click)="add()">
      Add
    </button>
  </div>
</app-data-table-shell>
<!-- to prevent truncation of filer drop down -->
<br /><br /><br /><br /><br /><br /><br /><br />
<!-- <p>records: {{ records | json }}</p> -->
<!-- <p>studyId: {{studyId}}</p> -->
