<ul class="nav nav-pills pb-3">
  <li role="button"
    class="nav-item nav-link" 
    [routerLink]="'status'" 
    routerLinkActive="active"
    appStudyMenuAccessLink
    >Study Status
  </li>
  <li role="button"
    class="nav-item nav-link" 
    [routerLink]="'status-view'" 
    routerLinkActive="active"
    appStudyMenuAccessLink
    >Study Status - View
  </li>
  <!-- <li class="nav-item">
    <a class="nav-link" [routerLink]="'status-alt'" routerLinkActive="active">Study Status Alternative
  </li> -->
  <li role="button"
    class="nav-item nav-link" 
    [routerLink]="'pageflow'" 
    routerLinkActive="active"
    appStudyMenuAccessLink
    [rootPath]="rootPath"
    >Page Flow
  </li>
  <li role="button"
    class="nav-item nav-link" 
    [routerLink]="'pageflow-view'" 
    routerLinkActive="active"
    appStudyMenuAccessLink
    >Page Flow - View
  </li>
</ul>
<hr />
<router-outlet></router-outlet>
