<app-loader [isLoading]="true" *ngIf="loading"></app-loader>

<div class="position-relative">
  <div class="row">
    <div [ngClass]="menuClass()">
      <span role="button" class="collapse-icon" (click)="toggleMenuWidth()">
        <i [ngClass]="collapse()"></i>
      </span>
      <br />

      <!-- <div class="d-flex">
        <div
          ngbNav
          #nav="ngbNav"
          class="nav-pills flex-column"
          orientation="vertical"
        >
          <ng-container
            *ngFor="let header of headerRecords; let i = index;"
            [ngbNavItem]="i"
          >
            <button ngbNavLink>{{header.description}}</button>
            <ng-template ngbNavContent>
              <app-imi-review-cat-detail
                [form]="form"
                [parId]="header.recId"
                [title]="header.description"
                [records]="categoryData"
              ></app-imi-review-cat-detail>
              <div class="row">
                <div class="col-sm-6">
                  <button
                    type="submit"
                    class="btn btn-primary submit-button"
                    (click)="submit()"
                    [disabled]="!(form.valid && form.dirty)"
                  >
                    Save
                  </button>
                  <button type="button" class="btn btn-default" (click)="resetForm()">Undo</button>
                </div>
                <div class="col-sm-6">
                  <app-last-saved [auditFields]="categoryData"></app-last-saved>
                </div>
              </div>
            </ng-template>
          </ng-container>
        </div>
      </div> -->

      <ul class="list-group small ms-n4 mt-n3 list-group-flush border-right mb-n4 study-tab-list">
        <li
          *ngFor="let header of headerRecords"
          role="button"
          class="list-group-item"
          [ngClass]="selectedParId == header.recId? 'list-group-item active': 'list-group-item'"
          (click)="itemSelected(header.recId, header.description)"
        >
          {{ header.description }}
        </li>
      </ul>
    </div>
    <div class="col overflow-hidden">
      <app-imi-review-cat-detail
        [form]="form"
        [parId]="selectedParId"
        [title]="selectedTitle"
        [records]="categoryData"
      ></app-imi-review-cat-detail>
      <br />
      <div class="position-relative">
        
      </div>
    </div>
  </div>
</div>

<div style="display:none;clear: both;">---</div>
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-5">
    <button
      type="submit"
      class="btn btn-primary submit-button"
      (click)="submit()"
      [disabled]="!(form.valid && form.dirty)"
    >
      Save
    </button>
    <button type="button" class="btn btn-default" (click)="resetForm()">Undo</button>
  </div>
  <div class="col-sm-5">
    <app-last-saved [auditFields]="categoryData"></app-last-saved>
  </div>
</div>
<!-- <p>studyId: {{studyId}}</p> -->

<!-- <p>headerRecords: {{headerRecords | json }}</p> -->
