<app-loader [isLoading]="true" *ngIf="loading"></app-loader>
<hr />
<table class="table table-sm  small table-striped">
  <tbody>
    <tr>
      <td>Due Date</td>
      <td>{{ record?.dueDate | date: 'dd-MMM-yyyy' }}</td>
    </tr>
    <tr>
      <td>Requestor</td>
      <td>{{ record?.requestor }}</td>
    </tr>
    <tr>
      <td>Process Improvement Status</td>
      <td>{{ record?.processImprovementStatus }}</td>
    </tr>
    <tr>
      <td>Billable / Not Billable</td>
      <td>{{ record?.billableOrNoBillable }}</td>
    </tr>
    <tr>
      <td>Process Improvement Category</td>
      <td>{{ record?.processImprovementCategory }}</td>
    </tr>
    <tr>
      <td>Process Improvement Sub Category</td>
      <td>{{ record?.processImprovementSubCategory }}</td>
    </tr>
    <tr>
      <td>Scope of Initiative</td>
      <td>{{ record?.scopeOfInitiative }}</td>
    </tr>

    <tr>
      <td>Process Improvement Documentation Location including action log</td>
      <td>{{ record?.processImprovementDocLocation }}</td>
    </tr>
    <tr>
      <td>Process Lead</td>
      <td>{{ record?.processLead }}</td>
    </tr>

    <tr>
      <td>Functional Area Impacted</td>
      <td>{{ record?.functionalAreasImpactedValues }}</td>
    </tr>
    <tr>
      <td>Sub Team</td>
      <td>{{ record?.subTeamValues }}</td>
    </tr>
    <tr>
      <td>SOP/WP/Guidelines Impacted</td>
      <td>{{ record?.sopWpGuidelineImpacted }}</td>
    </tr>
    <tr>
      <td>Final Process Documentation Location</td>
      <td>{{ record?.finalProcessDocLocation }}</td>
    </tr>

    <tr>
      <td>Training Developed and Rolled Out</td>
      <td>{{ record?.trainingDevelopedAndRolledOut }}</td>
    </tr>
  </tbody>
</table>
