<app-loader [isLoading]="true" *ngIf="loading"></app-loader>
<h4>Local Labs</h4>
<hr />
<table class="table table-sm small table-striped">
	<tbody>
		<tr>
			<td>Local Lab Type</td>
			<td>{{ record.localLabTypePDescription }}</td>
		</tr>
        <tr>
            <td>Local Lab Cleaning Group</td>
            <td>{{ record.localLabSetupTypePDescription }}</td>
        </tr>
        <tr>
            <td>Local Lab Cleaning Frequency</td>
            <td>{{ record.localLabCleaningGroupPDescription }}</td>
        </tr>
        <tr>
            <td>Local Lab Setup Type</td>
            <td>{{ record.localLabCleaningFrequencyPDescription }}</td>
        </tr>
        <tr>
            <td>Local Lab Cleaning Week</td>
            <td>{{ record.localLabCleaningWeekPDescription }}</td>
        </tr>
        <tr>
            <td>Local Lab Cleaning Day</td>
            <td>{{ record.localLabCleaningDayPDescription }}</td>
        </tr>
        <tr>
            <td>Last Run Date</td>
            <td>{{ record.lastRunDate | date: 'd-MMM-y' }}</td>
        </tr>
        <tr>
            <td>Next Planned Run Date</td>
            <td>{{ record.nextPlannedRunDate | date: 'd-MMM-y' }}</td>
        </tr>
        <tr>
            <td>Local Lab Status</td>
            <td>{{ record.localLabStatusPDescription }}</td>
        </tr>
        <tr>
            <td>Ranges Entered In?</td>
            <td>{{ record.rangesEnteredInPDescription }}</td>
        </tr>
        <tr>
            <td>Sas Cleaning Process</td>
            <td>{{ record.sasCleaningProcessPDescription }}</td>
        </tr>
        <tr>
            <td>Local Lab Comments</td>
            <td>{{ record.localLabComments }}</td>
        </tr>
    </tbody>
</table>
<span class="alert alert-info">Last Updated on: {{ record?.updatedOn | date: 'd-MMM-y, h:mm a' }}</span>