<!-- {{ records | json }} -->
<h2>Process Improvement Category Codelist</h2>
<app-loader [isLoading]="isLoading"></app-loader>

<!-- //[requiredPermissions]="requiredPermissions" -->
<div class="row " style="min-height: 200px;">
  <div class="col-md-12">
    <!-- {{columns | json}} -->
    <div class="table-responsive">
      <app-data-table-base
        [columns]="columns"
        [records]="records"
        [pageNumber]="selectedFilters.pageNumber"
        [pageSize]="selectedFilters.pageSize"
        (raiseEvent)="onRaiseEvent($event)"
      ></app-data-table-base>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <button type="button" class="btn btn-primary" (click)="add()">
      Add
    </button>
  </div>

  <div class="col-md-10">
    <pagination-control
      [page]="selectedFilters.pageNumber"
      [pageSize]="selectedFilters.pageSize"
      [collectionSize]="records?.length"
      (onPageChange)="onPageChange($event)"
    ></pagination-control>
  </div>
</div>
<!-- <p>records: {{ records | json }}</p> -->

<h2>Process Improvement Sub Category Codelist</h2>
<app-process-improvement-category-filter
  [selectedFilters]="selectedSubFilters"
  (filterChange)="onSubFilterChange($event)"
></app-process-improvement-category-filter>
<div *ngIf="subCodelistTable" class="row " style="min-height: 200px;">
  <div class="col-md-12">
    <div class="table-responsive">
      <app-data-table-base
        [columns]="columns"
        [records]="filteredRecords"
        [pageNumber]="selectedSubFilters.subPageNumber"
        [pageSize]="selectedSubFilters.subPageSize"
        (raiseEvent)="onRaiseEvent($event)"
      ></app-data-table-base>
    </div>
    <div class="row">
      <div class="col-md-2">
        <button type="button" class="btn btn-primary" (click)="addSub()">
          Add
        </button>
      </div>
      <div class="col-md-10">
        <pagination-control
          [page]="selectedSubFilters.subPageNumber"
          [pageSize]="selectedSubFilters.subPageSize"
          [collectionSize]="filteredRecords?.length"
          (onPageChange)="onSubPageChange($event)"
        ></pagination-control>
      </div>
    </div>
  </div>
</div>
