<h4>FTE Resource Upload</h4>

<ul ngbNav #nav="ngbNav" class="nav-pills">
	<li ngbNavItem>
		<a ngbNavLink>Upload a File</a>
		<ng-template ngbNavContent>
			<div>
				<form [formGroup]="fileUploadForm">
					<!-- <select formControlName="vendorId"  class="form-control" >
						<option *ngFor="let vendor of vendors" [value]="vendor.id">{{vendor.name}}</option>
					</select> -->
					<!-- <file-upload formControlName="files" fileslimit="1" multiple="false" ></file-upload> -->
					<app-ngx-file-upload [control]="files" (controlChange)="onControlChange($event)"></app-ngx-file-upload>
				</form>
				<button class="btn btn-primary" (click)="upload()" [disabled]="fileUploadForm.invalid"><i class="bi bi-cloud-upload"></i> Upload</button>
				<span *ngIf="uploadInProgress">Uploading...</span>
			</div>

			<br/>
			<app-alert [alerts]="alerts"></app-alert>
		</ng-template>
	</li>

	<li ngbNavItem>
		<a ngbNavLink>Instructions</a>
		<ng-template ngbNavContent>
			<table class="table table-bordered table-sm table-hover small table-striped" style="border-color:lightgray;">
				<thead style="background-color: #b6effb;">
					<tr>
						<th colspan="3">
							File Format
						</th>
					</tr>
					<tr>
						<th align="left">Column Position</th>
						<th align="left">Column Name</th>
						<th align="left">Description</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>MILESTONE TASK</td>
						<td>
							<p>Fixed set of items as listed below</p>
						</td>
					</tr>
					<tr>
						<td>2</td>
						<td>STUDY NUMBER</td>
						<td>
							<p>Icon Number of the Study formate: IMIPMP0004/0065</p>
						</td>
					</tr>
					<tr>
						<td>3</td>
						<td>SCHEDULE START</td>
						<td>
							<p>Format: 13-Aug-2020</p>
							<p>First 2 digits represent a Date and Next 3 alphabet represent a Month and last 4 digits represent Year</p>
						</td>
					</tr>
					<tr>
						<td>4</td>
						<td>ACTUAL START</td>
						<td>
							<p>Foramt: 24-Aug-2020</p>
							<p>First 2 digits represent a Date and Next 3 alphabet represent a Month and last 4 digits represent Year</p>
						</td>
					</tr>
				</tbody>
			</table>

			<button *ngIf="!downloadInProgress" class="btn btn-primary" (click)="downloadSampleTemplate()">Download Template</button>
			<button *ngIf="downloadInProgress" class="btn btn-primary" type="button" disabled>
				<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
				Downloading...
			</button>
		</ng-template>
	</li>
</ul>
<div [ngbNavOutlet]="nav" class="mt-2"></div>
