<div class="position-relative">
  <div class="row">
    <div [ngClass]="menuClass()">
      <span role="button" class="collapse-icon" (click)="toggleMenuWidth()">
        <i [ngClass]="collapse()"></i>
      </span>
      <h6 class="ps-3">DM+IMI Study</h6>
      <ul class="list-group small ms-n4 mt-n3 list-group-flush border-right mb-n4 study-tab-list">
        <li role="button"
        class="list-group-item"
        (click)="showTeamMembers()"
        >Team Members
       </li>
        
        <li
        role="button"
        class="list-group-item"
        [routerLink]="'study-edit'"
        routerLinkActive="active"
        appStudyMenuAccessLink
          [rootPath]="rootPath"
      >
        Study Edit
      </li>
        <li
          role="button"
          class="list-group-item"
          [routerLink]="'review'"
          routerLinkActive="active"
          appStudyMenuAccessLink
          [rootPath]="rootPath"
        >
          Project Review
        </li>
        <li
          role="button"
          class="list-group-item"
          [routerLink]="'description-assumptions'"
          routerLinkActive="active"
          appStudyMenuAccessLink
          [rootPath]="rootPath"
          
        >
          Description
        </li>

        <!-- [queryParams]="{ rootPath: rootPath + '/resources-group'}" -->
        <li
          role="button"
          class="list-group-item"
          
          [routerLink]="'resources-group'"
          routerLinkActive="active"
          appStudyMenuAccessLink
          [rootPath]="rootPath"
          
        >
          Resources
        </li>

        <!-- [queryParams]="{ rootPath: rootPath + '/timeline'}" -->
        <li
          role="button"
          class="list-group-item"
          [routerLink]="'timeline'"

          routerLinkActive="active"
          appStudyMenuAccessLink
          [rootPath]="rootPath"
          
        >
          Timelines
        </li>

        <li
          role="button"
          class="list-group-item"
          [routerLink]="'status-pageflow'"
          routerLinkActive="active"
          appStudyMenuAccessLink
          [rootPath]="rootPath"
          
        >
          Status / Pageflow
        </li>

        <li
          role="button"
          class="list-group-item"
          [routerLink]="'external-data-list'"
          routerLinkActive="active"
          appStudyMenuAccessLink
          [rootPath]="rootPath"
          
        >
          External Data
        </li>
        <li
          role="button"
          class="list-group-item"
          [routerLink]="'external-data-view'"
          routerLinkActive="active"
          appStudyMenuAccessLink
          [rootPath]="rootPath"
          
        >
          External Data - View
        </li>
        <li
          role="button"
          class="list-group-item"
          [routerLink]="'dbl-main'"
          routerLinkActive="active"
          appStudyMenuAccessLink
          [rootPath]="rootPath"
          
        >
          Database Lock Dashboard
        </li>
        <li
          role="button"
          class="list-group-item"
          [routerLink]="'dbl-main-view'"
          routerLinkActive="active"
          appStudyMenuAccessLink
          [rootPath]="rootPath"
          
        >
          Database Lock Dashboard - View
        </li>
        
        <li
          role="button"
          class="list-group-item"
          [routerLink]="'tasks'"
          routerLinkActive="active"
          appStudyMenuAccessLink
          [rootPath]="rootPath"
          
        >
          Tasks
        </li>

        <li
          role="button"
          class="list-group-item "
          [routerLink]="'cdms-group'"
          routerLinkActive="active"
          appStudyMenuAccessLink
          [rootPath]="rootPath"     
        >
          CDMS
        </li>
        <li
          role="button"
          class="list-group-item "
          [routerLink]="'cds-group'"
          routerLinkActive="active"
          appStudyMenuAccessLink
          [rootPath]="rootPath"
          
        >
          CDS
        </li>

        <!-- [queryParams]="{ rootPath: rootPath + '/quality-group'}" -->
        <li
          role="button"
          class="list-group-item"
          [routerLink]="'quality-group'"

          routerLinkActive="active"
          appStudyMenuAccessLink
          [rootPath]="rootPath"
          
        >
          Quality
        </li>

        <!-- not ready: -->

        <!-- <li
          *ngIf="studyProperties?.isGSK"
          role="button"
          [routerLink]="'fte-computations'"
          routerLinkActive="active"
          appStudyMenuAccessLink
          [rootPath]="rootPath"
          class="list-group-item"
          
        >
          FTEs (FTE Computations)
        </li> -->

        <!-- *ngIf="studyProperties?.isLocalLab" -->
        <li
          role="button"
          class="list-group-item"
          [routerLink]="'local-labs'"
          routerLinkActive="active"
          appStudyMenuAccessLink
          [rootPath]="rootPath"
          
        >
          Local Lab
        </li>

        <!-- *ngIf="studyProperties?.isLocalLab" -->
        <li
          *ngIf="studyProperties?.isLocalLab"
          role="button"
          class="list-group-item"
          [routerLink]="'local-labs-view'"
          routerLinkActive="active"
          appStudyMenuAccessLink
          [rootPath]="rootPath"
          
        >
          Local Lab - View
        </li>

        <li
          role="button"
          class="list-group-item"
          [routerLink]="'imi-resources'"
          routerLinkActive="active"
          appStudyMenuAccessLink
          [rootPath]="rootPath"
          
        >
          IMI Resources
        </li>

        <li
          role="button"
          class="list-group-item"
          [routerLink]="'imi-resources-view'"
          routerLinkActive="active"
          appStudyMenuAccessLink
          [rootPath]="rootPath"
          
        >
          IMI Resources - View
        </li>

        <li
          role="button"
          class="list-group-item"
          [routerLink]="'imi-timelines'"
          routerLinkActive="active"
          appStudyMenuAccessLink
          [rootPath]="rootPath"
          
        >
          IMI Timelines
        </li>

        <li
          role="button"
          class="list-group-item"
          [routerLink]="'imi-timelines-view'"
          routerLinkActive="active"
          appStudyMenuAccessLink
          [rootPath]="rootPath"
          
        >
          IMI Timelines - View
        </li>

        <li
          role="button"
          class="list-group-item"
          [routerLink]="'imi-status'"
          routerLinkActive="active"
          appStudyMenuAccessLink
          [rootPath]="rootPath"
          
        >
          IMI Study Status
        </li>

        <li role="button" 
          class="list-group-item" 
          [routerLink]="'imi-status-view'" 
          routerLinkActive="active"
          appStudyMenuAccessLink
          [rootPath]="rootPath"
          
        >
          IMI Study Status - View
        </li>
        <!-- *ngIf="studyProperties?.requiresRaveMedImaging" -->
        <!-- IMI CDMS required only for IMI-Only studies. -->
        <!-- <li
          
          role="button"
          class="list-group-item"
          [routerLink]="'imi-cdms-group'"
          routerLinkActive="active"
          appStudyMenuAccessLink
          [rootPath]="rootPath"
          
        >
          IMI CDMS
        </li> -->

        <li
          role="button"
          class="list-group-item"
          [routerLink]="'imi-review-group'"
          routerLinkActive="active"
          appStudyMenuAccessLink
          [rootPath]="rootPath"
          
          
        >
          IMI Review
        </li>

        <li
          role="button"
          class="list-group-item"
          [routerLink]="'imi-trackers-group'"
          routerLinkActive="active"
          appStudyMenuAccessLink
          [rootPath]="rootPath"
          
        >
          IMI Trackers
        </li>

        <li role="button" 
          class="list-group-item" 
          [routerLink]="'study-info'" 
          routerLinkActive="active"
        >
          Study Info
        </li>

        <!-- moved to review group -->
        <!-- <li class="list-group-item" *ngIf="studyProperties?.hasArchivedReviews">Archived Review</li> -->

        <br />
      </ul>
    </div>
    <div class="col overflow-hidden">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
