<!-- <div style="background-color:#94D60A; margin: 0; " class="border circle">
</div> -->
<div class="d-flex pb-2 align-items-center">
  <span style="background-color:#94D60A; border-radius: 50%; width: 25px; height: 25px; display: inline-block;"></span>
  <h5 class="flex-grow-1 ps-2 mb-0">{{ title }}</h5>
  <div>
    <small class="p-2" style="padding-left:10px;">
      <!-- Studies Pending Tasks total with CDS Team : {{ dashboard?.cdsTeamDashboard?.value }} -->
      Total Tasks with CDS Team : <span class="rounded-pill px-3 py-1" style="background-color:{{ dashboard?.cdsTeamDashboard?.backgoundColor }}; color:white;">{{ dashboard?.cdsTeamDashboard?.value }}</span>
    </small>
    <small class="p-2" style="padding-left:10px;">
      <!-- Studies Pending Tasks total with Study Team : {{ dashboard?.studyTeamDashboard?.value }} -->
      Total Tasks with Study Team : <span class="rounded-pill px-3 py-1" style="background-color:{{ dashboard?.studyTeamDashboard?.backgoundColor }}; color:white;">{{ dashboard?.studyTeamDashboard?.value }}</span>
    </small>
  </div>
</div>
<app-card-dashboard [dashboardItems]="dashboard?.dashboardItems" (itemClicked)="onItemClicked($event)">
</app-card-dashboard>


<!-- <p>dashboard: {{dashboard | json}}</p> -->
