<app-loader [isLoading]="true" *ngIf="loading"></app-loader>
<table class="table table-sm  small table-striped">
  <tbody>
    <tr>
      <td>Development Task Category</td>
      <td>{{ record?.developmentCategoryPDescription }}</td>
    </tr>
    <tr>
      <td>Development Task Details</td>
      <td>{{ record?.developmentDetail }}</td>
    </tr>
    <tr>
      <td>Is this an Update to an existing Program</td>
      <td>{{ record?.isThisaProgrammingPpcDescription }}</td>
    </tr>
    <tr>
      <td>No. Of Units</td>
      <td>{{ record?.noOfUnits }}</td>
    </tr>
    <tr>
      <td>Development Status</td>
      <td>{{ record?.developmentStatusPDescription }}</td>
    </tr>
    <tr>
      <td>Validation Status</td>
      <td>{{ record?.validationStatus }}</td>
    </tr>
    <tr>
      <td>Current Validation Round</td>
      <td>{{ record?.currentValidationRound }}</td>
    </tr>
    <tr>
      <td>Validation Tasks Involved</td>
      <td>{{ record?.validationTaskInvolvedItems }}</td>
    </tr>
    <tr>
      <td>Validation Start Date</td>
      <td>{{ record?.validationStartDate | date: 'dd-MMM-yyyy' }}</td>
    </tr>
    <tr>
      <td>Validation End Date</td>
      <td>{{ record?.validationEndDate | date: 'dd-MMM-yyyy' }}</td>
    </tr>

    <tr>
      <td>Validation Due Date</td>
      <td>{{ record?.validationDueDate | date: 'dd-MMM-yyyy' }}</td>
    </tr>
    <tr>
      <td>Link To Specification - Todo</td>
      <td>{{ record?.linkToDocumentation }}</td>
    </tr>
    <tr>
      <td>Link To Val Documents</td>
      <td>{{ record?.linkToValDocuments }}</td>
    </tr>
    <tr>
      <td>Validation Comments</td>
      <td>{{ record?.comments }}</td>
    </tr>
    <tr>
      <td>Validation POC</td>
      <td>{{ record?.validationPocUDisplayName }}</td>
    </tr>
    <tr>
      <td>Validation Members</td>
      <td>{{ record?.validationMemberNames }}</td>
    </tr>
    <tr>
      <td>Programming Due Date</td>
      <td>{{ record?.dueDate | date: 'dd-MMM-yyyy' }}</td>
    </tr>

    <tr>
      <td>Requestor</td>
      <td>{{ record?.requestorDisplayName }}</td>
    </tr>
    <tr>
      <td>Programmer Assigned</td>
      <td>{{ record?.cdsassignedToDisplayName }}</td>
    </tr>
  </tbody>
</table>
<app-last-saved [auditFields]="record"></app-last-saved>

<!-- <p>{{ record | json }}</p> -->
