<div class="row" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
  <div class="col-3">
    <div class="form-group">
      <label class="form-label">Search</label>
      <input class="form-control" placeholder="ICON Number or Protocol Name" type="text" [formControl]="filterForm" />
    </div>
  </div>
  <div class="col-3">
    <div class="form-group">
      <label class="form-label">Sort by ICON Number</label>
      <ng-select
        id="exampleFormControlSelect1"
        [multiple]="false"
        placeholder="Sort"
        [(ngModel)]="selectedFilters.sort"
        [clearable]="false"
        (ngModelChange)="onFiltersChange()"
      >
        <ng-option [value]="'asc'"> Ascending</ng-option>
        <ng-option [value]="'desc'"> Descending</ng-option>
      </ng-select>
    </div>
  </div>
  <div class="col-3">
    <div class="form-group">
      <label class="form-label">IMI PM</label>
      <ng-select
        id="exampleFormControlSelect1"
        [multiple]="true"
        placeholder="IMI PM"
        [(ngModel)]="selectedFilters.dmpm"
        [clearable]="true"
        (ngModelChange)="onFiltersChange()"
      >
        <ng-option *ngFor="let rec of filters?.imiPms" [value]="rec.value">{{ rec.value }}</ng-option>
      </ng-select>
    </div>
  </div>

  <div class="col-3">
    <div class="form-group">
      <label class="form-label">IMI PD</label>
      <ng-select
        id="exampleFormControlSelect1"
        [multiple]="true"
        placeholder="IMI PD"
        [(ngModel)]="selectedFilters.dmpmManager"
        [clearable]="true"
        (ngModelChange)="onFiltersChange()"
      >
        <ng-option *ngFor="let rec of filters?.imiPds" [value]="rec.value">{{ rec.value }}</ng-option>
      </ng-select>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-3">
    <div class="form-group">
      <label class="form-label">Region</label>
      <ng-select
        id="exampleFormControlSelect1"
        [multiple]="true"
        placeholder="Regions"
        [(ngModel)]="selectedFilters.region"
        [clearable]="true"
        (ngModelChange)="onFiltersChange()"
      >
        <!-- <ng-option  [value]="0" > [All]</ng-option> -->
        <ng-option *ngFor="let rec of filters?.region" [value]="rec.value">{{ rec.value }}</ng-option>
      </ng-select>
    </div>
  </div>
  <div class="col-3">
    <div class="form-group">
      <label class="form-label">Portfolio</label>
      <ng-select
        id="exampleFormControlSelect1"
        [(ngModel)]="selectedFilters.portfolio"
        [multiple]="true"
        placeholder="Portfolio"
        [clearable]="false"
        (ngModelChange)="onFiltersChange()"
      >
        <ng-option *ngFor="let rec of filters?.portfolio" [value]="rec.value">{{ rec.value }}</ng-option>
      </ng-select>
    </div>
  </div>
  <div class="col-3">
    <div class="form-group">
      <label class="form-label">CDMS</label>
      <ng-select
        id="exampleFormControlSelect1"
        [(ngModel)]="selectedFilters.cdms"
        [multiple]="true"
        placeholder="CDMS"
        [clearable]="false"
        (ngModelChange)="onFiltersChange()"
      >
        <ng-option *ngFor="let rec of filters?.imiCDMS" [value]="rec.value">{{ rec.value }}</ng-option>
      </ng-select>
    </div>
  </div>
  <div class="col-3">
    <div class="form-group">
      <label class="form-label">Sponsor</label>
      <ng-select
        id="exampleFormControlSelect1"
        [(ngModel)]="selectedFilters.sponsor"
        [multiple]="true"
        placeholder="Sponsor"
        [clearable]="false"
        (ngModelChange)="onFiltersChange()"
      >
        <ng-option *ngFor="let rec of filters?.sponsors" [value]="rec.value">{{ rec.value }}</ng-option>
      </ng-select>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-3">
    <div class="form-group">
      <label class="form-label">Status</label>
      <ng-select
        id="exampleFormControlSelect1"
        [multiple]="true"
        placeholder="Status"
        [(ngModel)]="selectedFilters.status"
        [clearable]="true"
        (ngModelChange)="onFiltersChange()"
      >
        <ng-option [value]="0">Active</ng-option>

        <ng-option *ngFor="let rec of filters?.status" [value]="rec.id">{{ rec.value }}</ng-option>
      </ng-select>
    </div>
  </div>
  <div class="col-3">
    <div class="form-group">
      <label class="form-label">Resource</label>
      <ng-select
        #ngStatus
        id="ngStatus"
        [multiple]="true"
        placeholder="Study Resources"
        [(ngModel)]="selectedFilters.resource"
        [clearable]="true"
        (ngModelChange)="onFiltersChange()"
        [disabled]="resourceDisabled"
      >
        <ng-option *ngFor="let rec of filters?.imiResources" [value]="rec.id">{{ rec.value }}</ng-option>
      </ng-select>
    </div>
  </div>
</div>
<!-- <p>filters: {{filters | json }}</p> -->
<!-- imiResources -->
