<app-loader [isLoading]="true" *ngIf="loading"></app-loader>
<h5
  style="background: #128474;
color: white !important;
border-color: #128474;padding:10px;margin-bottom: 10px;"
>
  CRM Timelines
</h5>
<table class="table table-sm small table-striped">
	<tbody>
		<tr>
			<td>Awarded</td>
			<td>{{ record.awarded | date: 'dd-MMM-y' }}</td>
		</tr>
        <tr>
			<td>CDA Assigned date (PRM)</td>
			<td>{{ record.cdaAssigned | date: 'dd-MMM-y' }}</td>
		</tr>
        <tr *ngIf="dmDerived">
			<td>Protocol Approval</td>
			<td>{{ record.protocalApproval | date: 'dd-MMM-y' }}</td>
		</tr>
        <tr>
            <td>FPI/FPS</td>
            <td>{{ record.fpiFps | date: 'dd-MMM-y' }}</td>
        </tr>
        <tr>
            <td>FPE</td>
            <td>{{ record.fpe | date: 'dd-MMM-y' }}</td>
        </tr>
        <tr>
            <td>LPE</td>
            <td>{{ record.lpe | date: 'dd-MMM-y' }}</td>
        </tr>
        <tr>
            <td>LPO</td>
            <td>{{ record.lpo | date: 'dd-MMM-y' }}</td>
        </tr>
        <tr>
            <td>1st RACT meeting date</td>
            <td>{{ record.firstRactMeeting | date: 'dd-MMM-y' }}</td>
        </tr>
        <tr>
            <td>CDA ws approval date</td>
            <td>{{ record.cdaWsApproval | date: 'dd-MMM-y' }}</td>
        </tr>
        <tr>
            <td>First CDA analysis date (at the earliest)</td>
            <td>{{ record.firstCdaAnalysisDate | date: 'dd-MMM-y' }}</td>
        </tr> 
        <tr>
            <td>Final CDA analysis date</td>
            <td>{{ record.finalCdaAnalysisDate | date: 'dd-MMM-y' }}</td>
        </tr>
        <tr>
            <td>Analysis Time (in months)</td>
            <td>{{ record.analysisTime }}</td>
        </tr>
        <tr *ngIf="dmDerived">
            <td>CDMS Go-live</td>
            <td>{{ record.cdmsGolive | date: 'dd-MMM-y' }}</td>
        </tr>
        <tr *ngIf="dmDerived">
            <td>Main DBL</td>
            <td>{{ record.mainDbl | date: 'dd-MMM-y' }}</td>
        </tr>
    </tbody>
</table>

<!-- <span class="alert alert-info">Last Updated on: {{ record?.updatedOn | date: 'd-MMM-y, h:mm a' }}</span> -->
<app-last-saved [auditFields]="record"></app-last-saved>