<app-loader [isLoading]="true" *ngIf="loading"></app-loader>
<h4>Resource</h4>
<hr />
<form [formGroup]="form" (ngSubmit)="submit()">
  <formly-form [model]="record" [fields]="fields" [options]="options" [form]="form"></formly-form>

  <div class="alert alert-d anger" *ngIf="!dateCompareValidator">The Stop Date cannot preceed Start Date</div>
  <div class="alert alert-danger" *ngIf="!roleResourceOverlapValid?.status">
    {{ roleResourceOverlapValid?.message }}
  </div>

  <button
    type="submit"
    class="btn btn-primary submit-button"
    [disabled]="!(form.valid && form.dirty) || !roleResourceOverlapValid?.status || !dateCompareValidator"
  >
    Save
  </button>
  <button type="button" class="btn btn-default me-1" (click)="options.resetModel()">Undo</button>
  <button type="button" class="btn btn-default" (click)="back()">Back</button>
  <app-last-saved [auditFields]="record"></app-last-saved>
  <br><br>
  <div class="alert alert-info" >
    Changes to a user's permissions will take effect upon login. If the user is currently logged in, please ask them to reload the permissions. 
  </div>
</form>
<!-- <p>record:{{ record | json }}</p> -->
<!-- <p>roleResourceOverlapValid: {{roleResourceOverlapValid | json}}</p> -->
<!-- <p>isAstellasStudy: {{isAstellasStudy}}</p> -->
