<div class="row">
  <div class="col-6">
    <div class="form-group">
      <label class="form-label">Search</label>
      <input class="form-control" placeholder="ICON Number or Study Name" type="text" [formControl]="filterForm" />
    </div>
  </div>
  <div class="col-3">
    <div class="form-group">
      <label class="form-label">Region</label>
      <ng-select
        id="exampleFormControlSelect1"
        [multiple]="true"
        placeholder="Regions"
        [(ngModel)]="selectedFilters.region"
        [clearable]="true"
        (ngModelChange)="onFiltersChange()"
      >
        <!-- <ng-option  [value]="0" > [All]</ng-option> -->
        <ng-option *ngFor="let rec of filters?.region" [value]="rec.value">{{ rec.value }}</ng-option>
      </ng-select>
    </div>
  </div>
  <div class="col-3">
    <div class="form-group">
      <label class="form-label">CDMS</label>
      <ng-select
        id="exampleFormControlSelect1"
        [(ngModel)]="selectedFilters.cdms"
        [multiple]="true"
        placeholder="CDMS"
        [clearable]="true"
        (ngModelChange)="onFiltersChange()"
      >
        <ng-option *ngFor="let rec of filters?.cdms" [value]="rec.value">{{ rec.value }}</ng-option>
      </ng-select>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-3">
    <div class="form-group">
      <label class="form-label">Task Group Title</label>
      <ng-select
        id="exampleFormControlSelect1"
        [(ngModel)]="selectedFilters.taskGroupTitle"
        [multiple]="true"
        placeholder="Task Group Title"
        [clearable]="true"
        (ngModelChange)="onFiltersChange()"
      >
        <ng-option *ngFor="let rec of filters?.taskGroupTitle" [value]="rec.value">{{ rec.value }}</ng-option>
      </ng-select>
    </div>
  </div>
  <div class="col-3">
    <div class="form-group">
      <label class="form-label">Task</label>
      <ng-select
        id="exampleFormControlSelect1"
        [(ngModel)]="selectedFilters.task"
        [multiple]="true"
        placeholder="Task"
        [clearable]="true"
        (ngModelChange)="onFiltersChange()"
      >
        <ng-option *ngFor="let rec of filters?.task" [value]="rec.value">{{ rec.value }}</ng-option>
      </ng-select>
    </div>
  </div>
  <div class="col-3">
    <div class="form-group">
      <label class="form-label">Task Status</label>
      <ng-select
        id="exampleFormControlSelect1"
        [(ngModel)]="selectedFilters.taskStatus"
        [multiple]="true"
        placeholder="Task Status"
        [clearable]="true"
        (ngModelChange)="onFiltersChange()"
      >
        <ng-option *ngFor="let rec of filters?.taskStatus" [value]="rec.value">{{ rec.value }}</ng-option>
      </ng-select>
    </div>
  </div>
  <div class="col-3">
    <div class="form-group">
      <label class="form-label">Item Status</label>
      <ng-select
        id="exampleFormControlSelect1"
        [(ngModel)]="selectedFilters.itemStatus"
        [multiple]="true"
        placeholder="Item Status"
        [clearable]="true"
        (ngModelChange)="onFiltersChange()"
      >
        <ng-option [value]="'Not Applicable'">Not Applicable</ng-option>
        <ng-option [value]="'Open'">Open</ng-option>
        <ng-option [value]="'Completed'">Completed</ng-option>
      </ng-select>
    </div>
  </div>
</div>
