<ul class="nav nav-pills pb-3">
  <li role="button"
    class="nav-item nav-link" 
    [routerLink]="'study-resources'" 
    routerLinkActive="active"
    appStudyMenuAccessLink
    >Resources
  </li>
  <li role="button"
    class="nav-item nav-link" 
    [routerLink]="'study-resources-view'" 
    routerLinkActive="active"
    appStudyMenuAccessLink
    >Resources - View
  </li>
  <li role="button"
    class="nav-item nav-link" 
    [routerLink]="'fte-resources'" 
    routerLinkActive="active"
    appStudyMenuAccessLink
    >FTE Resources
  </li>
  <li role="button"
    class="nav-item nav-link" 
    [routerLink]="'fte-resources-view'" 
    routerLinkActive="active"
    appStudyMenuAccessLink
    >FTE Resources
  </li>
</ul>
<hr />
<!-- <p> hasDMManagerRole {{ hasDMManagerRole }}</p> -->
<router-outlet></router-outlet>
