Subject:  Study {StudyName} - {StudyIconNumber} is live.
 
Hello {ToUsers},
<br/><br/>

Study {StudyName} - {StudyIconNumber} is live.
<br />
This is a courtesy email and the DMPM/CDL is still responsible for ensuring all downstream teams like SDTM, Stats, ICONIK, etc. are notified.

<br />
Thanks,<br />
PRISM Admin Team
