<ul class="nav nav-pills nav-fill pb-3">
  <li role="button"
    class="nav-item nav-link" 
    [routerLink]="'cdms'" 
    routerLinkActive="active"
    appStudyMenuAccessLink
    >IMI CDMS
  </li>
  <li role="button"
    class="nav-item nav-link" 
    [routerLink]="'cdms-view'" 
    routerLinkActive="active"
    appStudyMenuAccessLink
    >IMI CDMS - View
  </li>
  <li role="button"
    class="nav-item nav-link" 
    [routerLink]="'cdms-tracker'"
    routerLinkActive="active"
    appStudyMenuAccessLink
    >IMI CDMS Tracker
  </li>
  <li role="button"
    class="nav-item nav-link" 
    [routerLink]="'cdms-tracker-view'" 
    routerLinkActive="active"
    appStudyMenuAccessLink
    >IMI CDMS Tracker - View
  </li>
</ul>
<hr />
<router-outlet></router-outlet>
