/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */
@import "~@ng-select/ng-select/themes/default.theme.css";
:root {
  --blue: #128474 !important;
}
 /* @import "assets/fonts/style.css";
 body {
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
                Roboto, Oxygen-Sans, Ubuntu, Cantarell,
                "Helvetica Neue", sans-serif;
 }
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 th,
 label,
 .btn,
 button,
 .navbar-brand,
 .nav-item {
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
                Roboto, Oxygen-Sans, Ubuntu, Cantarell,
                "Helvetica Neue", sans-serif;
 } */

h1,
h2,
h3,
h4 {
  letter-spacing: -0.8px;
  font-weight: 700;
}

.pointer {
  cursor: pointer;
}
/* $brand-primary: #128474;
$brand-secondary: #004750;

$icon-primary: #128474;
$icon-secondary: #004750; */

.bg-secondary {
  background: '#004750';
}
 /* .icon-primary, .btn-primary, .nav-link .active{
   background: $icon-primary; color: white
 } */

.spinner {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.spinner:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: none;
}

header > nav {
  border-bottom: 5px solid white;
}
header > nav .logo {
  border-right: 5px solid white;
}

.green {
  background: #4caf50 !important;
  color: white;
}
.red,
.green,
.blue,
.orange {
  font-weight: bold;
}

.blue {
  background-color: #448aff;
  color: white;
}

.red {
  background: #f44336 !important;
  color: white;
}

.yellow {
  background: #ffc107 !important;
}

.orange {
  background: #ff9800;
  -webkit-animation: orange-blink 1s infinite;
  animation: orange-blink 2s infinite ease-in-out;
}

.tab-content {
  padding-top: 1.5rem;
}

.bg-warning > * {
  color: #333;
}

/* .bg-success,
.bg-warning,
.bg-danger,
.text-shadow {
   text-shadow: 0.5px 0.5px 0 #909090;
} */

.text-underline {
  text-decoration: underline;
}

.home-img {
  min-height: 150px;
  max-height: 150px;
}

@keyframes orange-blink {
  0% {
    background-color: orange;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: orange;
  }
  100% {
    background-color: orange;
  }
}

.action-register-status .active {
  background: gold;
   /* Work Order
  .tv-board{ background: red; } */
}
.card-settings:after {
  display: none !important;
}
/* Work Order
.tv-board{ background: red; } */
.fixed-step-cell {
  width: 6.66%;
}
.work-order-tv-box {
  font-size: 60%;
}
.work-order-tv-box:nth-child(even) {
  padding-right: 0;
}
.action-register-status td,
.action-register-status th,
.action-register-status > tr > th {
  border: 1px solid black !important;
}
.chart {
  width: 100% !important;
  min-height: 450px !important;
}

.date-size {
  min-width: 150px;
}

 @page {
  size: auto;
}

 /* page[size="A4"][layout="landscape"] {
   width: 29.7cm;
   height: 21cm;
 } */
.table td,
.table th {
  padding: 0.5rem;
}

.hand-cursor {
  cursor: pointer;
}

@media print {
  html {
    width: 210mm !important;
    /* height: 21cm !important; */
  }
  body {
    background-color: white !important;
    width: 210mm !important;
    margin: 0;
    padding: 0;
    /* height: 21cm; */
  }
  .shadow-lg {
    box-shadow: none !important;
  }
  .mx-auto {
    margin: 0 !important;
  }
  .container-fluid,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm {
    padding: 0 !important;
  }
  .container-fluid .shadow-lg {
    box-shadow: none !important;
  }
  .container-fluid {
    width: 100vw !important;
    margin-top: -2em;
  }
  #printableArea img {
    width: 100px;
    height: 57px;
  }

  #printableArea h4 {
    font-size: 1em;
  }
}
