<app-loader [isLoading]="isLoading"></app-loader>
<div class="">
  <div class="row">
    <!-- <div class="col-md-3"> -->
    <!-- <h4 class="mb-4">Filter by</h4> -->
    <!-- <div class="card"> -->
    <!-- <article class="card-group-item"> -->
    <!-- <header class="card-header"> -->
    <!-- <h6 class="title">Role</h6> -->
    <!-- </header> -->
    <!-- <div class="card-body">
            <div class="custom-control custom-checkbox">
              <span class="float-right badge badge-light round">52</span>
              <input type="checkbox" class="custom-control-input" id="Check1" />
              <label class="custom-control-label" for="Check1">Administrator</label>
            </div>


            <div class="custom-control custom-checkbox">
              <span class="float-right badge badge-light round">132</span>
              <input type="checkbox" class="custom-control-input" id="Check2" />
              <label class="custom-control-label" for="Check2">Manager</label>
            </div>

            <div class="custom-control custom-checkbox">
              <span class="float-right badge badge-light round">17</span>
              <input type="checkbox" class="custom-control-input" id="Check3" />
              <label class="custom-control-label" for="Check3">User</label>
            </div>

          </div> -->

    <!-- </article> -->
    <!-- <article class="card-group-item"> -->
    <!-- <header class="card-header">
            <h6 class="title">Permission</h6>
          </header> -->
    <!-- <div class="card-body"> -->
    <!-- <div class="custom-control custom-checkbox">
              <span class="float-right badge badge-light round">52</span>
              <input type="checkbox" class="custom-control-input" id="Check1" />
              <label class="custom-control-label" for="Check1">View</label>
            </div> -->
    <!-- form-check.// -->
    <!--
            <div class="custom-control custom-checkbox">
              <span class="float-right badge badge-light round">132</span>
              <input type="checkbox" class="custom-control-input" id="Check2" />
              <label class="custom-control-label" for="Check2">Add</label>
            </div> -->
    <!-- form-check.// -->

    <!-- <div class="custom-control custom-checkbox">
              <span class="float-right badge badge-light round">17</span>
              <input type="checkbox" class="custom-control-input" id="Check3" />
              <label class="custom-control-label" for="Check3">Update</label>
            </div>
            <div class="custom-control custom-checkbox">
              <span class="float-right badge badge-light round">17</span>
              <input type="checkbox" class="custom-control-input" id="Check3" />
              <label class="custom-control-label" for="Check3">Delete</label>
            </div> -->
    <!-- form-check.// -->
    <!-- </div> -->
    <!-- card-body.// -->
    <!-- </article> -->
    <!-- card-group-item.// -->
    <!-- </div> -->
    <!-- </div> -->
    <div class="col-md-12">
      <h4 class="mb-4">Roles</h4>
      <div class="table-responsive">
        <form>
          <div class="float-right">
            <!-- <button
              type="button"
              class="btn btn-primary"
              (click)="openAddRoleModal()"
              *appHasPermissions="'roles.manage, roles.assign'"
            >
              Add Role
            </button> -->
          </div>

          <div class="form-group form-inline">
            <div class="form-group form-inline">
              <input class="form-control ms-2" placeholder="Search" type="text" [formControl]="filter" />
            </div>
          </div>

          <table class="table table-borderless table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th class="text-right" scope="col" *appHasPermissions="'roles.manage, roles.assign'">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let role of roles; let i = index">
                <td scope="row">{{ pageSize * (pageNumber - 1) + (i + 1) }}</td>
                <td>
                  <!-- <ngb-highlight [result]="role.name" [term]="service.searchTerm"></ngb-highlight> -->
                  <ngb-highlight [result]="role.name" [term]="filter.value"></ngb-highlight>
                </td>
                <td class="text-right" *appHasPermissions="'roles.manage, roles.assign'">
                  <div ngbDropdown class="d-inline-block " placement="bottom-right">
                    <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Action</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <button disabled="true" ngbDropdownItem (click)="editRoleModal(role)">Permissions</button>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>

          <!-- <pagination-control
            [page]="pageNumber"
            [pageSize]="pageSize"
            [collectionSize]="numberOfRoles"
            (onPageChange)="onPageChange($event)"
          ></pagination-control> -->
        </form>
      </div>
    </div>
  </div>
</div>
