<!-- {{ records | json }} -->
<h2>Mail Log</h2>
<app-loader [isLoading]="isLoading"></app-loader>
<app-mail-log-filter [selectedFilters]="selectedFilters" (filterChange)="onFilterChange($event)"></app-mail-log-filter>
<!-- //[requiredPermissions]="requiredPermissions" -->
<div class="row " style="min-height: 200px;">
  <div class="col-md-12">
    <!-- {{columns | json}} -->
    <div class="table-responsive">
      <!-- class="table table-sm table-hover small table-striped" -->
			<table class="table table-sm table-hover small table-striped" style="word-break: break-all;">
				<thead style="background-color: var(--green) !important;">
					<tr>
						<!-- <th align="right">From</th> -->
						<th align="right">To</th>
            <th align="right">CC</th>
            <th align="right">BCC</th>
						<th align="right">Subject</th>
            <!-- <th align="right">Body</th> -->
            <th align="right">Sent On</th>
						<th align="right">Successful</th>
						<!-- <th align="right">Error Message</th> -->
					</tr>
				</thead>
				<tbody>
					<tr
						*ngFor="let record of records; let i = index"
					>
            <!-- <td>{{ record.fromEmailAddress }}</td> -->
            <td>{{ record.toEmailAddress }}</td>
            <td>{{ record.ccemailAddress }}</td>
            <td>{{ record.bccEmailAddress }}</td>
            <td>{{ record.subject }}</td>
            <!-- <td>{{ record.body }}</td> -->
						<td>{{ record.sentOn | date: 'dd-MMM-yyyy' }}</td>
						<td>{{ getIsSuccessfulStatus(record.isSuccessfull) }}</td>
						<!-- <td>{{ record.errorMessage }}</td> -->
					</tr>
				</tbody>
			</table>
      <pagination-control
				[page]="pageNumber"
				[pageSize]="pageSize"
				[collectionSize]="totalItems"
				(onPageChange)="onPageChange($event)"
			></pagination-control>
		</div>
  </div>
</div>

