<table class="table table-striped">
	<thead>
		<tr class="bg-green align-text-top">
			<th scope="col">Project Status Categories</th>
			<th scope="col">N/A</th>
            <th scope="col">Project Category Score</th>
			<th scope="col">Comment</th>
			<th scope="col">Action</th>
		</tr>
	</thead>
	<tbody>
        <tr>
            <th> Resourcing and Staff Engagement </th>
            <td></td>
            <td class="text-center">
                <div [style]="getStyle(record.resourcingStaffEngagement)">
                    {{ record.resourcingStaffEngagement }}
                </div>
            </td>
            <td>{{ record.resourcingStaffEngagementComments }}</td>
            <td>{{ record.resourcingStaffEngagementActions }}</td>
        </tr>
        <tr>
            <th> Staff Resourcing, Resourcing Gaps and Utilization </th>
            <td>{{ getNotApplicableStatus(record.staffresourcingFlag) }}</td>
            <td class="text-center">
                <div [style]="getStyle(record.staffresourcing)">
                    {{ record.staffresourcing }}
                </div>
            </td>
            <td>{{ record.staffresourcingComments }}</td>
            <td>{{ record.staffresourcingAction }}</td>
        </tr>
        <tr>
            <th> Cross Functional/Team Collaboration and Task Ownership Matrix </th>
            <td>{{ getNotApplicableStatus(record.crossFunctionalTeamCollaborationTaskOwnershipMatrixflag) }}</td>
            <td class="text-center">
                <div [style]="getStyle(record.crossFunctionalTeamCollaborationTaskOwnershipMatrix)">
                    {{ record.crossFunctionalTeamCollaborationTaskOwnershipMatrix }}
                </div>
            </td>
            <td>{{ record.crossFunctionalTeamCollaborationTaskOwnershipMatrixComments }}</td>
            <td>{{ record.crossFunctionalTeamCollaborationTaskOwnershipMatrixActon }}</td>
        </tr>
    </tbody>
</table>
