<div class="position-relative">
  <div class="row">
    <div [ngClass]="menuClass()">
      <span role="button" class="collapse-icon" (click)="toggleMenuWidth()">
        <i [ngClass]="collapse()"></i>
      </span>
      <h5>Admin</h5>
      <br />
      <!-- <ul class="list-group small ms-n4 mt-n3 list-group-flush border-right mb-n4 study-tab-list">
        <li role="button" class="list-group-item" [routerLink]="'roles'" routerLinkActive="active">
          Roles
        </li>
        <li role="button" class="list-group-item" [routerLink]="'users'" routerLinkActive="active">
          User
        </li>
        <li role="button" class="list-group-item" [routerLink]="'codelist'" routerLinkActive="active">
          Codelist
        </li>
        <li role="button"
          class="list-group-item" 
          [routerLink]="'imi-review-categories-codelist'" 
          routerLinkActive="active"
          >IMI Review Categories Codelist
        </li>

        <li role="button"
          class="list-group-item" 
          [routerLink]="'crm-project-governance-codelist'" 
          routerLinkActive="active"
          >CRM Project Governance Codelist
        </li>
        
        <li role="button" class="list-group-item" [routerLink]="'reportaccessrights'" routerLinkActive="active">
          Report Access Rights
        </li>
        <li role="button" class="list-group-item" [routerLink]="'upload'" routerLinkActive="active">
          DB Upload section
        </li>
        <li role="button" class="list-group-item" [routerLink]="'generateftes'" routerLinkActive="active">
          Generate FTEs
        </li>
        <li role="button" class="list-group-item" [routerLink]="'cdms'" routerLinkActive="active">
          CDMS
        </li>
        <li role="button" class="list-group-item" [routerLink]="'subcodelist'" routerLinkActive="active">
          Sub Codelist
        </li>
        <li role="button" class="list-group-item" [routerLink]="'logdetails'" routerLinkActive="active">
          Logs
        </li>
        <li role="button" class="list-group-item" [routerLink]="'group-access'" routerLinkActive="active">
          Group Access
        </li>
        <li role="button" class="list-group-item" [routerLink]="'app-access'" routerLinkActive="active">
          App Access
        </li>
      </ul> -->


      <ul class="list-group small ms-n4 mt-n3 list-group-flush border-right mb-n4 study-tab-list">
        <!-- not used -->
        <!-- <li role="button" class="list-group-item" [routerLink]="'roles'" routerLinkActive="active">
          Roles
        </li> -->
        <li role="button" 
          class="list-group-item" 
          [routerLink]="'users'" 
          routerLinkActive="active"
          appMenuAccessLink
          [rootPath]="rootPath"
        >
          User
        </li>

        <li role="button" 
          class="list-group-item" 
          [routerLink]="'codelist'" 
          routerLinkActive="active"
          appMenuAccessLink
          [rootPath]="rootPath"
        >
          Codelist - DM + IMI
        </li>

        <li role="button"
          class="list-group-item" 
          [routerLink]="'cdms'" 
          routerLinkActive="active"
          appMenuAccessLink
          [rootPath]="rootPath"
        >
          CDMS
        </li>

        <li role="button"
          class="list-group-item" 
          [routerLink]="'clin-info'" 
          routerLinkActive="active"
          appMenuAccessLink
          [rootPath]="rootPath"
        >
          Clininfo
        </li>
        
        <li role="button" 
          class="list-group-item" 
          [routerLink]="'cds'" 
          routerLinkActive="active"
          appMenuAccessLink
          [rootPath]="rootPath"
        >
          CDS
        </li>
        <li role="button" 
          class="list-group-item" 
          [routerLink]="'imi'" 
          routerLinkActive="active"
          appMenuAccessLink
          [rootPath]="rootPath"
        >
          IMI
        </li>
        <li role="button" 
          class="list-group-item" 
          [routerLink]="'crm'" 
          routerLinkActive="active"
          appMenuAccessLink
          [rootPath]="rootPath"
        >
          CRM
        </li>
        <li role="button" 
          class="list-group-item" 
          [routerLink]="'process-improvement-categories'" 
          routerLinkActive="active"
          appMenuAccessLink
          [rootPath]="rootPath"
        >
          Process Improvement Categories
        </li>
        <li role="button" 
          class="list-group-item" 
          [routerLink]="'uploads-dm'" 
          routerLinkActive="active"
          appMenuAccessLink
          [rootPath]="rootPath"
        >
          Uploads - DM
        </li>
        <li role="button" 
          class="list-group-item" 
          [routerLink]="'uploads-imi'" 
          routerLinkActive="active"
          appMenuAccessLink
          [rootPath]="rootPath"
        >
          Uploads - IMI
        </li>
        <li role="button" 
          class="list-group-item" 
          [routerLink]="'logdetails'" 
          routerLinkActive="active"
          appMenuAccessLink
          [rootPath]="rootPath"
        >
          Logs
        </li>
        <li role="button" 
          class="list-group-item" 
          [routerLink]="'group-access'" 
          routerLinkActive="active"
          appMenuAccessLink
          [rootPath]="rootPath"
        >
          Group Access
        </li>
        <li role="button" 
          class="list-group-item" 
          [routerLink]="'app-access'" 
          routerLinkActive="active"
          appMenuAccessLink
          [rootPath]="rootPath"
        >
          App Access
        </li>
      </ul>
    </div>

    <div class="col overflow-hidden">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
