<ul ngbNav #nav="ngbNav" class="nav nav-pills pb-3">

  <li 
    role="button"
    class="nav-item nav-link"
    [routerLink]="'cds-dashboard'"
    routerLinkActive="active"
    appMenuAccessLink> 
      CDS Dashboards
  </li>
  <li 
    role="button"
    class="nav-item nav-link"
    [routerLink]="'study-list'" 
    routerLinkActive="active"
    appMenuAccessLink>
      DM Studies
  </li>

  <li
    role="button"
    class="nav-item nav-link"
    [routerLink]="'imi-study-list'"
    routerLinkActive="active"
    appMenuAccessLink
    >
    IMI Studies
  </li>
  <li role="button"
    class="nav-item nav-link"
    [routerLink]="'crm-list'" 
    routerLinkActive="active" 
    appMenuAccessLink
    >CRM Studies
  </li>
</ul>
<hr />
<router-outlet></router-outlet>
<div [ngbNavOutlet]="nav">
</div>

