<app-loader [isLoading]="true" *ngIf="loading"></app-loader>

<table class="table table-sm  small table-striped">
  <tbody>
    <tr>
      <td>Output Types</td>
      <td>{{ record?.outputTypeNames }}</td>
    </tr>

    <tr>
      <td>Request Title</td>
      <td>{{ record?.requestTitle }}</td>
    </tr>
    <tr>
      <td>Output Request Details</td>
      <td>{{ record?.outputRequestDetails }}</td>
    </tr>
    <tr>
      <td>Request Priority</td>
      <td>{{ record?.requestedpriorityPDescription }}</td>
    </tr>

    <tr>
      <td>Requested Due Date</td>
      <td>{{ record?.requestedDueDate | date: 'dd-MMM-yyyy' }}</td>
    </tr>
    <tr>
      <td>Requestor</td>
      <td>{{ record?.requestorDisplayName }}</td>
    </tr>

    <tr>
      <td>Developer Assigned</td>
      <td>{{ record?.developerAssignedDisplayName }}</td>
    </tr>

    <tr>
      <td>Output Review Assigned</td>
      <td></td>
    </tr>
    <tr>
      <td>Output Status</td>
      <td>{{ record?.outputStatusDescription }}</td>
    </tr>
    <tr>
      <td>Output Completed Date</td>
      <td>{{ record?.outputCompletedDate | date: 'dd-MMM-yyyy' }}</td>
    </tr>

    <tr>
      <td>Progress Details</td>
      <td>{{ record?.progressDetails }}</td>
    </tr>
  </tbody>
</table>
<app-last-saved [auditFields]="record"></app-last-saved>

<!-- <p>record{{ record | json }}</p> -->
