<app-loader [isLoading]="true" *ngIf="loading"></app-loader>

<table class="table table-sm small table-striped">
    <thead>
		<tr class="bg-green align-text-top">
			<th scope="col">Task / Status</th>
 			<th scope="col">Things to Consider</th>
            <th scope="col">CRM Comments</th>
            <th scope="col">CRM/CDA Action</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let record of review?.data;">
            <td>{{ record.fieldDescription }} <br>Status: {{ record.statusDescription }} </td>

            <td>{{ record.description }}</td>
            <td>{{ record.comment }}</td>
            <td>{{ record.actions }}</td>
		</tr>
    </tbody>
</table>


<app-last-saved [auditFields]="review"></app-last-saved>

<!-- <p>review: {{review | json}}</p> -->