<!-- <app-loader [isLoading]="isLoading"></app-loader> -->
<app-cds-output-due-dashboard (itemClicked)="onItemClicked($event)"></app-cds-output-due-dashboard>

<div class="bg-icon-light me-n5 ms-n5 px-3 py-3 border-bottom border-top">
  <details>
    <summary><i class="bi bi-funnel"></i> Filters</summary>
    <app-cds-output-filter
      [selectedFilters]="selectedFilters"
      [showResetButton]="true"
      (filterChange)="onFilterChange($event)"
      (resetFilters)="onResetFilters()"
    >
    </app-cds-output-filter>
  </details>
</div>

<app-cds-out-req-base-list [filters]="selectedFilters"></app-cds-out-req-base-list>

<!-- <p>records:{{ records | json }}</p> -->
