<!-- <ul class="nav nav-pills nav-fill pb-3">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="'xxx-yyy'" routerLinkActive="active">Abcd</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="'xxx-yyy'" routerLinkActive="active">Abcd</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="'xxx-yyy'" routerLinkActive="active">Abcd</a>
    </li>
  </ul> -->
<h5
  style="padding: 5px 5px 5px 10px; border-radius: 5px; background-color:#632B86 !important; color: white !important; background-image:linear-gradient(to bottom, #632B86 0px, #632B86 100%) !important"
>
  IMI R&A Output Request
</h5>
<router-outlet></router-outlet>
