<div class="row">
  <div class="col-6">
    <div class="form-group">
      <label class="form-label">Search</label>
      <input class="form-control" placeholder="ICON Number or Study Name" type="text" [formControl]="filterForm" />
    </div>
  </div>
  <div class="col-3">
    <div class="form-group">
      <label class="form-label">Region</label>
      <ng-select
        id="exampleFormControlSelect1"
        [multiple]="true"
        placeholder="Regions"
        [(ngModel)]="selectedFilters.region"
        [clearable]="true"
        (ngModelChange)="onFiltersChange()"
      >
        <!-- <ng-option  [value]="0" > [All]</ng-option> -->
        <ng-option *ngFor="let rec of filters?.region" [value]="rec.value">{{ rec.value }}</ng-option>
      </ng-select>
    </div>
  </div>
  <div class="col-3">
    <div class="form-group">
      <label class="form-label">CDMS</label>
      <ng-select
        id="exampleFormControlSelect1"
        [(ngModel)]="selectedFilters.cdms"
        [multiple]="true"
        placeholder="CDMS"
        [clearable]="true"
        (ngModelChange)="onFiltersChange()"
      >
        <ng-option *ngFor="let rec of filters?.cdms" [value]="rec.value">{{ rec.value }}</ng-option>
      </ng-select>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-3">
    <div class="form-group">
      <label class="form-label">Primary CDMS Lead</label>
      <ng-select
        id="exampleFormControlSelect1"
        [(ngModel)]="selectedFilters.primaryCdmsLead"
        [multiple]="true"
        placeholder="Primary CDMS Lead"
        [clearable]="true"
        (ngModelChange)="onFiltersChange()"
      >
        <ng-option *ngFor="let rec of filters?.primaryCDMSLead" [value]="rec.value">{{ rec.value }}</ng-option>
      </ng-select>
    </div>
  </div>
  <div class="col-3">
    <div class="form-group">
      <label class="form-label">Secondary CDMS Lead</label>
      <ng-select
        id="exampleFormControlSelect1"
        [(ngModel)]="selectedFilters.secondaryCdmsLead"
        [multiple]="true"
        placeholder="Secondary CDMS Lead"
        [clearable]="true"
        (ngModelChange)="onFiltersChange()"
      >
        <ng-option *ngFor="let rec of filters?.secondaryCDMSLead" [value]="rec.value">{{ rec.value }}</ng-option>
      </ng-select>
    </div>
  </div>

  <div class="col-3">
    <div class="form-group">
      <label class="form-label">Task Group Title</label>
      <ng-select
        id="exampleFormControlSelect1"
        [(ngModel)]="selectedFilters.taskGroupTitle"
        [multiple]="true"
        placeholder="Task Group Title"
        [clearable]="true"
        (ngModelChange)="onFiltersChange()"
      >
        <ng-option *ngFor="let rec of filters?.taskGroupTitle" [value]="rec.value">{{ rec.value }}</ng-option>
      </ng-select>
    </div>
  </div>
  <div class="col-3">
    <div class="form-group">
      <label class="form-label">Task Status</label>
      <ng-select
        id="exampleFormControlSelect1"
        [(ngModel)]="selectedFilters.taskStatus"
        [multiple]="true"
        placeholder="Task Status"
        [clearable]="true"
        (ngModelChange)="onFiltersChange()"
      >
        <ng-option *ngFor="let rec of filters?.taskStatus" [value]="rec.value">{{ rec.value }}</ng-option>
      </ng-select>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-3">
    <div class="form-group">
      <label class="form-label">Start Date - from</label>
      <div class="input-group">
        <input
          class="form-control "
          placeholder="Start Date - from"
          [(ngModel)]="selectedFilters.startDateFrom"
          ngbDatepicker
          #d="ngbDatepicker"
          (ngModelChange)="onFiltersChange()"
        />
        <div class="input-group-append">
          <button class="p-2" style="border: 0;" (click)="d.toggle()" type="button">
            <i class="bi bi-calendar3"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="form-group">
      <label class="form-label">Start Date - to</label>
      <div class="input-group">
        <input
          class="form-control "
          placeholder="Start Date - to"
          [(ngModel)]="selectedFilters.startDateTo"
          ngbDatepicker
          #d1="ngbDatepicker"
          (ngModelChange)="onFiltersChange()"
        />
        <div class="input-group-append">
          <button class="p-2" style="border: 0;" (click)="d1.toggle()" type="button">
            <i class="bi bi-calendar3"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="form-group">
      <label class="form-label">Completed Date - from</label>
      <div class="input-group">
        <input
          class="form-control "
          placeholder="Completed Date - from"
          [(ngModel)]="selectedFilters.completedDateFrom"
          ngbDatepicker
          #d2="ngbDatepicker"
          (ngModelChange)="onFiltersChange()"
        />
        <div class="input-group-append">
          <button class="p-2" style="border: 0;" (click)="d2.toggle()" type="button">
            <i class="bi bi-calendar3"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="form-group">
      <label class="form-label">Completed Date - to</label>
      <div class="input-group">
        <input
          class="form-control "
          placeholder="Completed Date - to"
          [(ngModel)]="selectedFilters.completedDateTo"
          ngbDatepicker
          #d3="ngbDatepicker"
          (ngModelChange)="onFiltersChange()"
        />
        <div class="input-group-append">
          <button class="p-2" style="border: 0;" (click)="d3.toggle()" type="button">
            <i class="bi bi-calendar3"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
