<app-loader [isLoading]="true" *ngIf="loading"></app-loader>
<h4>Group: {{ groupName }}</h4>
<div class="container">
  <div class="row">
    <div class="col">
      <label>Available users:</label>
      <div class="form-group">
        <label>Filter</label>
        <input class="form-control" placeholder="" type="text" [(ngModel)]="filterUserName" />
      </div>
      <app-data-table-base
        [columns]="columnsA"
        [records]="filteredUserRecords"
        [pageNumber]="pageNumberA"
        [pageSize]="pageSize"
        (raiseEvent)="onRaiseEvent($event)"
      ></app-data-table-base>

      <br />
      <b> Records: {{ filteredUserRecords?.length }} </b>
      <ngb-pagination
        [collectionSize]="filteredUserRecords?.length"
        [(page)]="pageNumberA"
        [maxSize]="4"
        [pageSize]="pageSize"
        [rotate]="true"
        [ellipses]="false"
        [boundaryLinks]="true"
      ></ngb-pagination>
    </div>
    <div class="col">
      <label>Members:</label>
      <div class="form-group">
        <label>Filter</label>
        <input class="form-control" placeholder="" type="text" [(ngModel)]="filterMemberName" />
      </div>
      <app-data-table-base
        [columns]="columnsB"
        [records]="filteredMemberRecords"
        [pageNumber]="pageNumberB"
        [pageSize]="pageSize"
        (raiseEvent)="onRaiseEvent($event)"
      ></app-data-table-base>
      <br />
      <b> Records: {{ filteredMemberRecords?.length }} </b>
      <ngb-pagination
        [collectionSize]="filteredMemberRecords?.length"
        [(page)]="pageNumberB"
        [maxSize]="4"
        [pageSize]="pageSize"
        [rotate]="true"
        [ellipses]="false"
        [boundaryLinks]="true"
      ></ngb-pagination>
    </div>
  </div>
</div>
<button type="button" (click)="groupMembersUpate()" class="btn btn-primary submit-button">Save</button>

<!-- <p>list1: {{ list1 | json }}</p> -->
<!-- <p>selectedUsers: {{selectedUsers | json}}</p> -->
