<ul class="nav nav-pills  pb-3">
  <li role="button"
    class="nav-item nav-link"
    [routerLink]="'create-request-list'" 
    routerLinkActive="active"
    appMenuAccessLink>
    New
  </li>
  <li role="button"
    class="nav-item nav-link" 
    [routerLink]="'update-request-list'" 
    routerLinkActive="active"
    appMenuAccessLink
    >Update
  </li>
  <li role="button"
    class="nav-item nav-link" 
    [routerLink]="'deactivate-request-list'" 
    routerLinkActive="active"
    appMenuAccessLink
    >Deactivate
  </li>
  <!-- *appHasPermissions="'rol.Admin'" -->
  <li role="button"
    class="nav-item nav-link"
    [routerLink]="'approval-request-list'"
    routerLinkActive="active"
    appMenuAccessLink
    >Approval
  </li>
</ul>
<router-outlet></router-outlet>
