<h5
  style="background: #128474;
color: white !important;
border-color: #128474;padding:10px;margin-bottom: 10px;"
>
  CRM Analysis Planning
</h5>
<form [formGroup]="form" (ngSubmit)="submit()">
  <formly-form [model]="record" [fields]="fields" [options]="options" [form]="form"></formly-form>
  <br />
  <!-- <button type="submit" class="btn btn-primary submit-button" [disabled]="!(form.valid && form.dirty)">Save</button> -->
  <!-- <button type="button" class="btn btn-light" (click)="options.resetModel()">Undo</button>
  <span class="alert alert-info">Last Updated on: {{ record?.updatedOn | date: 'd-MMM-y, h:mm a' }}</span> -->
</form>



<!-- <div [formGroup]="tableForm" class="input-group mb-3 col-4 my-3 ms-0 ps-0 green-form">
  <span class="input-group-text bg-green" id="basic-addon1">Year</span>
  <select formControlName="selectedYear" class="form-control" (change)="updateYear($event)">
    <option *ngFor="let years of YearValue" selected="selectedYear">{{ years }}</option>
  </select>
</div> -->

<!-- <form [formGroup]="formFlow" (ngSubmit)="submitFlow()">
  <formly-form [model]="filterPageFlow" [fields]="fieldsFlow" [options]="optionsFlow" [form]="formFlow"></formly-form>
  <br />
  <button type="submit" class="btn btn-primary submit-button" >
    Save
  </button>
  <button type="button" class="btn btn-light" (click)="optionsFlow.resetModel()">Undo</button>
  <span class="alert alert-info">Last Updated on: {{ lastSavedOn | date: 'd-MMM-y, h:mm a' }}</span>
</form> -->

<h4 mb-3 float-left me-3>Analysis Planning</h4>

<div class="" *ngFor="let data of pageFlowData; let y = index">
  <table class="table table-bordered">
    <thead>
      <tr class="text-white" style="background-color: #f2f2f2;">
        <th scope="col" class="align-middle">
          <h5 style="color: rgb(0 0 0 / 87%) !important;">{{ data.year }}</h5>
        </th>
        <th
          scope="col"
          class="text-center"
          style="color: rgb(0 0 0 / 87%) !important;"
          *ngFor="let month of data.months"
        >
          {{ month.month }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">ForeCast</th>
        <td
          class="text-center"
          *ngFor="let month of data.months; let m = index"
          [ngStyle]="getStyleForForecast(month.foreCast)"
          (click)="onClickActual(data.year, y, month.month, m, month)"
        >
          <div>{{ month.foreCast }}</div>
        </td>
      </tr>
      <tr>
        <th scope="row">Actual</th>
        <td
          class="text-center"
          *ngFor="let month of data.months; let m = index"
          [ngStyle]="getStyle(month.foreCast, month.actual)"
          (click)="onClickActual(data.year, y, month.month, m, month)"
        >
          <div>{{ month.actual }}</div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<button type="button" class="btn btn-primary submit-button" (click)="saveRecord()">
  Save
</button>
<button type="button" class="btn btn-light" (click)="options.resetModel()">Undo</button>
<!-- <span class="alert alert-info">Last Updated on: {{ lastSavedOn | date: 'd-MMM-y, h:mm a' }}</span> -->
<app-last-saved [auditFields]="record"></app-last-saved>
<!-- <p>record: {{ record | json }}</p> -->
