<div class="login-container bg-secondary">
  <div class="login-box ">
    <div class="text-light">
      <!-- <h1 translate>APP_NAME</h1> -->
      <!-- <h6 class="d-inline-block">v{{ version }}</h6> -->
    </div>
    <div class="container">
      <div class="card col-md-6 mt-3 mx-auto">
        <div class="card-body">
          <h4 class="card-title text-center">
            <i class="far fa-3x fa-user-circle text-muted"></i>
          </h4>

          <p>You have logged out of PRIME.</p>

          <p><button class="btn btn-primary" (click)="refreshPage();" >
            Login again   </button></p>
          <!-- login again  - not working    -->
          <!-- <a class="btn btn-primary" (click)="login()" role="button">Login again</a> -->
        </div>
      </div>
    </div>
  </div>
</div>
