<table class="table table-striped">
	<thead>
		<tr class="bg-green align-text-top">
			<th scope="col">Project Status Categories</th>
			<th scope="col">N/A</th>
            <th scope="col">Project Category Score</th>
			<th scope="col">Comment</th>
			<th scope="col">Action</th>
		</tr>
	</thead>
	<tbody>
        <tr>
            <th> Management of Readers </th>
            <td></td>
            <td class="text-center">
                <div [style]="getStyle(record.managementReaders)">
                    {{ record.managementReaders }}
                </div>
            </td>
            <td>{{ record.managementReadersComments }}</td>
            <td>{{ record.managementReadersAction }}</td>
        </tr>
        <tr>
            <th> Confirmation of contracts </th>
            <td>{{ getNotApplicableStatus(record.confirmationcontractsFlag) }}</td>
            <td class="text-center">
                <div [style]="getStyle(record.confirmationcontracts)">
                    {{ record.confirmationcontracts }}
                </div>
            </td>
            <td>{{ record.confirmationcontractsComments }}</td>
            <td>{{ record.confirmationcontractsAction }}</td>
        </tr>
        <tr>
            <th> Read Timelines </th>
            <td>{{ getNotApplicableStatus(record.readtimelinesFlag) }}</td>
            <td class="text-center">
                <div [style]="getStyle(record.readtimelines)">
                    {{ record.readtimelines }}
                </div>
            </td>
            <td>{{ record.readtimelinesComments }}</td>
            <td>{{ record.readtimelinesAction }}</td>
        </tr>
        <tr>
            <th> Reader Avaliability (Vacation / OOO) </th>
            <td>{{ getNotApplicableStatus(record.readeravailabilityFlag) }}</td>
            <td class="text-center">
                <div [style]="getStyle(record.readeravailability)">
                    {{ record.readeravailability }}
                </div>
            </td>
            <td>{{ record.readeravailabilityComments }}</td>
            <td>{{ record.readeravailabilityAction }}</td>
        </tr>
        <tr>
            <th> Reader Performance & Quality Management e.g. Time to read Report, Criteria Adherence, Personal Adjudication Rate, ASR Report, Intra-Reader Variability </th>
            <td>{{ getNotApplicableStatus(record.readerperformanceFlag) }}</td>
            <td class="text-center">
                <div [style]="getStyle(record.readerperformance)">
                    {{ record.readerperformance }}
                </div>
            </td>
            <td>{{ record.readerperformanceComments }}</td>
            <td>{{ record.readerperformanceAction }}</td>
        </tr>
    </tbody>
</table>
