<app-loader [isLoading]="true" *ngIf="loading"></app-loader>

<table class="table table-sm small table-striped">
	<tbody>
		<tr>
			<td>No of DM unlocks</td>
			<td>{{ record.unlocksDm }}</td>
		</tr>
        <tr>
			<td>No. of NonDM unlocks</td>
			<td>{{ record.unlocksNonDm }}</td>
		</tr>
        <tr>
			<td>Reason for Unlock</td>
			<td>{{ record.unlocksReasons }}</td>
		</tr>
    </tbody>
</table>

<span class="alert alert-info">Last Updated on: {{ record?.updatedOn | date: 'd-MMM-y, h:mm a' }}</span>