<header class="shadow mb-3 mt-3 bg-white sidebar-sticky rounded-right">
  <nav class="d-flex flex-column navbar navbar-expand-lg sticky-top  navbar-light bg-white mb-0 px-0 pt-3">
    <a class="p-0 navbar-brand text-center" routerLink="/home" translate>
      <img class="logo mx-auto mb-4 w-100 h-auto px-5" height="30px" src="assets/logo.png" alt="Icon logo" />
    </a>
    <a class="p-0 navbar-brand text-center border-top w-100 m-0" routerLink="/home" translate> </a>
    <span class="text-center font-monospace d-flex flex-column align-items-center text-black-50"
      ><span class="fs-2" translate>APP_NAME</span>
      <span class="fs-6 text-secondary">{{ appVersion }} ({{ site | uppercase }})</span>
      </span
    >
    <!-- *appHasPermissions="homeMenuGroupPermissions" -->
    <div id="navbar-menu" class="d-flex collapse navbar-collapse float-xs-none w-100" [ngbCollapse]="menuHidden">
      <div class="d-flex flex-column navbar-nav ">
        
        
        Studies
        
        <div class="nav-item" ngbDropdown display="dynamic" placement="bottom-right">
          <a
            id="user-dropdown"
            class="nav-link"
            routerLink="/studies"
            routerLinkActive="active"
            Title="Studies-Seaech"
            
          >
            <span>Search</span>
          </a>
        </div>
        
        <div class="nav-item" ngbDropdown display="dynamic" placement="bottom-right">
          <a
            id="user-dropdown"
            class="nav-link"
            routerLink="/study-details"
            routerLinkActive="active"
            Title="Studies"
            
          >
            <span>Details</span></a
          >
        </div>
        <!-- *appHasPermissions="studyMenuGroupPermissions" -->
        <div class="nav-item" ngbDropdown display="dynamic" placement="bottom-right">
          <a
            id="user-dropdown"
            class="nav-link"
            routerLink="/fte-demand"
            routerLinkActive="active"
            Title="FTE Demaind"
            
          >
            <span>Demand</span></a
          >
        </div>
        <div
          class="nav-item"
          ngbDropdown
          display="dynamic"
          placement="bottom-right"
          
        >
          <a
            id="user-dropdown"
            class="nav-link"
            routerLink="/fte-assignment"
            routerLinkActive="active"
            Title="FTE Assignment"
           
          >
            <span>Assignment</span></a
          >
        </div>
        <div
          class="nav-item"
          ngbDropdown
          display="dynamic"
          placement="bottom-right"
        >
          <a
            id="user-dropdown"
            class="nav-link"
            routerLink="/fte-milestones"
            routerLinkActive="active"
            Title="Milestones"
           
          >
            <span>Milestones</span></a
          >
        </div>

        Resources
        <div class="nav-item" ngbDropdown display="dynamic" placement="bottom-right">
          <a
            id="user-dropdown"
            class="nav-link"
            routerLink="/resources-search"
            routerLinkActive="active"
            Title="Search"
            
          >
            <span>Search</span></a
          >
        </div>
        <div class="nav-item" ngbDropdown display="dynamic" placement="bottom-right">
          <a
            id="user-dropdown"
            class="nav-link"
            routerLink="/resources-assignment"
            routerLinkActive="active"
            Title="Search"
            
          >
            <span>Assignment</span></a
          >
        </div>

      Uploads  

        

        <div class="nav-item" ngbDropdown display="dynamic" placement="bottom-right">
          <a
            id="user-dropdown"
            class="nav-link"
            routerLink="/uploads-study"
            routerLinkActive="active"
            Title="Requests"
            
          >
            <span>Study</span></a
          >
        </div>

        <div class="nav-item" ngbDropdown display="dynamic" placement="bottom-right">
          <a
            id="user-dropdown"
            class="nav-link"
            routerLink="/uploads-employee"
            routerLinkActive="active"
            
          >
            <span>Employee</span></a
          >
        </div>
        
        <div class="nav-item" ngbDropdown display="dynamic" placement="bottom-right">
          <a
            id="user-dropdown"
            class="nav-link"
            routerLink="/uploads-timesheet"
            routerLinkActive="active"
           
          >
            <span>Timesheet</span></a
          >
        </div>
        <div class="nav-item" ngbDropdown display="dynamic" placement="bottom-right">
          <a
            id="user-dropdown"
            class="nav-link"
            routerLink="/uploads-demand"
            routerLinkActive="active"
           
          >
            <span>Demand</span></a
          >
        </div>
        <div class="nav-item" ngbDropdown display="dynamic" placement="bottom-right">
          <a
            id="user-dropdown"
            class="nav-link"
            routerLink="/uploads-assignment"
            routerLinkActive="active"
           
          >
            <span>Assignment</span></a
          >
        </div>
        


        <div class="nav-item" ngbDropdown display="dynamic" placement="bottom-right">
          <a id="user-dropdown" class="nav-link" ngbDropdownToggle data-toggle="tooltip" title="{{ userEmail }}" role="button">
            <span translate>{{ username }}</span>
          </a>

          <div ngbDropdownMenu aria-labelledby="user-dropdown">
            <!-- <h6 class="dropdown-header">
              <span translate>Logged in as </span> <b>{{ username }}</b>
            </h6> -->
            <!-- <div class="dropdown-divider"></div> -->
            <!-- <button class="dropdown-item" (click)="reloadPermissions()" translate>Reload Permissions</button> -->
            <button class="dropdown-item" routerLink="/user/user-access-view" routerLinkActive="active" translate>
              My Access Permissions
            </button>
            <button class="dropdown-item" routerLink="/user/login-details" routerLinkActive="active" translate>
              My Login Log
            </button>
            <button class="dropdown-item" (click)="logout()"><span>Logout</span></button>
          </div>
        </div>
      </div>
    </div>
    <!-- <p>permissions: {{permissions | json}}</p>() -->
  </nav>
</header>
