<h2>Login Details</h2>
<app-loader [isLoading]="isLoading"></app-loader>
<app-login-details-log-filter [selectedFilters]="selectedFilters" (filterChange)="onFilterChange($event)"></app-login-details-log-filter>
<!-- //[requiredPermissions]="requiredPermissions" -->
<div class="row " style="min-height: 200px;">
  <div class="col-md-12">
    <!-- {{columns | json}} -->
    <div class="table-responsive">
			<table class="table table-sm table-hover small table-striped">
				<thead style="background-color: var(--green) !important;">
					<tr>
						<th align="right">Enterprise Id</th>
						<th align="right">User Name</th>
						<th align="right">Login Attempted On</th>
						<th align="right">Is Login Successful</th>
						<!-- <th align="right">Request Method</th> -->
						<!-- <th align="right">Https</th> -->
						<!-- <th align="right">Server Port</th> -->
						<!-- <th align="right">Local Address</th> -->
						<!-- <th align="right">Host Address</th> -->
						<!-- <th align="right">User Agent</th> -->
						<th align="right">Url</th>
					</tr>
				</thead>
				<tbody>
					<tr
						*ngFor="let record of records; let i = index"
					>
						<td>{{ record.enterpriseId }}</td>
						<td>{{ record.userName }}</td>
						<td>{{ record.createdOn | date: 'dd-MMM-yyyy HH:mm:ss' }}</td>
						<td>{{getIsSuccessfulStatus(record.blnSuccessfull)}}</td>
						<!-- <td>{{ record.requestMethod }}</td> -->
						<!-- <td>{{ record.https }}</td> -->
						<!-- <td>{{ record.serverPort }}</td> -->
						<!-- <td>{{ record.localAddr }}</td> -->
						<!-- <td>{{ record.hostAddress }}</td> -->
						<!-- <td>{{ record.userAgent }}</td> -->
						<td>{{ record.url }}</td>
					</tr>
				</tbody>
			</table>
			<pagination-control
				[page]="pageNumber"
				[pageSize]="pageSize"
				[collectionSize]="totalItems"
				(onPageChange)="onPageChange($event)"
			></pagination-control>
		</div>
	</div>
</div>