<app-loader [isLoading]="true" *ngIf="loading"></app-loader>

<table class="table table-sm  small table-striped">
	<tbody>
        <tr>
			<td>Study Status</td>
			<td>{{ studystatus.studyStatusPDescription }}</td>
		</tr>
        <tr>
			<td>Total Expected Randomized Subject</td>
			<td>{{ studystatus.revisedRandomisedSubjectsExpected }}</td>
		</tr>
        <tr>
			<td>Actual Expected Randomized Subject</td>
			<td>{{ studystatus.actualRandomisedSubjects }}</td>
		</tr>
        <tr>
			<td>Total Expected Screen Failure Subjects</td>
			<td>{{ studystatus.totalExpectedScreenFailureSubjects }}</td>
		</tr>
        <tr>
			<td>Actual Screen Failure Subjects</td>
			<td>{{ studystatus.actualScreenFailureSubjects }}</td>
		</tr>
        <tr>
			<td>Actual Terminated Randomized Subject</td>
			<td>{{ studystatus.actualTerminatedRandomizedSubjects }}</td>
		</tr>
        <tr>
			<td>Total Pages Expected</td>
			<td>{{ studystatus.totalPagesExpected }}</td>
		</tr>
        <tr>
			<td>Actual Pages Processed</td>
			<td>{{ studystatus.actualPagesProcessed }}</td>
		</tr>
        <tr>
			<td>Study On-Hold</td>
			<td>{{ studystatus.studyOnHoldPDescription }}</td>
		</tr>
        <tr>
			<td>Date Study On-Hold</td>
			<td>{{ studystatus.dateStudyOnHold }}</td>
		</tr>
        <tr>
			<td>Study Cancelled</td>
			<td>{{ studystatus.studyCancelledPDescription }}</td>
		</tr>
        <tr>
			<td>Date Study Cancelled</td>
			<td>{{ studystatus.dateStudyStopped }}</td>
		</tr>
        <tr>
			<td>Pages still to Process</td>
			<td>{{ studystatus.dPagesStillToProcess }}</td>
		</tr>
        <tr>
			<td>Adjusted avg Pages Per Month</td>
			<td>{{ studystatus.dAdjustedAvgPagesPerMonth }}</td>
		</tr>
    </tbody>
</table>

<!-- <span class="alert alert-info">Last Updated on: {{ studystatus?.updatedOn | date: 'd-MMM-y, h:mm a' }}</span> -->

<app-last-saved [auditFields]="studystatus"></app-last-saved>